flows_controller_iteration_ver_2025-11-13_1930.json
[
    {
        "id": "a08ac2921f5c33a7",
        "type": "tab",
        "label": "Контроллер итерации",
        "disabled": false,
        "info": "Версия: 2025-11-13_1930 (131120251930)",
        "env": []
    },
    {
        "id": "c1a3dcd1bb6d2abc",
        "type": "ui_tab",
        "name": "Контроллер итерации",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa9b12c4a61eab67",
        "type": "ui_group",
        "name": "Версия",
        "tab": "b2e4d5c6f7a8091e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3e8b01d31bc4f432",
        "type": "ui_group",
        "name": "Изменения",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6f6d1d13c83d9c31",
        "type": "ui_group",
        "name": "Управление",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1d4f8b34e9b2a123",
        "type": "ui_group",
        "name": "Шаг 1",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a5c2bf128e940f3a",
        "type": "ui_group",
        "name": "Шаг 2",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "84df0b3a72d3c9aa",
        "type": "ui_group",
        "name": "Шаг 3",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f7b3c712db9a2e4c",
        "type": "ui_group",
        "name": "Шаг 4",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b3e3ed472ab1cc55",
        "type": "ui_group",
        "name": "Шаг 5",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5d2d0d5ecb20a567",
        "type": "ui_group",
        "name": "Значения",
        "tab": "d4c198f7b8ad2c5e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "ui_group",
        "name": "График",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 10,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c8e9f2a1b3d4e5f6",
        "type": "ui_group",
        "name": "История версий",
        "tab": "b2e4d5c6f7a8091e",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f2c1a7d9b4e56a01",
        "type": "ui_group",
        "name": "Заметки",
        "tab": "a7f5d2310bc4e98f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d4c198f7b8ad2c5e",
        "type": "ui_tab",
        "name": "Переменные",
        "icon": "table_chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7f5d2310bc4e98f",
        "type": "ui_tab",
        "name": "Заметки",
        "icon": "event_note",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2e4d5c6f7a8091e",
        "type": "ui_tab",
        "name": "История версий",
        "icon": "history",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c908241177f8961",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b9b46564f136d895",
        "type": "inject",
        "z": "a08ac2921f5c33a7",
        "name": "Старт проекта",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "087dd889f067e022"
            ]
        ]
    },
    {
        "id": "e9fee55e2834b57e",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Инициализация проекта",
        "func": "const versionDisplay = \"131120251930\";\nconst versionCode = '2025-11-13_1930';\nconst versionNumber = Number(versionDisplay);\nconst configFile = \"/data/controller_iteration_params.json\";\nconst trendExportDir = \"/data/trends\";\nconst notesFile = \"/data/iteration_notes.json\";\nfunction createEmptyAiSnapshot() {\n    return {\n        labels: [],\n        iteration: [],\n        channels: Array.from({ length: 8 }, () => [])\n    };\n}\n\nfunction createEmptyExportSnapshot() {\n    return {\n        labels: [],\n        value: [],\n        step: [],\n        ai: createEmptyAiSnapshot()\n    };\n}\n\nconst emptyExportSnapshot = createEmptyExportSnapshot();\nconst defaultSteps = [\n    { start: -1000, speed: 100, step: 100, end: 1000, pause: 0 },\n    { start: -500, speed: 150, step: 50, end: 500, pause: 100 },\n    { start: -250, speed: 200, step: 25, end: 250, pause: 100 },\n    { start: 0, speed: 250, step: 50, end: 500, pause: 200 },\n    { start: 500, speed: 300, step: 100, end: -500, pause: 0 }\n];\nconst changeLog = [\n    \"061120251343: Начальная версия. Добавлен пятишаговый контроллер итерации с управлением, чтением/записью параметров, панелью мониторинга и HTTP интерфейсом.\",\n    \"061120251400: Исправлено экранирование function-узлов и восстановлено разбиение шагов формы.\",\n    \"061120251523: Исправлены таймеры контроллера итерации, восстановлено чтение/запись параметров и VER теперь число.\",\n    \"061120251606: Формы сохраняют значения без очистки, график ограничен 10 минутами и 500 точками.\",\n    \"061120251656: Пропуск шагов со скоростью 0 не меняет ITERATION_VALUE; обновлена версия 2025-11-06_1656.\",\n    \"061120251854: Исправлены race conditions в таймерах, синхронизация состояния, логика пропуска шагов, finishStep при pause=0, валидация параметров и оптимизация производительности.\",\n    \"061120251923: Исправлена логика паузы при пропуске шага (пауза не выполняется если шаг пропущен), добавлен номер шага на график, история версий перенесена в конец дашборда.\",\n    \"061120252015: Шаг итерации теперь всегда положительный, направление определяется автоматически по начальному и конечному значениям. Добавлен тренд ITERATION_STEP на график итерации.\",\n    \"061120252036: Добавлены русские описания для всех переменных в секции 'Значения' на дашборде.\",\n    \"061120252139: Добавлены три графика итерации с разными масштабами времени: 30 секунд, 5 минут и 1 час. Тренды отключены по умолчанию при загрузке проекта с возможностью выборочного включения через легенду.\",\n    \"061120252244: Оставлен один график на 5 минут с количеством точек 500.\",\n    \"061120252305: Исправлены критические проблемы стабильности: race conditions в таймерах (добавлена защита флагом processing), исправлена логика пропуска шагов (значение ITERATION_VALUE не меняется при skip), убрана компенсация задержек (оставлен простой setTimeout), добавлена обработка ошибок записи файла, улучшена синхронизация состояния контроллера.\",\n    \"081120251732: Обновлены версия проекта и имя файла, синхронизирован flow.version.\",\n    \"081120251908: Исправлены версия/имя файла, добавлены линии без маркеров, миллисекунды на оси времени и кнопка рядом с графиком.\",\n    \"081120251945: Гарантирована выгрузка тренда при пропуске последнего шага; синхронизированы версия и имя файла.\",\n    \"081120252018: Добавлен экспорт данных тренда в файл по кнопке после завершения цикла.\",\n    \"081120252047: Исправлена конфигурация узла записи тренда, обеспечена запись файла экспорта.\",\n    \"091120250057: Добавлен столбец времени (мс) в экспорт тренда и убрана версия из имени файла экспорта.\",\n    \"091120250925: Добавлены глобальные переменные времени цикла и шагов итерации, отображение времени шагов на панели.\",\n    \"091120251048: Добавлены расчётные длительности шагов и цикла, фактические значения сохраняются до нового измерения.\",\n    \"091120251205: График итерации отображает фактические метки времени, учитывая реальные паузы между шагами.\",\n    \"091120251436: Исправлена структура файла и гарантирован автозапуск итерации при загрузке проекта.\",\n    \"091120251523: Добавлен теоретический график итерации, оба графика показывают время от 0 мс (относительное время от начала цикла).\",\n    \"091120251532: Исправлен график фактической итерации - временная шкала всегда начинается с нуля (первая точка всегда имеет время 0 мс).\",\n    \"091120251734: Обновлено имя файла на версию 091120251734.\",\n    \"091120251747: Временная шкала графиков в миллисекундах, теоретический график обновляется при рестарте.\",\n    \"091120252204: Исправлена функция экспорта тренда (убран некорректный Date.parse), исправлено количество outputs в функции сохранения шага (4→5), добавлены пояснения в названия графиков.\",\n    \"091120252022: Изменена интерполяция графиков с linear на step-after для отображения реальной ступенчатой картины итерации.\",\n    \"091120252300: Унифицированы настройки обоих графиков - установлена интерполяция step и формат времени mm:ss для одинакового отображения.\",\n    \"101120251042: Убрано дублирование конечной точки на теоретическом графике.\",\n    \"101120251143: Добавлена панель заметок на дашборде с сохранением и загрузкой записей из файла.\",\n    \"101120251228: Вынесены переменные, версия и заметки на отдельные вкладки, заметки показывают текущую версию.\",\n    \"101120251339: Добавлены отдельные вкладки «История версий» и «Заметки», запись заметок ведётся с новой строкой.\",\n    \"101120251456: Включено сохранение данных на вкладках и синхронизирована версия контекста.\",\n    \"101120251511: Добавлен узел ui_base для корректной работы дашборда, исправлена структура проекта.\",\n    \"101120251732: Увеличен буфер тренда с 2000 до 20000 точек для более детальной записи итераций.\",\n    \"101120251745: Поле 'Новая заметка' теперь активно сразу при загрузке проекта (добавлена инициализация формы).\",\n    \"101120252034: Исправлена блокировка поля ввода заметок - отключена прямая инициализация формы, textarea с resetAfterSubmit работает корректно.\",\n    \"101120252042: Исправлена недоступность поля ввода заметок - подключен 5-й выход узла инициализации к форме заметок для корректной инициализации при загрузке проекта.\",\n    \"101120252151: Удалена пустая вкладка Flow 3 и обновлена версия проекта.\",\n    \"101120252256: Синхронизированы версии контекста, вкладок и история изменений.\",\n    \"101120252311: Исправлена установка ITERATION_CYCLE_TIME после паузы после 5 шага, добавлена пауза после последнего шага перед завершением цикла.\",\n    \"101120252326: Исправлено отображение ITERATION_CYCLE_TIME - теперь вычисляется из суммы фактических времён шагов, если значение не установлено или равно 0.\",\n    \"111120250851: Учтена пауза последнего шага при расчёте резервного времени цикла, удалены дубликаты ui_base и обновлена версия 2025-11-11_0851.\",\n    \"111120251012: Учтена пауза последнего шага в плановом времени цикла и обновлена версия 2025-11-11_1012.\",\n    \"111120251921: Переведена задержка измерения ADAM-6717 на динамический msg.delay, сброс глобального шага измерения после фиксации восьми каналов.\",\n    \"111120252037: Виджет «Текущее значение» показывает измеренный сигнал ADAM-6717, журнал версий дополнен новыми записями.\",\n    \"111120252148: Обновлена версия 2025-11-11_2148; таблица переменных реагирует на каждый тик итерации.\",\n    \"121120251316: Синхронизированы версии, обновлён формат отображения инициализации заметок без дублей.\",\n    \"131120251010: Добавлены глобальные переменные результатов по шагам и расширен список переменных.\",\n    \"131120251500: Добавлена вкладка ADAM-6717 с трендом каналов и экспортом измерений.\",\n    \"121120251808: График ADAM-6717 фиксирует все изменения итерации, добавлены кнопки тренда и обновлён экспорт.\",\n    \"131120251930: Кнопка экспорта на графике ADAM-6717 сохраняет файл с трендом измерений.\",\n];\n\nfunction ensureNumber(key, fallback = 0) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, fallback);\n    }\n}\n\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\n\nfunction updatePlanEstimates(steps) {\n    let cyclePlan = 0;\n    steps.forEach((cfg, index) => {\n        const duration = calculateStepDuration(cfg);\n        global.set(`ITER_STEP_TIME_PLAN_${index + 1}`, duration);\n        if (duration > 0) {\n            cyclePlan += duration;\n            const pause = Number(cfg?.pause) || 0;\n            cyclePlan += Math.max(0, pause);\n        }\n    });\n    global.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\n}\n\nflow.set('version', versionCode);\nflow.set('versionDisplay', versionDisplay);\nflow.set('configFile', configFile);\nflow.set('defaultSteps', defaultSteps);\nflow.set('changeLog', changeLog);\nflow.set('trendExportDir', trendExportDir);\nflow.set('trendExportData', emptyExportSnapshot);\nflow.set('trendExportReady', false);\nflow.set('aiTrendBuffer', createEmptyAiSnapshot());\nflow.set('aiTrendExportSnapshot', createEmptyAiSnapshot());\nflow.set('aiTrendExportReady', false);\nflow.set('aiTrendStartTs', null);\nflow.set('aiTrendLastStep', 0);\nflow.set('notesFile', notesFile);\nflow.set('aiMeasurementLog', []);\nflow.set('aiLastResultStep', 0);\nflow.set('notes', []);\n\nfor (let i = 1; i <= 5; i += 1) {\n    ensureNumber(`ITER_STEP_TIME_${i}`, 0);\n}\nensureNumber('ITERATION_CYCLE_TIME', 0);\nupdatePlanEstimates(defaultSteps);\n\nglobal.set('VER', versionNumber);\n\nconst loadMsg = {\n    topic: 'loadParameters',\n    filename: configFile,\n    defaults: defaultSteps,\n    source: 'файл'\n};\nconst versionMsg = {\n    payload: `Текущая версия: ${versionDisplay}`\n};\nconst changeMsg = {\n    payload: changeLog\n};\nconst notesMsg = {\n    topic: 'loadNotes',\n    filename: notesFile,\n    source: 'файл'\n};\nconst formInitMsg = {\n    payload: { text: \"\" },\n    topic: 'initForm'\n};\n\nreturn [loadMsg, versionMsg, changeMsg, notesMsg, formInitMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "ae116832065f53d7"
            ],
            [
                "eb14c9ca9fece03f",
                "8b5c3e6c1309a572"
            ],
            [
                "792fe4585db37f7c"
            ],
            [
                "0542246442c1b5b3"
            ],
            [
                "7279690a17aea695"
            ]
        ]
    },
    {
        "id": "ae116832065f53d7",
        "type": "file in",
        "z": "a08ac2921f5c33a7",
        "name": "Чтение параметров",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "c7f34f155da5dc00"
            ]
        ]
    },
    {
        "id": "c7f34f155da5dc00",
        "type": "json",
        "z": "a08ac2921f5c33a7",
        "name": "JSON -> объект",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 980,
        "y": 60,
        "wires": [
            [
                "965bef21a9980deb"
            ]
        ]
    },
    {
        "id": "965bef21a9980deb",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Применить параметры",
        "func": "const defaults = flow.get('defaultSteps') || [];\nconst source = msg.source || (msg.filename ? \"файл\" : \"данные\");\nlet incoming = [];\nif (msg.payload && Array.isArray(msg.payload.steps)) {\n    incoming = msg.payload.steps;\n} else if (Array.isArray(msg.payload)) {\n    incoming = msg.payload;\n}\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nfunction validateStep(step, index) {\n    const speed = toNumber(step.speed, 100);\n    const stepValue = Math.abs(toNumber(step.step, 1));\n    const start = toNumber(step.start, 0);\n    const end = toNumber(step.end, 0);\n    const pause = toNumber(step.pause, 0);\n    if (speed < 0) {\n        node.warn(`Шаг ${index + 1}: скорость не может быть отрицательной, установлено 0`);\n    }\n    if (pause < 0) {\n        node.warn(`Шаг ${index + 1}: пауза не может быть отрицательной, установлено 0`);\n    }\n    if (stepValue <= 0) {\n        node.warn(`Шаг ${index + 1}: шаг должен быть положительным, установлено 1`);\n    }\n    return {\n        start: start,\n        speed: Math.max(0, speed),\n        step: Math.max(1, stepValue),\n        end: end,\n        pause: Math.max(0, pause)\n    };\n}\nfunction ensureActual(key) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, 0);\n    }\n}\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\nconst normalizedSteps = [];\nlet cyclePlan = 0;\nfor (let i = 0; i < 5; i++) {\n    const def = defaults[i] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\n    const item = incoming[i] || def;\n    const normalized = validateStep(item, i);\n    normalizedSteps.push(normalized);\n    const index = i + 1;\n    global.set(`ITER_START_${index}`, normalized.start);\n    global.set(`ITER_SPEED_${index}`, normalized.speed);\n    global.set(`ITER_STEP_${index}`, normalized.step);\n    global.set(`ITER_END_${index}`, normalized.end);\n    global.set(`ITER_PAUSE_${index}`, normalized.pause);\n    const planDuration = calculateStepDuration(normalized);\n    global.set(`ITER_STEP_TIME_PLAN_${index}`, planDuration);\n    if (planDuration > 0) {\n        cyclePlan += planDuration;\n        const pause = Number(normalized.pause) || 0;\n        cyclePlan += Math.max(0, pause);\n    }\n    ensureActual(`ITER_STEP_TIME_${index}`);\n}\nglobal.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\nensureActual('ITERATION_CYCLE_TIME');\nflow.set('steps', normalizedSteps);\nflow.set('lastLoadSource', source);\nconst initialStep = normalizedSteps[0] || { start: 0 };\nconst initialValue = toNumber(initialStep.start, 0);\nglobal.set('ITERATION_STEP', 1);\nglobal.set('ITERATION_CONTROL', 1);\nglobal.set('ITERATION_VALUE', initialValue);\nconst controllerMsg = {\n    action: 'restart',\n    steps: normalizedSteps\n};\nconst formsMsg = {\n    payload: normalizedSteps\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры загружены (${source})`\n};\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [controllerMsg, formsMsg, variablesMsg, statusMsg, theoreticalMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 900,
        "wires": [
            [
                "b0e77c33518518b3"
            ],
            [
                "85b5a57a666c6083"
            ],
            [
                "3f6a9578f7772ace"
            ],
            [
                "e5c7362f2922f84b"
            ],
            [
                "333c09057c84a0c6"
            ]
        ]
    },
    {
        "id": "2962dd2fe5c9546d",
        "type": "catch",
        "z": "a08ac2921f5c33a7",
        "name": "Ошибки работы с файлом",
        "scope": [
            "ae116832065f53d7",
            "c7f34f155da5dc00",
            "79604dbb910cfed6",
            "eac26ca7a0c09994",
            "cf450942e2ea92c1"
        ],
        "uncaught": false,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "dbc80cb2051cf165"
            ]
        ]
    },
    {
        "id": "dbc80cb2051cf165",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Обработка ошибки файла",
        "func": "if (msg.error && msg.error.message) {\n    const errorMsg = msg.error.message;\n    const topic = msg.topic;\n    const filename = msg.filename;\n\n    node.warn(`Ошибка работы с файлом: ${errorMsg}`);\n\n    if (topic === 'loadNotes') {\n        const statusMsg = {\n            payload: filename && errorMsg.includes('ENOENT')\n                ? 'Файл заметок не найден, создан пустой список'\n                : `Ошибка загрузки заметок: ${errorMsg}`\n        };\n        const notesMsg = {\n            payload: [],\n            topic: 'notesUpdate',\n            statusText: statusMsg.payload\n        };\n        flow.set('notes', []);\n        return [null, statusMsg, notesMsg];\n    }\n\n    if (topic === 'saveNotes') {\n        const statusMsg = {\n            payload: `Ошибка сохранения заметок: ${errorMsg}`\n        };\n        return [null, statusMsg, null];\n    }\n\n    if (filename && errorMsg.includes('ENOENT')) {\n        node.warn('Файл параметров не найден, используем значения по умолчанию');\n        const defaults = flow.get('defaultSteps') || [];\n        msg.payload = { steps: defaults };\n        msg.source = 'значения по умолчанию';\n        return [msg, null, null];\n    }\n\n    if (filename) {\n        const statusMsg = {\n            payload: `Ошибка работы с файлом: ${errorMsg}`\n        };\n        return [null, statusMsg, null];\n    }\n}\n\nconst defaults = flow.get('defaultSteps') || [];\nmsg.payload = { steps: defaults };\nmsg.source = 'значения по умолчанию';\nreturn [msg, null, null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 740,
        "wires": [
            [
                "965bef21a9980deb"
            ],
            [
                "e5c7362f2922f84b"
            ],
            [
                "a0364937934fc68b"
            ]
        ]
    },
    {
        "id": "85b5a57a666c6083",
        "type": "split",
        "z": "a08ac2921f5c33a7",
        "name": "По шагам",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2060,
        "y": 940,
        "wires": [
            [
                "84cbfa0d3ad3221e"
            ]
        ]
    },
    {
        "id": "84cbfa0d3ad3221e",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовка для форм",
        "func": "const index = (msg.parts && Number(msg.parts.index)) || 0;\nconst stepNumber = index + 1;\nconst step = msg.payload || {};\nmsg.step = stepNumber;\nmsg.topic = `step${stepNumber}`;\nmsg.payload = {\n    start: step.start,\n    speed: step.speed,\n    step: step.step,\n    end: step.end,\n    pause: step.pause\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1320,
        "wires": [
            [
                "ed03c63fcbef54f5"
            ]
        ]
    },
    {
        "id": "ed03c63fcbef54f5",
        "type": "switch",
        "z": "a08ac2921f5c33a7",
        "name": "К формам",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1130,
        "y": 960,
        "wires": [
            [
                "240353c7c18fa076"
            ],
            [
                "24bbee429ffa656a"
            ],
            [
                "afa86c872c0c17a0"
            ],
            [
                "bfe20c5a8e7d5227"
            ],
            [
                "84927c8d71051cb8"
            ]
        ]
    },
    {
        "id": "240353c7c18fa076",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Шаг 1",
        "label": "Шаг 1",
        "group": "1d4f8b34e9b2a123",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step1",
        "className": "",
        "x": 1350,
        "y": 1000,
        "wires": [
            [
                "359ac8ee014e912e"
            ]
        ]
    },
    {
        "id": "24bbee429ffa656a",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Шаг 2",
        "label": "Шаг 2",
        "group": "a5c2bf128e940f3a",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step2",
        "className": "",
        "x": 1350,
        "y": 940,
        "wires": [
            [
                "359ac8ee014e912e"
            ]
        ]
    },
    {
        "id": "afa86c872c0c17a0",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Шаг 3",
        "label": "Шаг 3",
        "group": "84df0b3a72d3c9aa",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step3",
        "className": "",
        "x": 1350,
        "y": 1060,
        "wires": [
            [
                "359ac8ee014e912e"
            ]
        ]
    },
    {
        "id": "bfe20c5a8e7d5227",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Шаг 4",
        "label": "Шаг 4",
        "group": "f7b3c712db9a2e4c",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step4",
        "className": "",
        "x": 1350,
        "y": 1160,
        "wires": [
            [
                "359ac8ee014e912e"
            ]
        ]
    },
    {
        "id": "84927c8d71051cb8",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Шаг 5",
        "label": "Шаг 5",
        "group": "b3e3ed472ab1cc55",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step5",
        "className": "",
        "x": 1350,
        "y": 1120,
        "wires": [
            [
                "359ac8ee014e912e"
            ]
        ]
    },
    {
        "id": "359ac8ee014e912e",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сохранить изменения шага",
        "func": "const topic = msg.topic || \"\";\nconst match = topic.match(/step([0-9]+)/);\nif (!match) {\n    return null;\n}\nconst index = Number(match[1]) - 1;\nif (index < 0) {\n    return null;\n}\nconst currentSteps = flow.get('steps');\nconst baseSteps = Array.isArray(currentSteps) ? [...currentSteps] : [...(flow.get('defaultSteps') || [])];\nconst current = baseSteps[index] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nfunction validateStep(step, index) {\n    const speed = toNumber(step.speed, current.speed);\n    const stepValue = toNumber(step.step, current.step);\n    const start = toNumber(step.start, current.start);\n    const end = toNumber(step.end, current.end);\n    const pause = toNumber(step.pause, current.pause);\n    if (speed < 0) {\n        node.warn(`Шаг ${index + 1}: скорость не может быть отрицательной, установлено 0`);\n    }\n    if (pause < 0) {\n        node.warn(`Шаг ${index + 1}: пауза не может быть отрицательной, установлено 0`);\n    }\n    return {\n        start: start,\n        speed: Math.max(0, speed),\n        step: stepValue,\n        end: end,\n        pause: Math.max(0, pause)\n    };\n}\nfunction ensureActual(key) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, 0);\n    }\n}\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\nconst updated = validateStep(msg.payload, index);\nbaseSteps[index] = updated;\nflow.set('steps', baseSteps);\nconst stepNo = index + 1;\nglobal.set(`ITER_START_${stepNo}`, updated.start);\nglobal.set(`ITER_SPEED_${stepNo}`, updated.speed);\nglobal.set(`ITER_STEP_${stepNo}`, updated.step);\nglobal.set(`ITER_END_${stepNo}`, updated.end);\nglobal.set(`ITER_PAUSE_${stepNo}`, updated.pause);\nensureActual(`ITER_STEP_TIME_${stepNo}`);\nlet cyclePlan = 0;\nfor (let i = 0; i < baseSteps.length; i++) {\n    const cfg = baseSteps[i];\n    const duration = calculateStepDuration(cfg);\n    global.set(`ITER_STEP_TIME_PLAN_${i + 1}`, duration);\n    if (duration > 0) {\n        cyclePlan += duration;\n        const pause = Number(cfg?.pause) || 0;\n        cyclePlan += Math.max(0, pause);\n    }\n}\nglobal.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\nensureActual('ITERATION_CYCLE_TIME');\nconst controllerMsg = {\n    action: 'updateParameters',\n    steps: baseSteps,\n    updatedStep: stepNo\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры шага ${stepNo} обновлены через панель`\n};\nconst formsMsg = {\n    payload: baseSteps,\n    source: 'панель'\n};\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [controllerMsg, variablesMsg, statusMsg, formsMsg, theoreticalMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1020,
        "wires": [
            [
                "b0e77c33518518b3"
            ],
            [
                "3f6a9578f7772ace"
            ],
            [
                "e5c7362f2922f84b"
            ],
            [
                "85b5a57a666c6083"
            ],
            [
                "333c09057c84a0c6"
            ]
        ]
    },
    {
        "id": "b0e77c33518518b3",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Контроллер итерации",
        "func": "// === ИНИЦИАЛИЗАЦИЯ СОСТОЯНИЯ ===\nlet state = context.get('state') || {};\n\n// Загрузка шагов из flow context при необходимости\nif (!state.steps || !Array.isArray(state.steps) || state.steps.length === 0) {\n    const flowSteps = flow.get('steps') || [];\n    state.steps = Array.isArray(flowSteps) && flowSteps.length > 0 ? flowSteps : [];\n    state.stepGlobalsReady = false;\n}\n\n// Обновление шагов из сообщения\nif (Array.isArray(msg.steps) && msg.steps.length) {\n    state.steps = msg.steps;\n    state.stepGlobalsReady = false;\n}\n\n// Инициализация номера шага\nif (!state.currentStep || state.currentStep < 1) {\n    state.currentStep = 1;\n}\nif (state.steps.length && state.currentStep > state.steps.length) {\n    state.currentStep = 1;\n}\n\n// Инициализация состояния управления\nif (state.control === undefined) {\n    state.control = global.get('ITERATION_CONTROL') || 0;\n}\n\nif (typeof state.skipChain !== 'number') {\n    state.skipChain = 0;\n}\n\nif (typeof state.flushPending !== 'boolean') {\n    state.flushPending = false;\n}\n\nif (typeof state.stepGlobalsReady !== 'boolean') {\n    state.stepGlobalsReady = false;\n}\n\nif (!Number.isFinite(state.cycleStartedAt)) {\n    state.cycleStartedAt = 0;\n}\n\nif (!Number.isFinite(state.stepStartedAt)) {\n    state.stepStartedAt = 0;\n}\n\nif (!Array.isArray(flow.get('aiMeasurementLog'))) {\n    flow.set('aiMeasurementLog', []);\n}\nif (!Number.isFinite(Number(flow.get('aiLastResultStep')))) {\n    flow.set('aiLastResultStep', 0);\n}\nfor (let ch = 1; ch <= 8; ch += 1) {\n    const currentKey = `ITER_AI_CH${ch}_CURRENT`;\n    const resultKey = `ITER_AI_CH${ch}_RESULT`;\n    if (!Number.isFinite(Number(global.get(currentKey)))) {\n        global.set(currentKey, 0);\n    }\n    if (!Number.isFinite(Number(global.get(resultKey)))) {\n        global.set(resultKey, 0);\n    }\n}\nif (!Number.isFinite(Number(global.get('ITER_AI_MEASURE_STEP')))) {\n    global.set('ITER_AI_MEASURE_STEP', 0);\n}\n\n// === ВСПОМОГАТЕЛЬНЫЕ ФУНКЦИИ ===\n\nif (!state.stepGlobalsReady && Array.isArray(state.steps) && state.steps.length) {\n    resetStepResultGlobals(state.steps);\n    state.stepGlobalsReady = true;\n}\n\nfunction resetStepResultGlobals(stepList) {\n    const stepsArray = Array.isArray(stepList) ? stepList : [];\n    const total = stepsArray.length;\n    if (total <= 0) {\n        return;\n    }\n    for (let stepIndex = 1; stepIndex <= total; stepIndex += 1) {\n        for (let ch = 1; ch <= 8; ch += 1) {\n            global.set(`ITER_AI_STEP${stepIndex}_CH${ch}`, 0);\n        }\n    }\n}\n\nfunction updateStepResultGlobals(stepNumber, values) {\n    const numericStep = Number(stepNumber);\n    const stepIndex = Number.isFinite(numericStep) ? Math.max(1, Math.trunc(numericStep)) : 0;\n    if (stepIndex <= 0) {\n        return;\n    }\n    const vector = Array.isArray(values) ? values : [];\n    for (let ch = 1; ch <= 8; ch += 1) {\n        const valueRaw = vector[ch - 1];\n        const numericValue = Number.isFinite(Number(valueRaw)) ? Number(valueRaw) : 0;\n        global.set(`ITER_AI_STEP${stepIndex}_CH${ch}`, numericValue);\n    }\n}\n\nfunction getStepConfig(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return null;\n    }\n    const index = Math.max(0, Math.min(stepNumber - 1, state.steps.length - 1));\n    return state.steps[index];\n}\n\nfunction setCurrentStep(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        state.currentStep = stepNumber;\n    } else {\n        let step = stepNumber;\n        if (step < 1) {\n            step = 1;\n        }\n        if (step > state.steps.length) {\n            step = 1;\n        }\n        state.currentStep = step;\n    }\n    global.set('ITERATION_STEP', state.currentStep);\n}\n\nfunction setValue(value) {\n    state.value = value;\n    global.set('ITERATION_VALUE', value);\n}\n\nfunction setControl(controlValue) {\n    state.control = controlValue;\n    global.set('ITERATION_CONTROL', controlValue);\n}\n\nfunction isLastStep() {\n    return Array.isArray(state.steps) && state.steps.length > 0 && state.currentStep === state.steps.length;\n}\n\nfunction clearMainTimer() {\n    if (state.timer) {\n        clearTimeout(state.timer);\n        state.timer = null;\n    }\n}\n\nfunction clearPauseTimer() {\n    if (state.pauseTimer) {\n        clearTimeout(state.pauseTimer);\n        state.pauseTimer = null;\n    }\n}\n\nfunction clearAllTimers() {\n    clearMainTimer();\n    clearPauseTimer();\n    state.processing = false;\n}\n\nfunction markCycleStart() {\n    state.cycleStartedAt = Date.now();\n}\n\nfunction updateStepTime(stepNumber, duration) {\n    const numericStep = Number(stepNumber);\n    if (!Number.isFinite(numericStep) || numericStep < 1) {\n        return;\n    }\n    const numericDuration = Number(duration);\n    const safeDuration = Number.isFinite(numericDuration) ? Math.max(0, Math.round(numericDuration)) : 0;\n    global.set(`ITER_STEP_TIME_${numericStep}`, safeDuration);\n}\n\nfunction broadcast(reason, includeValue = true) {\n    const out1 = includeValue ? (() => {\n        const timestamp = Date.now();\n        const iterationValue = Number.isFinite(Number(state.value)) ? Number(state.value) : 0;\n        const channels = [];\n        for (let ch = 1; ch <= 8; ch += 1) {\n            const current = Number(global.get(`ITER_AI_CH${ch}_CURRENT`));\n            channels.push(Number.isFinite(current) ? current : 0);\n        }\n        const measureStepGlobal = Number(global.get('ITER_AI_MEASURE_STEP')) || 0;\n        return {\n            payload: iterationValue,\n            iterationValue,\n            step: state.currentStep,\n            iterationStep: state.currentStep,\n            topic: `Шаг ${state.currentStep}`,\n            reason,\n            ts: timestamp,\n            channels,\n            aiTrend: {\n                ts: timestamp,\n                values: channels,\n                iterationValue,\n                iterationStep: state.currentStep,\n                measureStep: measureStepGlobal,\n                reason\n            }\n        };\n    })() : null;\n    const out2 = {\n        topic: 'state',\n        reason,\n        control: state.control,\n        step: state.currentStep,\n        value: state.value,\n        ts: Date.now()\n    };\n    node.send([out1, out2]);\n}\n\nfunction shouldSkipStep(cfg) {\n    if (!cfg) return true;\n    const speed = Number(cfg.speed) || 0;\n    const stepValue = Number(cfg.step) || 0;\n    return speed <= 0 || stepValue === 0;\n}\n\nfunction appendMeasurementLog(stepNumber, values, source = 'measure') {\n    const existing = flow.get('aiMeasurementLog');\n    const log = Array.isArray(existing) ? existing.slice() : [];\n    const numericStep = Number(stepNumber);\n    const safeStep = Number.isFinite(numericStep) ? numericStep : 0;\n    const vector = Array.isArray(values) ? values.slice() : [];\n    while (vector.length < 8) {\n        vector.push(0);\n    }\n    const entry = {\n        ts: Date.now(),\n        step: safeStep,\n        values: vector.slice(0, 8).map((val) => {\n            const num = Number(val);\n            return Number.isFinite(num) ? num : 0;\n        }),\n        source\n    };\n    log.push(entry);\n    const MAX_LOG = 500;\n    if (log.length > MAX_LOG) {\n        log.splice(0, log.length - MAX_LOG);\n    }\n    flow.set('aiMeasurementLog', log);\n    flow.set('aiLastResultStep', safeStep);\n    updateStepResultGlobals(safeStep, entry.values);\n}\n\nfunction applyZeroMeasurement(stepNumber) {\n    for (let ch = 1; ch <= 8; ch += 1) {\n        global.set(`ITER_AI_CH${ch}_RESULT`, 0);\n    }\n    appendMeasurementLog(stepNumber, new Array(8).fill(0), 'skip');\n    updateStepResultGlobals(stepNumber, new Array(8).fill(0));\n    global.set('ITER_AI_MEASURE_STEP', 0);\n}\n\n// === ЛОГИКА ЗАВЕРШЕНИЯ ШАГА ===\n\nfunction finishStep(reason) {\n    clearAllTimers();\n\n    // Проверка состояния контроллера\n    if (state.control !== 1) {\n        return;\n    }\n\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    const now = Date.now();\n    let duration = 0;\n    if (Number.isFinite(state.stepStartedAt) && state.stepStartedAt > 0) {\n        duration = Math.max(0, now - state.stepStartedAt);\n    }\n    if (reason === 'skip') {\n        duration = 0;\n    }\n    updateStepTime(state.currentStep, duration);\n    state.stepStartedAt = 0;\n\n    if (reason) {\n        broadcast(reason, false);\n    }\n\n    // ИСПРАВЛЕНИЕ #3: Если шаг пропущен, не делаем паузу\n    if (reason === 'skip') {\n        // Если это последний шаг и он пропущен, завершаем цикл\n        if (isLastStep()) {\n            const cycleDuration = (Number.isFinite(state.cycleStartedAt) && state.cycleStartedAt > 0)\n                ? Math.max(0, now - state.cycleStartedAt)\n                : 0;\n            global.set('ITERATION_CYCLE_TIME', Math.round(cycleDuration));\n            state.cycleStartedAt = 0;\n            state.flushPending = true;\n            broadcast('cycleComplete');\n            return;\n        }\n        advanceStep('nextStep');\n        return;\n    }\n\n    const pause = Number(cfg.pause) || 0;\n\n    if (reason === 'completed') {\n        if (pause >= 2) {\n            const halfPause = Math.max(1, Math.round(pause / 2));\n            const measurementPayload = {\n                payload: Number.isFinite(Number(state.value)) ? Number(state.value) : 0,\n                iterationValue: Number.isFinite(Number(state.value)) ? Number(state.value) : 0,\n                step: state.currentStep,\n                reason: 'pauseMeasure',\n                pause,\n                measureDelay: halfPause,\n                measureStep: state.currentStep,\n                measure: true,\n                ts: Date.now()\n            };\n            node.send([measurementPayload, null]);\n        } else {\n            applyZeroMeasurement(state.currentStep);\n        }\n    }\n\n    // Если это последний шаг, выполняем паузу перед завершением цикла\n    if (isLastStep() && reason === 'completed') {\n        if (pause > 0) {\n            state.pauseTimer = setTimeout(() => {\n                state.pauseTimer = null;\n                // Повторная проверка состояния перед завершением цикла\n                if (state.control !== 1) {\n                    return;\n                }\n                const pauseEndTime = Date.now();\n                const cycleDuration = (Number.isFinite(state.cycleStartedAt) && state.cycleStartedAt > 0)\n                    ? Math.max(0, pauseEndTime - state.cycleStartedAt)\n                    : 0;\n                global.set('ITERATION_CYCLE_TIME', Math.round(cycleDuration));\n                state.cycleStartedAt = 0;\n                state.flushPending = true;\n                broadcast('pauseHold');\n                broadcast('cycleComplete');\n            }, pause);\n        } else {\n            // Если паузы нет, сразу завершаем цикл\n            const cycleDuration = (Number.isFinite(state.cycleStartedAt) && state.cycleStartedAt > 0)\n                ? Math.max(0, now - state.cycleStartedAt)\n                : 0;\n            global.set('ITERATION_CYCLE_TIME', Math.round(cycleDuration));\n            state.cycleStartedAt = 0;\n            state.flushPending = true;\n            broadcast('cycleComplete');\n        }\n        return;\n    }\n\n    // Для не последних шагов выполняем обычную логику паузы\n    if (pause > 0) {\n        state.pauseTimer = setTimeout(() => {\n            state.pauseTimer = null;\n            // Повторная проверка состояния перед переходом\n            if (state.control !== 1) {\n                return;\n            }\n            broadcast('pauseHold');\n            advanceStep('pauseComplete');\n        }, pause);\n    } else {\n        // ИСПРАВЛЕНИЕ: Если паузы нет, сразу переходим к следующему шагу\n        advanceStep('nextStep');\n    }\n}\n\n// === ЛОГИКА ПЕРЕХОДА К СЛЕДУЮЩЕМУ ШАГУ ===\n\nfunction advanceStep(reason) {\n    clearAllTimers();\n\n    if (state.flushPending) {\n        return;\n    }\n\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return;\n    }\n\n    // Вычисление следующего шага\n    let nextStep = state.currentStep ? state.currentStep + 1 : 1;\n    if (nextStep > state.steps.length) {\n        nextStep = 1;\n    }\n\n    setCurrentStep(nextStep);\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #6: Проверка на пропуск ДО установки значения\n    if (shouldSkipStep(cfg)) {\n        state.skipChain = (typeof state.skipChain === 'number' ? state.skipChain : 0) + 1;\n        updateStepTime(state.currentStep, 0);\n        // При пропуске шага значение НЕ меняется\n        broadcast('skip', false);\n\n        if (state.skipChain >= state.steps.length) {\n            setControl(0);\n            broadcast('skipLimit', false);\n            state.skipChain = 0;\n            return;\n        }\n\n        finishStep('skip');\n        return;\n    }\n\n    state.skipChain = 0;\n\n    if (state.currentStep === 1) {\n        markCycleStart();\n    }\n\n    // Установка начального значения только если шаг НЕ пропускается\n    const startValue = Number(cfg.start);\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n    state.stepStartedAt = Date.now();\n    broadcast(reason || 'stepStart');\n\n    // Проверка состояния перед запуском таймера\n    if (state.control !== 1) {\n        return;\n    }\n\n    scheduleNextTick();\n}\n\n// === ЛОГИКА ПЛАНИРОВАНИЯ СЛЕДУЮЩЕГО ТИКА ===\n\nfunction scheduleNextTick(delayOverride) {\n    // ИСПРАВЛЕНИЕ #4: Защита от race conditions\n    if (state.processing) {\n        return;\n    }\n\n    if (state.flushPending) {\n        return;\n    }\n\n    clearMainTimer();\n\n    // ИСПРАВЛЕНИЕ #5: Проверка состояния контроллера\n    if (state.control !== 1) {\n        return;\n    }\n\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    if (shouldSkipStep(cfg)) {\n        finishStep('skip');\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #7: Убрана компенсация задержек, простой setTimeout\n    const delay = delayOverride != null ? delayOverride : (Number(cfg.speed) || 0);\n    if (delay <= 0) {\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #4: Установка флага обработки\n    state.processing = true;\n\n    state.timer = setTimeout(() => {\n        state.timer = null;\n        // ИСПРАВЛЕНИЕ #4: Сброс флага обработки\n        state.processing = false;\n\n        // ИСПРАВЛЕНИЕ #5: Проверка состояния после таймера\n        if (state.control !== 1) {\n            return;\n        }\n\n        const cfgInner = getStepConfig(state.currentStep);\n        if (!cfgInner) {\n            return;\n        }\n\n        const stepValue = Math.abs(Number(cfgInner.step) || 0);\n        if (stepValue === 0) {\n            finishStep('skip');\n            return;\n        }\n\n        const startValue = Number(cfgInner.start);\n        const endValue = Number(cfgInner.end);\n        const direction = endValue >= startValue ? 1 : -1;\n        const increment = stepValue * direction;\n\n        let nextValue = state.value + increment;\n\n        // Ограничение по конечному значению\n        if (direction > 0) {\n            if (nextValue > endValue) {\n                nextValue = endValue;\n            }\n        } else {\n            if (nextValue < endValue) {\n                nextValue = endValue;\n            }\n        }\n\n        setValue(nextValue);\n        broadcast('tick');\n\n        // Проверка достижения конечного значения\n        const reachedEnd = (direction > 0 && nextValue >= endValue) || (direction < 0 && nextValue <= endValue);\n        if (reachedEnd) {\n            finishStep('completed');\n        } else {\n            scheduleNextTick();\n        }\n    }, delay);\n}\n\n// === ИНИЦИАЛИЗАЦИЯ ЗНАЧЕНИЯ ПРИ ПЕРВОМ ЗАПУСКЕ ===\n\nif (!Number.isFinite(state.value)) {\n    const cfg = getStepConfig(state.currentStep);\n    const startValue = cfg ? Number(cfg.start) : 0;\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n}\n\n// === ОБРАБОТКА КОМАНД ===\n\nconst action = msg.action || msg.topic || '';\n\nswitch (action) {\n    case 'restart':\n        clearAllTimers();\n        state.flushPending = false;\n\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n            state.stepGlobalsReady = false;\n        }\n\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n\n        resetStepResultGlobals(state.steps);\n        state.stepGlobalsReady = true;\n        setCurrentStep(1);\n        const firstCfg = getStepConfig(state.currentStep);\n\n        if (firstCfg) {\n            markCycleStart();\n            if (shouldSkipStep(firstCfg)) {\n                // Не устанавливаем значение при пропуске\n                setControl(2);\n                broadcast('restart');\n                setControl(1);\n                broadcast('run', false);\n                finishStep('skip');\n            } else {\n                const startValue = Number(firstCfg.start);\n                setValue(Number.isFinite(startValue) ? startValue : 0);\n                state.stepStartedAt = Date.now();\n                setControl(2);\n                broadcast('restart');\n                setControl(1);\n                broadcast('run', false);\n                scheduleNextTick();\n            }\n        }\n        break;\n\n    case 'start':\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n\n        state.flushPending = false;\n\n        if (state.control === 1) {\n            // Уже запущен, просто возобновляем если нужно\n            if (!state.timer && !state.pauseTimer && !state.processing) {\n                scheduleNextTick();\n            }\n            broadcast('resume', false);\n            break;\n        }\n\n        setControl(1);\n        if (!Number.isFinite(state.cycleStartedAt) || state.cycleStartedAt <= 0) {\n            markCycleStart();\n        }\n        clearPauseTimer();\n        broadcast('resume', false);\n        scheduleNextTick();\n        break;\n\n    case 'stop':\n        clearAllTimers();\n        state.flushPending = false;\n        setControl(0);\n        broadcast('stop', false);\n        break;\n\n    case 'updateParameters':\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n            state.stepGlobalsReady = false;\n        }\n\n        const currentCfg = getStepConfig(state.currentStep);\n        if (currentCfg) {\n            const startVal = Number(currentCfg.start);\n            const endVal = Number(currentCfg.end);\n\n            if (Number.isFinite(startVal) && Number.isFinite(endVal)) {\n                const min = Math.min(startVal, endVal);\n                const max = Math.max(startVal, endVal);\n\n                if (!Number.isFinite(state.value) || state.value < min || state.value > max) {\n                    setValue(startVal);\n                    broadcast('parameters');\n                } else {\n                    broadcast('parameters', false);\n                }\n            } else {\n                broadcast('parameters', false);\n            }\n        } else {\n            broadcast('parameters', false);\n        }\n\n        if (state.control === 1 && !state.processing) {\n            scheduleNextTick();\n        }\n        break;\n\n    case 'flushResume':\n        if (state.flushPending) {\n            state.flushPending = false;\n            if (state.control === 1) {\n                advanceStep('cycleResume');\n            }\n        }\n        break;\n\n    default:\n        if (state.control === 1 && !state.timer && !state.pauseTimer && !state.processing) {\n            scheduleNextTick();\n        }\n        break;\n}\n\n// Сохранение состояния\ncontext.set('state', state);\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "e4d2c1b0a9f8e7d6",
                "dda569eb28a8c682"
            ],
            [
                "3f6a9578f7772ace",
                "f98f5c0cd27769d1"
            ]
        ]
    },
    {
        "id": "dda569eb28a8c682",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Отображение значения",
        "func": "const reason = msg.reason || '';\nconst command = msg.command || '';\nconst outputs = [null, null, null, null, null, null];\nconst isMeasurement = reason === 'pauseMeasure' || msg.measure === true;\nconst measureStepValue = Number(msg.measureStep || msg.step || global.get('ITERATION_STEP') || 0);\nconst measureDelayValue = Number(msg.measureDelay || msg.delay || 0);\nconst MAX_BUFFER_SIZE = 20000;\nconst EXPORT_KEY = 'trendExportData';\nconst EXPORT_READY_KEY = 'trendExportReady';\n\nfunction createEmptyAiSnapshot() {\n    return {\n        labels: [],\n        iteration: [],\n        channels: Array.from({ length: 8 }, () => [])\n    };\n}\n\nfunction normalizeAiSnapshot(raw) {\n    if (!raw || typeof raw !== 'object') {\n        return createEmptyAiSnapshot();\n    }\n    const labels = Array.isArray(raw.labels) ? raw.labels.slice() : [];\n    const iteration = Array.isArray(raw.iteration) ? raw.iteration.slice() : [];\n    const rawChannels = Array.isArray(raw.channels) ? raw.channels : [];\n    const channels = Array.from({ length: 8 }, (_, index) => {\n        const series = Array.isArray(rawChannels[index]) ? rawChannels[index] : [];\n        return series.slice();\n    });\n    return { labels, iteration, channels };\n}\n\nfunction ensureBuffer() {\n    const current = flow.get('trendBuffer');\n    if (current && typeof current === 'object') {\n        const labels = Array.isArray(current.labels) ? current.labels : [];\n        const value = Array.isArray(current.value) ? current.value : [];\n        const step = Array.isArray(current.step) ? current.step : [];\n        return { labels, value, step };\n    }\n    return { labels: [], value: [], step: [] };\n}\n\nfunction formatTimestamp(ts) {\n    const numeric = Number(ts);\n    if (Number.isFinite(numeric)) {\n        try {\n            return new Date(numeric).toISOString();\n        } catch (err) {\n            // ignore\n        }\n    }\n    return new Date().toISOString();\n}\n\nfunction getCycleStartTime() {\n    const stored = flow.get('cycleStartTime');\n    return Number.isFinite(Number(stored)) ? Number(stored) : null;\n}\n\nfunction setCycleStartTime(ts) {\n    if (Number.isFinite(Number(ts))) {\n        flow.set('cycleStartTime', Number(ts));\n    }\n}\n\nfunction appendPoint(buffer, value, step, ts) {\n    if (!Number.isFinite(value) || !Number.isFinite(step)) {\n        return;\n    }\n\n    while (buffer.labels.length >= MAX_BUFFER_SIZE) {\n        buffer.labels.shift();\n        buffer.value.shift();\n        buffer.step.shift();\n    }\n\n    // Временная шкала всегда начинается с нуля\n    // Если буфер пуст, это первая точка - время = 0\n    // Если буфер не пуст, вычисляем время относительно первой точки\n    let relativeTime = 0;\n    if (buffer.labels.length === 0) {\n        // Первая точка всегда имеет время 0\n        relativeTime = 0;\n        // Сохраняем timestamp первой точки для последующих вычислений\n        if (Number.isFinite(Number(ts))) {\n            setCycleStartTime(Number(ts));\n        }\n    } else {\n        // Вычисляем время относительно первой точки\n        const cycleStart = getCycleStartTime();\n        if (cycleStart !== null && Number.isFinite(Number(ts))) {\n            relativeTime = Math.max(0, Number(ts) - cycleStart);\n        } else {\n            // Если cycleStart не установлен, используем последнее время + минимальный шаг\n            const lastTime = buffer.labels.length > 0 ? Number(buffer.labels[buffer.labels.length - 1]) : 0;\n            relativeTime = lastTime + 1; // Минимальный шаг 1 мс\n        }\n    }\n    \n    // Используем относительное время как timestamp (в миллисекундах от 0)\n    buffer.labels.push(relativeTime);\n    buffer.value.push(value);\n    buffer.step.push(step);\n}\n\nfunction cloneBuffer(buffer) {\n    return {\n        labels: buffer.labels.slice(),\n        value: buffer.value.slice(),\n        step: buffer.step.slice()\n    };\n}\n\nfunction toTimestamp(value) {\n    if (value instanceof Date) {\n        return value.getTime();\n    }\n    const parsed = Date.parse(value);\n    if (Number.isFinite(parsed)) {\n        return parsed;\n    }\n    const numeric = Number(value);\n    if (Number.isFinite(numeric)) {\n        return numeric;\n    }\n    return NaN;\n}\n\nfunction createSeriesPoints(labels, seriesValues) {\n    const points = [];\n    const length = Math.min(labels.length, seriesValues.length);\n    for (let i = 0; i < length; i += 1) {\n        // labels уже содержат относительное время в миллисекундах\n        const x = Number(labels[i]);\n        const y = Number(seriesValues[i]);\n        if (Number.isFinite(x) && Number.isFinite(y)) {\n            points.push({ x, y });\n        }\n    }\n    return points;\n}\n\nfunction buildChartMessages(buffer, options = {}) {\n    const { forceClear = false } = options;\n    const messages = [];\n\n    if (forceClear) {\n        messages.push({ ui_control: { clear: true } });\n    }\n\n    const valueSeries = createSeriesPoints(buffer.labels, buffer.value);\n    const stepSeries = createSeriesPoints(buffer.labels, buffer.step);\n\n    if (valueSeries.length || stepSeries.length) {\n        messages.push({\n            payload: [\n                {\n                    series: ['ITERATION_VALUE', 'ITERATION_STEP'],\n                    data: [valueSeries, stepSeries],\n                    labels: []\n                }\n            ],\n            topic: 'ITERATION_BUFFER'\n        });\n    }\n\n    return messages;\n}\n\n\nfunction resetBuffer(buffer) {\n    buffer.labels = [];\n    buffer.value = [];\n    buffer.step = [];\n}\n\nfunction storeExportSnapshot(snapshot) {\n    const aiSnapshot = normalizeAiSnapshot(flow.get('aiTrendExportSnapshot'));\n    const exportSnapshot = {\n        labels: Array.isArray(snapshot.labels) ? snapshot.labels.slice() : [],\n        value: Array.isArray(snapshot.value) ? snapshot.value.slice() : [],\n        step: Array.isArray(snapshot.step) ? snapshot.step.slice() : [],\n        ai: aiSnapshot\n    };\n    const hasIteration = exportSnapshot.labels.length > 0;\n    const hasAi = Array.isArray(exportSnapshot.ai.labels) ? exportSnapshot.ai.labels.length > 0 : false;\n    flow.set(EXPORT_KEY, exportSnapshot);\n    flow.set(EXPORT_READY_KEY, hasIteration || hasAi);\n}\n\n\nfunction getExportSnapshot() {\n    const data = flow.get(EXPORT_KEY);\n    if (data && typeof data === 'object') {\n        const labels = Array.isArray(data.labels) ? data.labels : [];\n        const value = Array.isArray(data.value) ? data.value : [];\n        const step = Array.isArray(data.step) ? data.step : [];\n        const ai = normalizeAiSnapshot(data.ai);\n        return { labels, value, step, ai };\n    }\n    return { labels: [], value: [], step: [], ai: createEmptyAiSnapshot() };\n}\n\nfunction clearExportSnapshot() {\n    flow.set(EXPORT_KEY, { labels: [], value: [], step: [], ai: createEmptyAiSnapshot() });\n    flow.set(EXPORT_READY_KEY, false);\n    flow.set('aiTrendExportSnapshot', createEmptyAiSnapshot());\n}\n\nconst buffer = ensureBuffer();\nconst numericValue = Number(msg.payload);\nconst stepCandidate = Number(msg.step);\nconst stepValue = Number.isFinite(stepCandidate) ? stepCandidate : Number(global.get('ITERATION_STEP'));\nconst timestamp = Number.isFinite(Number(msg.ts)) ? Number(msg.ts) : Date.now();\n\nif (reason === 'tick') {\n    appendPoint(buffer, numericValue, stepValue, timestamp);\n}\n\nif (reason === 'restart' || reason === 'stop') {\n    resetBuffer(buffer);\n    clearExportSnapshot();\n    if (reason === 'restart') {\n        setCycleStartTime(timestamp);\n    } else if (reason === 'stop') {\n        flow.set('cycleStartTime', null);\n    }\n    outputs[0] = [{ ui_control: { clear: true } }];\n    node.status({ fill: 'grey', shape: 'dot', text: 'Буфер очищен' });\n}\n\nconst startTriggers = ['restart', 'nextStep', 'pauseComplete', 'pauseHold', 'cycleResume'];\nif (startTriggers.includes(reason)) {\n    if (reason === 'restart' || (reason === 'nextStep' && stepValue === 1)) {\n        setCycleStartTime(timestamp);\n    }\n    appendPoint(buffer, numericValue, stepValue, timestamp);\n}\n\nif (reason && Number.isFinite(numericValue)) {\n    const analogMsg = { ...msg, payload: numericValue };\n    outputs[2] = analogMsg;\n}\n\nif (reason && Number.isFinite(stepValue)) {\n    outputs[3] = { payload: stepValue };\n}\n\nif (command === 'manualFlush') {\n    const snapshot = cloneBuffer(buffer);\n    if (snapshot.labels.length) {\n        outputs[0] = buildChartMessages(snapshot, { forceClear: true });\n        node.status({ fill: 'blue', shape: 'ring', text: `Ручная отрисовка (${snapshot.labels.length})` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Буфер пуст' });\n    }\n}\n\nif (reason === 'cycleComplete') {\n    const snapshot = cloneBuffer(buffer);\n    const chartMessages = buildChartMessages(snapshot, { forceClear: true });\n    outputs[0] = chartMessages.length ? chartMessages : [{ ui_control: { clear: true } }];\n    storeExportSnapshot(snapshot);\n    if (snapshot.labels.length) {\n        node.status({ fill: 'blue', shape: 'dot', text: `Готово к экспорту (${snapshot.labels.length})` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n    outputs[4] = {\n        action: 'flushResume',\n        topic: 'flushResume',\n        reason: 'cycleComplete',\n        ts: Date.now()\n    };\n    resetBuffer(buffer);\n}\n\nif (command === 'exportTrend') {\n    const ready = flow.get(EXPORT_READY_KEY);\n    const snapshot = getExportSnapshot();\n    const iterationCount = snapshot.labels.length;\n    const aiCount = Array.isArray(snapshot.ai?.labels) ? snapshot.ai.labels.length : 0;\n    if (ready && (iterationCount || aiCount)) {\n        outputs[5] = {\n            topic: 'trendExport',\n            payload: snapshot,\n            ts: Date.now()\n        };\n        clearExportSnapshot();\n        const total = Math.max(iterationCount, aiCount);\n        node.status({ fill: 'green', shape: 'dot', text: `Экспортировано ${total}` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n}\n\nflow.set('trendBuffer', buffer);\nreturn outputs;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1540,
        "wires": [
            [
                "9e3403912fea510b"
            ],
            [
                "9e3403912fea510b"
            ],
            [
                "505f4fa54f5bb567"
            ],
            [
                "2fa6a509c0ab111e"
            ],
            [
                "b0e77c33518518b3"
            ],
            [
                "c04796559979afea"
            ]
        ]
    },
    {
        "id": "333c09057c84a0c6",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Вычисление теоретической траектории",
        "func": "// Вычисление теоретической траектории на основе параметров шагов\nconst topic = msg.topic || '';\nif (topic !== 'updateTheoretical') {\n    return null;\n}\n\nconst steps = flow.get('steps') || flow.get('defaultSteps') || [];\nif (!Array.isArray(steps) || steps.length === 0) {\n    return [{ ui_control: { clear: true } }];\n}\n\nconst valuePoints = [];\nconst stepPoints = [];\nlet currentTime = 0;\n\nfor (let i = 0; i < steps.length; i++) {\n    const cfg = steps[i];\n    const stepNumber = i + 1;\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    const speed = Number(cfg?.speed) || 0;\n    const pause = Number(cfg?.pause) || 0;\n\n    // Пропуск шага если скорость = 0 или шаг = 0\n    if (speed <= 0 || stepValue <= 0) {\n        // Пропущенный шаг - значение не меняется, время не тратится\n        continue;\n    }\n\n    // Начальная точка шага\n    valuePoints.push({ x: currentTime, y: start });\n    stepPoints.push({ x: currentTime, y: stepNumber });\n\n    // Вычисление направления\n    const direction = end >= start ? 1 : -1;\n    const increment = stepValue * direction;\n\n    // Вычисление всех промежуточных точек\n    let currentValue = start;\n    let tickTime = currentTime;\n\n    while (true) {\n        const nextValue = currentValue + increment;\n        const reachedEnd = (direction > 0 && nextValue >= end) || (direction < 0 && nextValue <= end);\n\n        tickTime += speed;\n        const outputValue = reachedEnd ? end : nextValue;\n\n        valuePoints.push({ x: tickTime, y: outputValue });\n        stepPoints.push({ x: tickTime, y: stepNumber });\n\n        currentValue = outputValue;\n\n        if (reachedEnd) {\n            currentTime = tickTime;\n            break;\n        }\n    }\n\n    // Добавление паузы после шага (включая последний шаг)\n    if (pause > 0) {\n        currentTime += pause;\n        // Точка в конце паузы (значение не меняется)\n        valuePoints.push({ x: currentTime, y: end });\n        stepPoints.push({ x: currentTime, y: stepNumber });\n    }\n}\n\nif (valuePoints.length === 0 || stepPoints.length === 0) {\n    return [{ ui_control: { clear: true } }];\n}\n\nreturn [\n    { ui_control: { clear: true } },\n    {\n        payload: [\n            {\n                series: ['ITERATION_VALUE_THEORETICAL', 'ITERATION_STEP_THEORETICAL'],\n                data: [valuePoints, stepPoints],\n                labels: []\n            }\n        ],\n        topic: 'THEORETICAL_CHART'\n    }\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1140,
        "wires": [
            [
                "3527170d1f60ac09"
            ],
            [
                "3527170d1f60ac09"
            ]
        ]
    },
    {
        "id": "9e3403912fea510b",
        "type": "ui_chart",
        "z": "a08ac2921f5c33a7",
        "name": "График фактической итерации",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "График итерации (фактический, время в мин:с от начала цикла)",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "step",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1530,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "3527170d1f60ac09",
        "type": "ui_chart",
        "z": "a08ac2921f5c33a7",
        "name": "График теоретической итерации",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 4,
        "width": "12",
        "height": "6",
        "label": "График итерации (теоретический, время в мин:с от начала цикла)",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "step",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2060,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "bc7875a4f44a4f3b",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "6f6d1d13c83d9c31",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Текущее значение",
        "label": "Текущее значение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3130,
        "y": 780,
        "wires": []
    },
    {
        "id": "2fa6a509c0ab111e",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "6f6d1d13c83d9c31",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Активный шаг",
        "label": "Активный шаг",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 1480,
        "y": 1540,
        "wires": []
    },
    {
        "id": "eb14c9ca9fece03f",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "fa9b12c4a61eab67",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Версия проекта",
        "label": "Версия",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "792fe4585db37f7c",
        "type": "ui_template",
        "z": "a08ac2921f5c33a7",
        "group": "c8e9f2a1b3d4e5f6",
        "name": "История версий",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">История версий</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"margin-bottom:4px;\">\n    {{$index + 1}}. {{item}}\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3f6a9578f7772ace",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сформировать список переменных",
        "func": "const dataList = [];\nconst versionDisplay = flow.get('versionDisplay') || \"\";\nconst versionCode = flow.get('version') || \"\";\nconst configuredSteps = flow.get('steps');\nconst defaultSteps = flow.get('defaultSteps');\nconst fallbackCount = Array.isArray(defaultSteps) && defaultSteps.length ? defaultSteps.length : 5;\nconst stepCountRaw = Array.isArray(configuredSteps) && configuredSteps.length ? configuredSteps.length : fallbackCount;\nconst safeStepCount = Math.max(1, Math.min(32, Number(stepCountRaw) || fallbackCount || 1));\nconst descriptions = {\n    'VER': 'Версия проекта (число)',\n    'flow.version': 'Версия проекта (строка)',\n    'versionDisplay': 'Отображаемая версия',\n    'ITERATION_CONTROL': 'Управление (0-стоп, 1-старт, 2-рестарт)',\n    'ITERATION_STEP': 'Номер текущего шага',\n    'ITERATION_VALUE': 'Текущее значение итерации',\n    'ITERATION_CYCLE_TIME': 'Время полного цикла (мс)',\n    'ITERATION_CYCLE_TIME_PLAN': 'Расчётное время полного цикла (мс)',\n    'ITER_AI_MEASURE_STEP': 'Шаг, для которого выполнялось измерение AI',\n    'ITER_AI_CH1_CURRENT': 'Текущее значение AI канала 1',\n    'ITER_AI_CH2_CURRENT': 'Текущее значение AI канала 2',\n    'ITER_AI_CH3_CURRENT': 'Текущее значение AI канала 3',\n    'ITER_AI_CH4_CURRENT': 'Текущее значение AI канала 4',\n    'ITER_AI_CH5_CURRENT': 'Текущее значение AI канала 5',\n    'ITER_AI_CH6_CURRENT': 'Текущее значение AI канала 6',\n    'ITER_AI_CH7_CURRENT': 'Текущее значение AI канала 7',\n    'ITER_AI_CH8_CURRENT': 'Текущее значение AI канала 8',\n    'ITER_AI_CH1_RESULT': 'Результат измерения AI канала 1',\n    'ITER_AI_CH2_RESULT': 'Результат измерения AI канала 2',\n    'ITER_AI_CH3_RESULT': 'Результат измерения AI канала 3',\n    'ITER_AI_CH4_RESULT': 'Результат измерения AI канала 4',\n    'ITER_AI_CH5_RESULT': 'Результат измерения AI канала 5',\n    'ITER_AI_CH6_RESULT': 'Результат измерения AI канала 6',\n    'ITER_AI_CH7_RESULT': 'Результат измерения AI канала 7',\n    'ITER_AI_CH8_RESULT': 'Результат измерения AI канала 8'\n};\nfor (let stepIndex = 1; stepIndex <= safeStepCount; stepIndex += 1) {\n    for (let ch = 1; ch <= 8; ch += 1) {\n        descriptions[`ITER_AI_STEP${stepIndex}_CH${ch}`] = `Результат шага ${stepIndex}, канал ${ch}`;\n    }\n}\ndataList.push({ name: 'VER', value: global.get('VER'), description: descriptions['VER'] });\ndataList.push({ name: 'flow.version', value: versionCode, description: descriptions['flow.version'] });\ndataList.push({ name: 'versionDisplay', value: versionDisplay, description: descriptions['versionDisplay'] });\ndataList.push({ name: 'ITERATION_CONTROL', value: global.get('ITERATION_CONTROL'), description: descriptions['ITERATION_CONTROL'] });\ndataList.push({ name: 'ITERATION_STEP', value: global.get('ITERATION_STEP'), description: descriptions['ITERATION_STEP'] });\ndataList.push({ name: 'ITERATION_VALUE', value: global.get('ITERATION_VALUE'), description: descriptions['ITERATION_VALUE'] });\nconst cycleRaw = global.get('ITERATION_CYCLE_TIME');\nlet cycleNumeric = Number(cycleRaw);\nif (!Number.isFinite(cycleNumeric) || cycleNumeric === 0) {\n    let cycleActual = 0;\n    for (let i = 1; i <= safeStepCount; i += 1) {\n        const stepTimeRaw = global.get(`ITER_STEP_TIME_${i}`);\n        const stepTimeNumeric = Number(stepTimeRaw);\n        const stepTime = Number.isFinite(stepTimeNumeric) ? Math.max(0, stepTimeNumeric) : 0;\n        if (stepTime > 0) {\n            cycleActual += stepTime;\n            const pauseRaw = global.get(`ITER_PAUSE_${i}`);\n            const pauseNumeric = Number(pauseRaw);\n            const pause = Number.isFinite(pauseNumeric) ? Math.max(0, pauseNumeric) : 0;\n            if (pause > 0) {\n                cycleActual += pause;\n            }\n        }\n    }\n    cycleNumeric = Math.max(0, Math.round(cycleActual));\n}\ndataList.push({ name: 'ITERATION_CYCLE_TIME', value: Math.max(0, Math.round(cycleNumeric)), description: descriptions['ITERATION_CYCLE_TIME'] });\nconst cyclePlanRaw = global.get('ITERATION_CYCLE_TIME_PLAN');\nconst cyclePlanNumeric = Number(cyclePlanRaw);\ndataList.push({ name: 'ITERATION_CYCLE_TIME_PLAN', value: Number.isFinite(cyclePlanNumeric) ? Math.max(0, Math.round(cyclePlanNumeric)) : 0, description: descriptions['ITERATION_CYCLE_TIME_PLAN'] });\nconst measureStepValue = Number(global.get('ITER_AI_MEASURE_STEP'));\ndataList.push({ name: 'ITER_AI_MEASURE_STEP', value: Number.isFinite(measureStepValue) ? measureStepValue : 0, description: descriptions['ITER_AI_MEASURE_STEP'] });\nfor (let ch = 1; ch <= 8; ch += 1) {\n    const currentKey = `ITER_AI_CH${ch}_CURRENT`;\n    const resultKey = `ITER_AI_CH${ch}_RESULT`;\n    const currentVal = Number(global.get(currentKey));\n    const resultVal = Number(global.get(resultKey));\n    dataList.push({ name: currentKey, value: Number.isFinite(currentVal) ? currentVal : 0, description: descriptions[currentKey] });\n    dataList.push({ name: resultKey, value: Number.isFinite(resultVal) ? resultVal : 0, description: descriptions[resultKey] });\n}\nfor (let stepIndex = 1; stepIndex <= safeStepCount; stepIndex += 1) {\n    for (let ch = 1; ch <= 8; ch += 1) {\n        const key = `ITER_AI_STEP${stepIndex}_CH${ch}`;\n        const value = Number(global.get(key));\n        dataList.push({ name: key, value: Number.isFinite(value) ? value : 0, description: descriptions[key] });\n    }\n}\nconst stepMessages = [];\nfor (let i = 1; i <= safeStepCount; i += 1) {\n    const start = global.get(`ITER_START_${i}`);\n    const speed = global.get(`ITER_SPEED_${i}`);\n    const step = global.get(`ITER_STEP_${i}`);\n    const end = global.get(`ITER_END_${i}`);\n    const pause = global.get(`ITER_PAUSE_${i}`);\n    const stepTimeRaw = global.get(`ITER_STEP_TIME_${i}`);\n    const planTimeRaw = global.get(`ITER_STEP_TIME_PLAN_${i}`);\n    const stepTimeNumeric = Number(stepTimeRaw);\n    const planTimeNumeric = Number(planTimeRaw);\n    const actualValue = Number.isFinite(stepTimeNumeric) ? Math.max(0, Math.round(stepTimeNumeric)) : 0;\n    const planValue = Number.isFinite(planTimeNumeric) ? Math.max(0, Math.round(planTimeNumeric)) : 0;\n    dataList.push({ name: `ITER_START_${i}`, value: start, description: `Начальное значение шага ${i}` });\n    dataList.push({ name: `ITER_SPEED_${i}`, value: speed, description: `Скорость шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_${i}`, value: step, description: `Шаг изменения шага ${i}` });\n    dataList.push({ name: `ITER_END_${i}`, value: end, description: `Конечное значение шага ${i}` });\n    dataList.push({ name: `ITER_PAUSE_${i}`, value: pause, description: `Пауза после шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_TIME_${i}`, value: actualValue, description: `Длительность шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_TIME_PLAN_${i}`, value: planValue, description: `Расчётная длительность шага ${i} (мс)` });\n    stepMessages.push({\n        step: i,\n        payload: actualValue,\n        plan: planValue,\n        topic: `stepTime${i}`\n    });\n}\nmsg.payload = dataList;\nreturn [msg, stepMessages];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "1116c6bc642ba5d0"
            ],
            [
                "1eced58239e82658"
            ]
        ]
    },
    {
        "id": "1116c6bc642ba5d0",
        "type": "ui_template",
        "z": "a08ac2921f5c33a7",
        "group": "5d2d0d5ecb20a567",
        "name": "Переменные",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">Текущие переменные</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"display:flex; justify-content:space-between; border-bottom:1px solid #ccc; padding:2px 0;\">\n    <span style=\"font-weight:500;\">{{item.name}} <span style=\"font-weight:normal; color:#666; font-size:0.9em;\">({{item.description}})</span></span>\n    <span>{{item.value}}</span>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1080,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "f98f5c0cd27769d1",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Статус контроллера",
        "func": "const reason = msg.reason || '';\nif (reason === 'tick') {\n    return null;\n}\nlet text = '';\nswitch (reason) {\n    case 'restart':\n        text = 'Контроллер перезапущен';\n        break;\n    case 'run':\n    case 'resume':\n        text = 'Контроллер запущен';\n        break;\n    case 'stop':\n        text = 'Контроллер остановлен';\n        break;\n    case 'parameters':\n        text = 'Параметры обновлены';\n        break;\n    case 'pauseComplete':\n        text = 'Пауза завершена';\n        break;\n    case 'nextStep':\n    case 'stepStart':\n        text = `Начат шаг ${msg.step}`;\n        break;\n    case 'skip':\n        text = `Шаг ${msg.step} пропущен (скорость=0 или шаг=0)`;\n        break;\n    default:\n        text = `Состояние обновлено (${reason || 'без причины'})`;\n}\ntext += ` (управление=${msg.control})`;\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 620,
        "wires": [
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "e5c7362f2922f84b",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "6f6d1d13c83d9c31",
        "order": 4,
        "width": "12",
        "height": "1",
        "name": "Статус операций",
        "label": "Статус",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 1110,
        "y": 540,
        "wires": []
    },
    {
        "id": "ef50c035e422955b",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Старт",
        "group": "6f6d1d13c83d9c31",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Старт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "f0915dfd1076a58a"
            ]
        ]
    },
    {
        "id": "f0915dfd1076a58a",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда старт",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "b0e77c33518518b3"
            ]
        ]
    },
    {
        "id": "974457e1046bafef",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Пауза",
        "group": "6f6d1d13c83d9c31",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Пауза",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "a11198f63914820c"
            ]
        ]
    },
    {
        "id": "a11198f63914820c",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда стоп",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "b0e77c33518518b3"
            ]
        ]
    },
    {
        "id": "959a8968e8d01642",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Рестарт",
        "group": "6f6d1d13c83d9c31",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Рестарт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "75de132a37ba4b2e"
            ]
        ]
    },
    {
        "id": "75de132a37ba4b2e",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Команда рестарт",
        "func": "msg.action = 'restart';\nconst steps = flow.get('steps');\nif (Array.isArray(steps)) {\n    msg.steps = steps;\n}\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [msg, theoreticalMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 460,
        "wires": [
            [
                "b0e77c33518518b3"
            ],
            [
                "333c09057c84a0c6"
            ]
        ]
    },
    {
        "id": "cc709412da19a1c6",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Загрузить из файла",
        "group": "6f6d1d13c83d9c31",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Загрузить из файла",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "027f4d53fa00a99b"
            ]
        ]
    },
    {
        "id": "027f4d53fa00a99b",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Чтение из файла",
        "func": "const filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst requestMsg = {\n    filename,\n    source: 'файл',\n    topic: 'loadParameters'\n};\nconst statusMsg = {\n    payload: 'Загрузка параметров из файла...'\n};\nreturn [requestMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "ae116832065f53d7"
            ],
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "4e7c5d5033924a17",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Сохранить в файл",
        "group": "6f6d1d13c83d9c31",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Сохранить в файл",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "d0513f943348df3d"
            ]
        ]
    },
    {
        "id": "d0513f943348df3d",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовить запись",
        "func": "const steps = flow.get('steps') || flow.get('defaultSteps') || [];\nconst filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst saveMsg = {\n    filename,\n    payload: { steps }\n};\nconst statusMsg = {\n    payload: 'Сохранение параметров в файл...'\n};\nreturn [saveMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "e7cf7429349e5cc6"
            ],
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "e7cf7429349e5cc6",
        "type": "json",
        "z": "a08ac2921f5c33a7",
        "name": "JSON -> текст",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 940,
        "y": 380,
        "wires": [
            [
                "79604dbb910cfed6"
            ]
        ]
    },
    {
        "id": "79604dbb910cfed6",
        "type": "file",
        "z": "a08ac2921f5c33a7",
        "name": "Запись параметров",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "83fb4d2a2e50c187"
            ]
        ]
    },
    {
        "id": "83fb4d2a2e50c187",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сообщить о сохранении",
        "func": "msg.payload = 'Параметры сохранены в файл';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "d0e059d23d051144",
        "type": "http in",
        "z": "a08ac2921f5c33a7",
        "name": "API состояние",
        "url": "/iteration/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "89d8d54407dfd718"
            ]
        ]
    },
    {
        "id": "89d8d54407dfd718",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовить ответ",
        "func": "const response = {\n    version: flow.get('version'),\n    versionDisplay: flow.get('versionDisplay'),\n    control: global.get('ITERATION_CONTROL'),\n    step: global.get('ITERATION_STEP'),\n    value: global.get('ITERATION_VALUE'),\n    steps: []\n};\nfor (let i = 1; i <= 5; i++) {\n    response.steps.push({\n        index: i,\n        start: global.get(`ITER_START_${i}`),\n        speed: global.get(`ITER_SPEED_${i}`),\n        step: global.get(`ITER_STEP_${i}`),\n        end: global.get(`ITER_END_${i}`),\n        pause: global.get(`ITER_PAUSE_${i}`)\n    });\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 600,
        "wires": [
            [
                "dac3c901e387ac54"
            ]
        ]
    },
    {
        "id": "dac3c901e387ac54",
        "type": "http response",
        "z": "a08ac2921f5c33a7",
        "name": "HTTP ответ",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "087dd889f067e022",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Обновить версию в контексте",
        "rules": [
            {
                "t": "set",
                "p": "version",
                "pt": "flow",
                "to": "2025-11-13_1010",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "e9fee55e2834b57e"
            ]
        ]
    },
    {
        "id": "ca21ada925b42b7f",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Вывести тренд",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Вывести тренд",
        "tooltip": "Разовая отрисовка данных из буфера",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 620,
        "y": 1580,
        "wires": [
            [
                "a7075005ad45aeaf"
            ]
        ]
    },
    {
        "id": "a7075005ad45aeaf",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда ручного вывода",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "manualFlush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1580,
        "wires": [
            [
                "dda569eb28a8c682"
            ]
        ]
    },
    {
        "id": "1146e1f02e87572d",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Экспорт тренда",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Экспорт тренда",
        "tooltip": "Разовая выгрузка завершенного цикла в файл",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 620,
        "y": 1520,
        "wires": [
            [
                "9378aabcd5f08172"
            ]
        ]
    },
    {
        "id": "9378aabcd5f08172",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда экспорта тренда",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "exportTrend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1500,
        "wires": [
            [
                "dda569eb28a8c682"
            ]
        ]
    },
    {
        "id": "c04796559979afea",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовить экспорт тренда",
        "func": "const snapshot = msg.payload || {};\nconst labels = Array.isArray(snapshot.labels) ? snapshot.labels : [];\nconst values = Array.isArray(snapshot.value) ? snapshot.value : [];\nconst steps = Array.isArray(snapshot.step) ? snapshot.step : [];\nconst length = Math.min(labels.length, values.length, steps.length);\n\nif (!length) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'Пустой набор данных' });\n    return null;\n}\n\n// labels уже содержат миллисекунды от начала цикла (0, 114, 216...)\nconst lines = ['elapsed_ms;value;step'];\nconst ai = snapshot.ai && typeof snapshot.ai === 'object' ? snapshot.ai : {};\nconst aiLabels = Array.isArray(ai.labels) ? ai.labels : [];\nconst aiIteration = Array.isArray(ai.iteration) ? ai.iteration : [];\nconst aiChannelsRaw = Array.isArray(ai.channels) ? ai.channels : [];\nconst aiChannels = Array.from({ length: 8 }, (_, index) => {\n    const series = Array.isArray(aiChannelsRaw[index]) ? aiChannelsRaw[index] : [];\n    return series;\n});\nconst aiLength = Math.min(\n    aiLabels.length,\n    aiIteration.length,\n    ...aiChannels.map((series) => series.length)\n);\nconst measurementLog = Array.isArray(flow.get('aiMeasurementLog')) ? flow.get('aiMeasurementLog') : [];\nif (aiLength && Number.isFinite(aiLength)) {\n    lines.push('');\n    lines.push('ai_elapsed_ms;iteration_value;ai_ch1;ai_ch2;ai_ch3;ai_ch4;ai_ch5;ai_ch6;ai_ch7;ai_ch8');\n    for (let i = 0; i < aiLength; i += 1) {\n        const elapsed = Number(aiLabels[i]) || 0;\n        const iterationValue = Number(aiIteration[i]) || 0;\n        const channelValues = aiChannels.map((series) => {\n            const numeric = Number(series[i]);\n            return Number.isFinite(numeric) ? numeric : 0;\n        });\n        lines.push(`${elapsed};${iterationValue};${channelValues.join(';')}`);\n    }\n}\n\nconst measurementHeader = 'measure_ts;step;ai_ch1;ai_ch2;ai_ch3;ai_ch4;ai_ch5;ai_ch6;ai_ch7;ai_ch8;source';\nfor (let i = 0; i < length; i += 1) {\n    const elapsed = Number(labels[i]) || 0;\n    lines.push(`${elapsed};${values[i]};${steps[i]}`);\n}\n\nconst dirCandidate = flow.get('trendExportDir') || '/data';\nconst safeDir = String(dirCandidate).trim() || '/data';\nconst stamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `${safeDir}/trend_${stamp}.csv`;\n\nif (measurementLog.length) {\n    lines.push('');\n    lines.push(measurementHeader);\n    measurementLog.forEach((entry) => {\n        const ts = Number(entry?.ts) || 0;\n        const step = Number(entry?.step) || 0;\n        const values = Array.isArray(entry?.values) ? entry.values : [];\n        const vector = [];\n        for (let i = 0; i < 8; i += 1) {\n            const numeric = Number(values[i]);\n            vector.push(Number.isFinite(numeric) ? numeric : 0);\n        }\n        const source = typeof entry?.source === 'string' ? entry.source : 'measure';\n        lines.push(`${new Date(ts).toISOString()};${step};${vector.join(';')};${source}`);\n    });\n    flow.set('aiMeasurementLog', []);\n    flow.set('aiTrendExportSnapshot', {\n        labels: [],\n        iteration: [],\n        channels: Array.from({ length: 8 }, () => [])\n    });\n    flow.set('aiTrendExportReady', false);\n}\nmsg.payload = lines.join('\\n');\nmsg.filename = filename;\nmsg.topic = 'trendExportFile';\nnode.status({ fill: 'green', shape: 'dot', text: `Файл готов (${length})` });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1580,
        "wires": [
            [
                "e305933bdafe5a97"
            ]
        ]
    },
    {
        "id": "e305933bdafe5a97",
        "type": "file",
        "z": "a08ac2921f5c33a7",
        "name": "Записать тренд в файл",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1790,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "1eced58239e82658",
        "type": "switch",
        "z": "a08ac2921f5c33a7",
        "name": "К таймерам шагов",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 2690,
        "y": 180,
        "wires": [
            [
                "a9fd4b8287fcf17e",
                "f5dc32c4e6528978"
            ],
            [
                "6321c1d8a4b8398f",
                "1c7354b3cc5778b5"
            ],
            [
                "461f81a03b3a0690",
                "a842d9fca15f2e24"
            ],
            [
                "ff67f450823231c7",
                "6351e6e2efbd8a40"
            ],
            [
                "286e5d8cc673110c",
                "f4e9915308ebfff6"
            ]
        ]
    },
    {
        "id": "a9fd4b8287fcf17e",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "1d4f8b34e9b2a123",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 1",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3010,
        "y": 80,
        "wires": []
    },
    {
        "id": "6321c1d8a4b8398f",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "a5c2bf128e940f3a",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 2",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3170,
        "y": 180,
        "wires": []
    },
    {
        "id": "461f81a03b3a0690",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "84df0b3a72d3c9aa",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 3",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3030,
        "y": 220,
        "wires": []
    },
    {
        "id": "ff67f450823231c7",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "f7b3c712db9a2e4c",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 4",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3110,
        "y": 320,
        "wires": []
    },
    {
        "id": "286e5d8cc673110c",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "b3e3ed472ab1cc55",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 5",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3130,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5dc32c4e6528978",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "План время шага 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 140,
        "wires": [
            [
                "6b07df9888da1e61"
            ]
        ]
    },
    {
        "id": "6b07df9888da1e61",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "1d4f8b34e9b2a123",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 1",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3320,
        "y": 140,
        "wires": []
    },
    {
        "id": "1c7354b3cc5778b5",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "План время шага 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3060,
        "y": 260,
        "wires": [
            [
                "69a457d1a94542f3"
            ]
        ]
    },
    {
        "id": "69a457d1a94542f3",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "a5c2bf128e940f3a",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 2",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3320,
        "y": 260,
        "wires": []
    },
    {
        "id": "a842d9fca15f2e24",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "План время шага 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2960,
        "y": 420,
        "wires": [
            [
                "5b48907045a71e23"
            ]
        ]
    },
    {
        "id": "5b48907045a71e23",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "84df0b3a72d3c9aa",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 3",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3220,
        "y": 420,
        "wires": []
    },
    {
        "id": "6351e6e2efbd8a40",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "План время шага 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3000,
        "y": 480,
        "wires": [
            [
                "56a093bc2e58b540"
            ]
        ]
    },
    {
        "id": "56a093bc2e58b540",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "f7b3c712db9a2e4c",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 4",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3260,
        "y": 480,
        "wires": []
    },
    {
        "id": "f4e9915308ebfff6",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "План время шага 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 580,
        "wires": [
            [
                "5936b6a3ebbab727"
            ]
        ]
    },
    {
        "id": "5936b6a3ebbab727",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "b3e3ed472ab1cc55",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 5",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 3260,
        "y": 580,
        "wires": []
    },
    {
        "id": "a23c7bede227ad59",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Обновить заметки",
        "group": "f2c1a7d9b4e56a01",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Обновить список",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "manualReload",
        "topicType": "str",
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "0542246442c1b5b3"
            ]
        ]
    },
    {
        "id": "7279690a17aea695",
        "type": "ui_form",
        "z": "a08ac2921f5c33a7",
        "name": "Новая заметка",
        "label": "Новая заметка",
        "group": "f2c1a7d9b4e56a01",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Текст заметки",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": 5
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Очистить",
        "topic": "addNote",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "62c2230e45727225"
            ]
        ]
    },
    {
        "id": "62c2230e45727225",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовить заметку",
        "func": "const form = msg.payload || {};\nconst rawText = (form.text ?? '').toString().trim();\nif (!rawText) {\n    node.warn('Пустая заметка не сохранена');\n    return null;\n}\n\nconst now = new Date();\nconst timestamp = now.getTime();\nconst displayTime = now.toLocaleString('ru-RU', { hour12: false });\n\nconst versionCode = flow.get('version');\nconst versionDisplay = flow.get('versionDisplay');\nconst versionSource = [versionCode, versionDisplay].find((value) =>\n    typeof value === 'string' && value.trim()\n);\n\nconst note = {\n    id: `note_${timestamp}`,\n    text: rawText,\n    createdAt: timestamp,\n    createdIso: now.toISOString(),\n    displayTime\n};\n\nif (versionSource) {\n    note.version = versionSource.trim();\n}\n\nmsg.note = note;\nmsg.payload = note;\nmsg.topic = 'preparedNote';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "79bffacd1498cc9e"
            ]
        ]
    },
    {
        "id": "79bffacd1498cc9e",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сохранить заметку",
        "func": "const note = msg.note || msg.payload;\nif (!note || typeof note.text !== 'string') {\n    return null;\n}\n\nconst notesFile = flow.get('notesFile');\nif (!notesFile) {\n    node.warn('Файл заметок не настроен');\n    return [null, null];\n}\n\nconst current = flow.get('notes');\nconst notes = Array.isArray(current) ? [...current] : [];\nnotes.unshift(note);\nflow.set('notes', notes);\n\nconst updateMsg = {\n    payload: notes,\n    note,\n    noteCount: notes.length,\n    statusText: `Заметка сохранена (всего ${notes.length})`,\n    topic: 'notesUpdate'\n};\n\nconst fileMsg = {\n    payload: notes,\n    filename: notesFile,\n    topic: 'saveNotes',\n    noteCount: notes.length,\n    statusText: `Заметки сохранены (${notes.length})`\n};\n\nreturn [updateMsg, fileMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 180,
        "wires": [
            [
                "a0364937934fc68b"
            ],
            [
                "268e356e9dd3d09b"
            ]
        ]
    },
    {
        "id": "268e356e9dd3d09b",
        "type": "json",
        "z": "a08ac2921f5c33a7",
        "name": "Заметки -> текст",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1580,
        "y": 220,
        "wires": [
            [
                "cf450942e2ea92c1"
            ]
        ]
    },
    {
        "id": "cf450942e2ea92c1",
        "type": "file",
        "z": "a08ac2921f5c33a7",
        "name": "Запись заметок",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1790,
        "y": 220,
        "wires": [
            [
                "0e290891d01d8417"
            ]
        ]
    },
    {
        "id": "0e290891d01d8417",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сообщить о заметках",
        "func": "const statusText = msg.statusText || `Заметки сохранены (${msg.noteCount ?? 0})`;\nmsg.payload = statusText;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 220,
        "wires": [
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "0542246442c1b5b3",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Загрузить заметки",
        "func": "const notesFile = flow.get('notesFile');\nif (!notesFile) {\n    node.warn('Файл заметок не задан');\n    return [null, { payload: 'Файл заметок не задан' }];\n}\n\nconst statusText = msg.topic === 'manualReload' ? 'Обновление заметок...' : 'Загрузка заметок...';\n\nconst requestMsg = {\n    filename: notesFile,\n    topic: 'loadNotes',\n    source: 'файл'\n};\n\nconst statusMsg = {\n    payload: statusText\n};\n\nreturn [requestMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 480,
        "wires": [
            [
                "eac26ca7a0c09994"
            ],
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "eac26ca7a0c09994",
        "type": "file in",
        "z": "a08ac2921f5c33a7",
        "name": "Чтение заметок",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "x": 1320,
        "y": 120,
        "wires": [
            [
                "d4ecc7104e15ed0c"
            ]
        ]
    },
    {
        "id": "d4ecc7104e15ed0c",
        "type": "json",
        "z": "a08ac2921f5c33a7",
        "name": "Заметки JSON -> объект",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1550,
        "y": 120,
        "wires": [
            [
                "a0364937934fc68b"
            ]
        ]
    },
    {
        "id": "a0364937934fc68b",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Применить заметки",
        "func": "const raw = msg.payload;\nconst list = Array.isArray(raw) ? raw : [];\nconst versionDefault = [flow.get('version'), flow.get('versionDisplay')].find((value) =>\n    typeof value === 'string' && value.trim()\n);\n\nconst normalized = list\n    .filter((item) => typeof item?.text === 'string' && item.text.trim() !== '')\n    .map((item) => {\n        const createdAt = Number(item.createdAt) || Date.parse(item.createdIso || '') || Date.now();\n        const text = item.text.toString();\n        const displayTime = typeof item.displayTime === 'string' && item.displayTime.trim()\n            ? item.displayTime\n            : new Date(createdAt).toLocaleString('ru-RU', { hour12: false });\n        const id = typeof item.id === 'string' && item.id.trim() ? item.id : `note_${createdAt}`;\n        const versionRaw = [item.version, item.versionCode, item.versionDisplay]\n            .find((value) => typeof value === 'string' && value.trim());\n        const version = (versionRaw || versionDefault);\n\n        const note = {\n            id,\n            text,\n            createdAt,\n            createdIso: item.createdIso || new Date(createdAt).toISOString(),\n            displayTime\n        };\n\n        if (version) {\n            note.version = version.trim();\n        }\n\n        return note;\n    })\n    .sort((a, b) => b.createdAt - a.createdAt);\n\nflow.set('notes', normalized);\n\nconst statusText = msg.statusText\n    || (msg.topic === 'loadNotes'\n        ? `Заметки загружены (${normalized.length})`\n        : `Заметки обновлены (${normalized.length})`);\n\nconst uiMsg = {\n    payload: normalized,\n    topic: 'notesDisplay'\n};\n\nconst statusMsg = statusText ? { payload: statusText, noteCount: normalized.length } : null;\n\nmsg.payload = normalized;\nmsg.noteCount = normalized.length;\n\nreturn [uiMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 120,
        "wires": [
            [
                "d2017eabf3c97cfa"
            ],
            [
                "e5c7362f2922f84b"
            ]
        ]
    },
    {
        "id": "d2017eabf3c97cfa",
        "type": "ui_template",
        "z": "a08ac2921f5c33a7",
        "group": "f2c1a7d9b4e56a01",
        "name": "Список заметок",
        "order": 3,
        "width": "12",
        "height": "0",
        "format": "<div class=\"notes-wrapper\">\n  <div class=\"notes-empty\" ng-if=\"!(msg.payload && msg.payload.length)\">Заметок пока нет.</div>\n  <div class=\"note-entry\" ng-repeat=\"note in msg.payload track by note.id\">\n    <div class=\"note-meta\">\n      <span class=\"note-time\">{{note.displayTime}}</span>\n      <span class=\"note-version\" ng-if=\"note.version\">Версия: {{note.version}}</span>\n    </div>\n    <div class=\"note-text\">{{note.text}}</div>\n  </div>\n</div>\n<style>\n  .notes-wrapper {\n    display: flex;\n    flex-direction: column;\n    gap: 8px;\n  }\n  .note-entry {\n    padding: 8px 10px;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    background: #f9f9f9;\n    word-break: break-word;\n  }\n  .note-meta {\n    font-size: 13px;\n    color: #555;\n    display: flex;\n    flex-wrap: wrap;\n    gap: 12px;\n    margin-bottom: 4px;\n  }\n  .note-time {\n    font-weight: 500;\n  }\n  .note-version {\n    font-weight: 500;\n  }\n  .note-text {\n    white-space: pre-wrap;\n    font-size: 15px;\n  }\n  .notes-empty {\n    font-style: italic;\n    color: #777;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 2050,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b5c3e6c1309a572",
        "type": "ui_text",
        "z": "a08ac2921f5c33a7",
        "group": "3e8b01d31bc4f432",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Версия (главная вкладка)",
        "label": "Версия",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "505f4fa54f5bb567",
        "type": "range",
        "z": "a08ac2921f5c33a7",
        "minin": "-5000",
        "maxin": "5000",
        "minout": "0",
        "maxout": "4095",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 2420,
        "y": 440,
        "wires": [
            [
                "546c17f4843de770",
                "b774050913c54c0a",
                "1f90349d3ec5c4b8",
                "355b76c865a98d3c"
            ]
        ]
    },
    {
        "id": "546c17f4843de770",
        "type": "ADAM-write",
        "z": "a08ac2921f5c33a7",
        "name": "6224",
        "host": "192.168.2.2",
        "serialPortCfg": "",
        "unit_id": 1,
        "write_ch": 0,
        "write_ch_type": "write_ao_1",
        "reconnecttimeout": "",
        "Series": "mbtcp",
        "advDevTypeTCP": "ADAM-6224",
        "advDevTypeRTU": "ADAM-4022T",
        "advDevType": "ADAM-6224",
        "x": 2630,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5a9d617eff46007",
        "type": "delay",
        "z": "a08ac2921f5c33a7",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2260,
        "y": 240,
        "wires": [
            [
                "dded6f388ac2d1f6"
            ]
        ]
    },
    {
        "id": "355b76c865a98d3c",
        "type": "get-ai-value",
        "z": "a08ac2921f5c33a7",
        "name": "6717",
        "x": 2410,
        "y": 780,
        "wires": [
            [
                "303f88f72662b944"
            ],
            [
                "01f7e790f7f08302"
            ],
            [
                "19b8a6d88617de5c"
            ],
            [
                "928f996f0288a595"
            ],
            [
                "a06ab65cafc83fa9"
            ],
            [
                "177b23d8c1f96c93"
            ],
            [
                "1fc75842e48c76ac"
            ],
            [
                "34055f264f2a0ac4"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b774050913c54c0a",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Подготовка измерения AI",
        "func": "const isMeasurement = msg.measure === true || msg.reason === 'pauseMeasure';\nif (!isMeasurement) {\n    return null;\n}\nconst delayValue = Number(msg.measureDelay || msg.delay || 0);\nconst safeDelay = Number.isFinite(delayValue) ? Math.max(0, Math.round(delayValue)) : 0;\nmsg.delay = safeDelay;\nmsg.measure = true;\nconst step = Number(msg.measureStep || msg.step || 0);\nif (Number.isFinite(step) && step > 0) {\n    msg.measureStep = step;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 320,
        "wires": [
            [
                "b5a9d617eff46007"
            ]
        ]
    },
    {
        "id": "dded6f388ac2d1f6",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Сигнал измерения (6717)",
        "func": "const step = Number(msg.measureStep || msg.step || 0);\nif (Number.isFinite(step) && step > 0) {\n    global.set('ITER_AI_MEASURE_STEP', step);\n    msg.measureStep = step;\n    msg.measure = true;\n} else {\n    global.set('ITER_AI_MEASURE_STEP', 0);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 100,
        "wires": [
            [
                "355b76c865a98d3c"
            ]
        ]
    },
    {
        "id": "303f88f72662b944",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 1",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2610,
        "y": 600,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "01f7e790f7f08302",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 2",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2610,
        "y": 640,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "19b8a6d88617de5c",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 3",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 680,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "928f996f0288a595",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 4",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 720,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "a06ab65cafc83fa9",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 5",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 760,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "177b23d8c1f96c93",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 6",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 800,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "1fc75842e48c76ac",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 7",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "7",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 840,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "34055f264f2a0ac4",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Канал 8",
        "rules": [
            {
                "t": "set",
                "p": "aiChannel",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2600,
        "y": 880,
        "wires": [
            [
                "12d970b20f132d03"
            ]
        ]
    },
    {
        "id": "12d970b20f132d03",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Обновление AI каналов",
        "func": "const channelRaw = msg.aiChannel ?? msg.channel ?? msg.topic;\nconst channelNumber = Number(channelRaw);\nif (!Number.isFinite(channelNumber)) {\n    return null;\n}\nconst index = Math.max(1, Math.min(16, Math.trunc(channelNumber)));\nlet trendMsg = null;\nconst payloadValue = Number(msg.payload);\nconst numericValue = Number.isFinite(payloadValue) ? payloadValue : 0;\nglobal.set(`ITER_AI_CH${index}_CURRENT`, numericValue);\n\nconst globalMeasureStep = Number(global.get('ITER_AI_MEASURE_STEP')) || 0;\nconst messageStepCandidate = Number(msg.measureStep ?? msg.step ?? 0);\nconst measureStepRaw = Number.isFinite(messageStepCandidate) && messageStepCandidate > 0\n    ? messageStepCandidate\n    : globalMeasureStep;\nconst isMeasurement = msg.measure === true || (globalMeasureStep > 0 && measureStepRaw === globalMeasureStep);\n\nlet measurementState = context.get('measurementState');\nif (!measurementState || typeof measurementState !== 'object') {\n    measurementState = { step: 0, values: {} };\n}\n\nif (isMeasurement && Number.isFinite(measureStepRaw) && measureStepRaw > 0) {\n    if (measurementState.step !== measureStepRaw) {\n        measurementState = { step: measureStepRaw, values: {} };\n    }\n    measurementState.values[index] = numericValue;\n    global.set(`ITER_AI_CH${index}_RESULT`, numericValue);\n    if (Object.keys(measurementState.values).length >= 8) {\n        const values = [];\n        for (let ch = 1; ch <= 8; ch += 1) {\n            const value = Number(measurementState.values[ch]);\n            values.push(Number.isFinite(value) ? value : 0);\n        }\n        const existing = flow.get('aiMeasurementLog');\n        const log = Array.isArray(existing) ? existing.slice() : [];\n        log.push({ ts: Date.now(), step: measurementState.step, values, source: 'measure' });\n        const MAX_LOG = 500;\n        if (log.length > MAX_LOG) {\n            log.splice(0, log.length - MAX_LOG);\n        }\n        flow.set('aiMeasurementLog', log);\n        flow.set('aiLastResultStep', measurementState.step);\n        const iterationValue = Number(global.get('ITERATION_VALUE'));\n        const iterationStepValue = Number(global.get('ITERATION_STEP'));\n        trendMsg = {\n            topic: 'aiSample',\n            ts: Date.now(),\n            values,\n            measureStep: measurementState.step,\n            iterationStep: Number.isFinite(iterationStepValue) ? iterationStepValue : 0,\n            iterationValue: Number.isFinite(iterationValue) ? iterationValue : 0\n        };\n        const stepIndex = Number.isFinite(Number(measurementState.step)) ? Math.max(1, Math.trunc(Number(measurementState.step))) : 0;\n        if (stepIndex > 0) {\n            for (let ch = 1; ch <= 8; ch += 1) {\n                const channelValue = Number(values[ch - 1]);\n                const safeValue = Number.isFinite(channelValue) ? channelValue : 0;\n                global.set(`ITER_AI_STEP${stepIndex}_CH${ch}`, safeValue);\n            }\n        }\n        global.set('ITER_AI_MEASURE_STEP', 0);\n        measurementState = { step: measurementState.step, values: {} };\n    } else {\n        flow.set('aiMeasurementLog', flow.get('aiMeasurementLog') || []);\n    }\n} else {\n    flow.set('aiMeasurementLog', flow.get('aiMeasurementLog') || []);\n}\ncontext.set('measurementState', measurementState);\n\nconst summary = [];\nfor (let ch = 1; ch <= 8; ch += 1) {\n    const currentVal = Number(global.get(`ITER_AI_CH${ch}_CURRENT`));\n    const resultVal = Number(global.get(`ITER_AI_CH${ch}_RESULT`));\n    summary.push({\n        channel: ch,\n        current: Number.isFinite(currentVal) ? currentVal : 0,\n        result: Number.isFinite(resultVal) ? resultVal : 0\n    });\n}\nconst measureStep = Number(global.get('ITER_AI_MEASURE_STEP')) || 0;\nconst lastStep = Number(flow.get('aiLastResultStep')) || 0;\n\nconst displayChannel = summary.find((item) => item.channel === 1) || summary[0] || { channel: 1, current: 0, result: 0 };\nconst displayValue = Number.isFinite(displayChannel.current) ? displayChannel.current : 0;\nconst displayMsg = {\n    payload: displayValue,\n    channel: displayChannel.channel,\n    step: measureStep,\n    ts: Date.now()\n};\n\nmsg.payload = summary;\nmsg.measureStep = measureStep;\nmsg.lastResultStep = lastStep;\nreturn [msg, displayMsg, trendMsg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2850,
        "y": 760,
        "wires": [
            [
                "e877288c05b814e8"
            ],
            [
                "bc7875a4f44a4f3b"
            ],
            [
                "e4d2c1b0a9f8e7d6"
            ]
        ]
    },
    {
        "id": "e877288c05b814e8",
        "type": "ui_template",
        "z": "a08ac2921f5c33a7",
        "group": "5d2d0d5ecb20a567",
        "name": "Измерения ADAM-6717",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "<div class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">ADAM-6717 — измерения каналов</div>\n  <table style=\"width:100%; border-collapse:collapse;\">\n    <thead>\n      <tr style=\"border-bottom:1px solid #ccc; text-align:left;\">\n        <th style=\"padding:4px 6px;\">Канал</th>\n        <th style=\"padding:4px 6px;\">Текущее значение</th>\n        <th style=\"padding:4px 6px;\">Результат шага</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr ng-repeat=\"row in msg.payload track by row.channel\" style=\"border-bottom:1px solid #eee;\">\n        <td style=\"padding:4px 6px;\">{{row.channel}}</td>\n        <td style=\"padding:4px 6px;\">{{row.current | number:3}}</td>\n        <td style=\"padding:4px 6px;\">{{row.result | number:3}}</td>\n      </tr>\n    </tbody>\n  </table>\n  <div style=\"margin-top:6px; color:#666;\">Сигнал измерения (шаг): {{msg.measureStep || 0}}<span ng-if=\"msg.lastResultStep\">, последний шаг с результатом: {{msg.lastResultStep}}</span></div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3130,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1f90349d3ec5c4b8",
        "type": "debug",
        "z": "a08ac2921f5c33a7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2600,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad8d1f0e932c4b71",
        "type": "ui_tab",
        "name": "ADAM-6717",
        "icon": "multiline_chart",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3e4c5f6a7b80912",
        "type": "ui_group",
        "name": "График",
        "tab": "ad8d1f0e932c4b71",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c47f12a39b28d4e5",
        "type": "ui_chart",
        "z": "a08ac2921f5c33a7",
        "name": "График ADAM-6717",
        "group": "d3e4c5f6a7b80912",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "ADAM-6717: 8 каналов + ITERATION_VALUE",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "step",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "wires": [
            []
        ]
    },
    {
        "id": "e4d2c1b0a9f8e7d6",
        "type": "function",
        "z": "a08ac2921f5c33a7",
        "name": "Буфер тренда ADAM-6717",
        "func": "const command = msg.command || '';\nconst reason = msg.reason || '';\nconst MAX_BUFFER_SIZE = 20000;\nconst BUFFER_KEY = 'aiTrendBuffer';\nconst EXPORT_KEY = 'aiTrendExportSnapshot';\nconst READY_KEY = 'aiTrendExportReady';\nconst START_TS_KEY = 'aiTrendStartTs';\nconst LAST_STEP_KEY = 'aiTrendLastStep';\n\nfunction createEmptyBuffer() {\n    return {\n        labels: [],\n        iteration: [],\n        channels: Array.from({ length: 8 }, () => [])\n    };\n}\n\nfunction ensureBuffer() {\n    const stored = flow.get(BUFFER_KEY);\n    if (stored && typeof stored === 'object') {\n        const labels = Array.isArray(stored.labels) ? stored.labels.slice() : [];\n        const iteration = Array.isArray(stored.iteration) ? stored.iteration.slice() : [];\n        const rawChannels = Array.isArray(stored.channels) ? stored.channels : [];\n        const channels = Array.from({ length: 8 }, (_, index) => {\n            const series = Array.isArray(rawChannels[index]) ? rawChannels[index] : [];\n            return series.slice();\n        });\n        return { labels, iteration, channels };\n    }\n    return createEmptyBuffer();\n}\n\nfunction cloneBuffer(buffer) {\n    return {\n        labels: buffer.labels.slice(),\n        iteration: buffer.iteration.slice(),\n        channels: buffer.channels.map((series) => series.slice())\n    };\n}\n\nfunction resetBuffer(startTs = null) {\n    const empty = createEmptyBuffer();\n    flow.set(BUFFER_KEY, empty);\n    flow.set(START_TS_KEY, Number.isFinite(Number(startTs)) ? Number(startTs) : null);\n    flow.set(LAST_STEP_KEY, 0);\n    flow.set(READY_KEY, false);\n    return empty;\n}\n\nfunction getStartTs() {\n    const stored = Number(flow.get(START_TS_KEY));\n    return Number.isFinite(stored) ? stored : null;\n}\n\nfunction setStartTs(ts) {\n    if (Number.isFinite(Number(ts))) {\n        flow.set(START_TS_KEY, Number(ts));\n    } else {\n        flow.set(START_TS_KEY, null);\n    }\n}\n\nfunction ensureStartTs(sampleTs) {\n    let startTs = getStartTs();\n    if (!Number.isFinite(startTs)) {\n        const numericTs = Number(sampleTs);\n        startTs = Number.isFinite(numericTs) ? numericTs : Date.now();\n        flow.set(START_TS_KEY, startTs);\n    }\n    return startTs;\n}\n\nfunction normalizeChannels(values) {\n    const raw = Array.isArray(values) ? values : [];\n    const result = [];\n    for (let i = 0; i < 8; i += 1) {\n        const numeric = Number(raw[i]);\n        result.push(Number.isFinite(numeric) ? numeric : 0);\n    }\n    return result;\n}\n\nfunction createSeriesPoints(labels, seriesValues) {\n    const points = [];\n    const length = Math.min(labels.length, seriesValues.length);\n    for (let i = 0; i < length; i += 1) {\n        const x = Number(labels[i]);\n        const y = Number(seriesValues[i]);\n        if (Number.isFinite(x) && Number.isFinite(y)) {\n            points.push({ x, y });\n        }\n    }\n    return points;\n}\n\nfunction buildChartMessages(buffer, options = {}) {\n    const { forceClear = false } = options;\n    const messages = [];\n    if (forceClear) {\n        messages.push({ ui_control: { clear: true } });\n    }\n    const iterationSeries = createSeriesPoints(buffer.labels, buffer.iteration);\n    const channelSeries = buffer.channels.map((series) => createSeriesPoints(buffer.labels, series));\n    const hasData = iterationSeries.length || channelSeries.some((series) => series.length);\n    if (hasData) {\n        messages.push({\n            payload: [{\n                series: ['ITERATION_VALUE', 'AI_CH1', 'AI_CH2', 'AI_CH3', 'AI_CH4', 'AI_CH5', 'AI_CH6', 'AI_CH7', 'AI_CH8'],\n                data: [iterationSeries, ...channelSeries],\n                labels: []\n            }],\n            topic: 'AI_TREND'\n        });\n    }\n    return messages;\n}\n\nfunction buildSampleFromMessage(message) {\n    if (!message || typeof message !== 'object') {\n        return null;\n    }\n    if (message.topic === 'aiSample') {\n        const iterationValue = Number(message.iterationValue);\n        if (!Number.isFinite(iterationValue)) {\n            return null;\n        }\n        const ts = Number.isFinite(Number(message.ts)) ? Number(message.ts) : Date.now();\n        const iterationStep = Number(message.iterationStep || message.measureStep || message.step || 0);\n        return {\n            ts,\n            values: normalizeChannels(message.values),\n            iterationValue,\n            iterationStep\n        };\n    }\n    const trend = message.aiTrend;\n    if (trend && typeof trend === 'object') {\n        const iterationValue = Number(trend.iterationValue ?? message.iterationValue ?? message.payload);\n        if (!Number.isFinite(iterationValue)) {\n            return null;\n        }\n        const tsCandidate = Number(trend.ts ?? message.ts);\n        const ts = Number.isFinite(tsCandidate) ? tsCandidate : Date.now();\n        const iterationStep = Number(trend.iterationStep ?? message.iterationStep ?? message.step ?? trend.measureStep ?? message.measureStep ?? 0);\n        return {\n            ts,\n            values: normalizeChannels(trend.values ?? message.channels),\n            iterationValue,\n            iterationStep\n        };\n    }\n    if (Array.isArray(message.channels)) {\n        const iterationValue = Number(message.iterationValue ?? message.payload);\n        if (!Number.isFinite(iterationValue)) {\n            return null;\n        }\n        const ts = Number.isFinite(Number(message.ts)) ? Number(message.ts) : Date.now();\n        const iterationStep = Number(message.iterationStep ?? message.step ?? 0);\n        return {\n            ts,\n            values: normalizeChannels(message.channels),\n            iterationValue,\n            iterationStep\n        };\n    }\n    return null;\n}\n\nfunction appendSample(buffer, sample) {\n    const iterationValue = Number(sample.iterationValue);\n    if (!Number.isFinite(iterationValue)) {\n        return { buffer, step: Number(flow.get(LAST_STEP_KEY)) || 0 };\n    }\n    const iterationStep = Number(sample.iterationStep || sample.measureStep || 0);\n    const previousStep = Number(flow.get(LAST_STEP_KEY)) || 0;\n    if (iterationStep > 0 && previousStep > 0 && iterationStep < previousStep) {\n        buffer = resetBuffer(sample.ts);\n    }\n    const startTs = ensureStartTs(sample.ts);\n    const numericTs = Number(sample.ts);\n    const relative = Number.isFinite(numericTs) && Number.isFinite(startTs)\n        ? Math.max(0, Math.round(numericTs - startTs))\n        : (buffer.labels.length ? buffer.labels[buffer.labels.length - 1] : 0);\n    while (buffer.labels.length >= MAX_BUFFER_SIZE) {\n        buffer.labels.shift();\n        buffer.iteration.shift();\n        buffer.channels.forEach((series) => {\n            series.shift();\n        });\n    }\n    buffer.labels.push(relative);\n    buffer.iteration.push(iterationValue);\n    const channels = normalizeChannels(sample.values);\n    for (let i = 0; i < 8; i += 1) {\n        buffer.channels[i].push(channels[i]);\n    }\n    const newStep = iterationStep > 0 ? iterationStep : previousStep;\n    flow.set(LAST_STEP_KEY, newStep);\n    flow.set(BUFFER_KEY, buffer);\n    return { buffer, step: newStep };\n}\n\nlet buffer = ensureBuffer();\nlet outputMessages = [];\nlet appendedStep = 0;\nconst sample = buildSampleFromMessage(msg);\n\nif (reason === 'restart' || reason === 'stop') {\n    buffer = resetBuffer(msg.ts);\n    flow.set(EXPORT_KEY, createEmptyBuffer());\n    flow.set(READY_KEY, false);\n    flow.set('aiTrendExportSnapshot', createEmptyBuffer());\n    outputMessages = [{ ui_control: { clear: true } }];\n    if (reason === 'restart') {\n        setStartTs(Number(msg.ts));\n    } else {\n        setStartTs(null);\n    }\n    node.status({ fill: 'grey', shape: 'dot', text: 'Буфер очищен' });\n}\n\nif (sample) {\n    const result = appendSample(buffer, sample);\n    buffer = result.buffer;\n    appendedStep = result.step;\n    node.status({\n        fill: 'blue',\n        shape: 'dot',\n        text: appendedStep > 0\n            ? `Точек: ${buffer.labels.length} (шаг ${appendedStep})`\n            : `Точек: ${buffer.labels.length}`\n    });\n}\n\nif (command === 'manualFlush') {\n    const snapshot = cloneBuffer(buffer);\n    if (snapshot.labels.length) {\n        outputMessages = buildChartMessages(snapshot, { forceClear: true });\n        node.status({ fill: 'blue', shape: 'ring', text: `Ручная отрисовка (${snapshot.labels.length})` });\n    } else {\n        outputMessages = [{ ui_control: { clear: true } }];\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Буфер пуст' });\n    }\n} else if (reason === 'cycleComplete') {\n    const snapshot = cloneBuffer(buffer);\n    flow.set(EXPORT_KEY, snapshot);\n    flow.set(READY_KEY, snapshot.labels.length > 0);\n    flow.set('aiTrendExportSnapshot', snapshot);\n    outputMessages = snapshot.labels.length ? buildChartMessages(snapshot, { forceClear: true }) : [{ ui_control: { clear: true } }];\n    if (snapshot.labels.length) {\n        node.status({ fill: 'blue', shape: 'dot', text: `Готово к экспорту (${snapshot.labels.length})` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n    buffer = resetBuffer(null);\n} else if (command === 'exportTrend') {\n    const ready = flow.get(READY_KEY);\n    const snapshot = flow.get(EXPORT_KEY) || createEmptyBuffer();\n    const count = Array.isArray(snapshot.labels) ? snapshot.labels.length : 0;\n    if (ready && count) {\n        node.status({ fill: 'green', shape: 'dot', text: `Экспортировано ${count}` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n}\n\nflow.set(BUFFER_KEY, buffer);\nreturn [outputMessages.length ? outputMessages : null];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1180,
        "wires": [
            [
                "c47f12a39b28d4e5"
            ]
        ]
    },
    {
        "id": "6c25565ebcea2a17",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Вывести тренд ADAM-6717",
        "group": "d3e4c5f6a7b80912",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Вывести тренд",
        "tooltip": "Разовая отрисовка графика ADAM-6717 из буфера",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 640,
        "y": 1980,
        "wires": [
            [
                "ebed3b7e0cd4e763"
            ]
        ]
    },
    {
        "id": "0fb172da5df6814b",
        "type": "ui_button",
        "z": "a08ac2921f5c33a7",
        "name": "Экспорт тренда ADAM-6717",
        "group": "d3e4c5f6a7b80912",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Экспорт тренда",
        "tooltip": "Сохранить завершённый цикл ADAM-6717 в файл",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 640,
        "y": 1900,
        "wires": [
            [
                "3826c48349bb9e87",
                "9378aabcd5f08172"
            ]
        ]
    },
    {
        "id": "3826c48349bb9e87",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда экспорта ADAM-6717",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "exportTrend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1900,
        "wires": [
            [
                "e4d2c1b0a9f8e7d6"
            ]
        ]
    },
    {
        "id": "ebed3b7e0cd4e763",
        "type": "change",
        "z": "a08ac2921f5c33a7",
        "name": "Команда тренда ADAM-6717",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "manualFlush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1980,
        "wires": [
            [
                "e4d2c1b0a9f8e7d6"
            ]
        ]
    }
]