flows_controller-iteration_ver_2025-11-06_1740.json
[
    {
        "id": "e1aefb0d6fb2a4a3",
        "type": "tab",
        "label": "Контроллер итерации",
        "disabled": false,
        "info": "Версия: 2025-11-06_1740",
        "env": [],
        "sort": 0
    },
    {
        "id": "c1a3dcd1bb6d2abc",
        "type": "ui_tab",
        "name": "Контроллер итерации",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa9b12c4a61eab67",
        "type": "ui_group",
        "name": "Версия",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3e8b01d31bc4f432",
        "type": "ui_group",
        "name": "Изменения",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6f6d1d13c83d9c31",
        "type": "ui_group",
        "name": "Управление",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1d4f8b34e9b2a123",
        "type": "ui_group",
        "name": "Шаг 1",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a5c2bf128e940f3a",
        "type": "ui_group",
        "name": "Шаг 2",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "84df0b3a72d3c9aa",
        "type": "ui_group",
        "name": "Шаг 3",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f7b3c712db9a2e4c",
        "type": "ui_group",
        "name": "Шаг 4",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b3e3ed472ab1cc55",
        "type": "ui_group",
        "name": "Шаг 5",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5d2d0d5ecb20a567",
        "type": "ui_group",
        "name": "Значения",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 9,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bf01c69ab8f7e5cd",
        "type": "ui_group",
        "name": "График",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 10,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bdf464f9c3f2c123",
        "type": "inject",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Старт проекта",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "8d5ac7eb8764bd1e"
            ]
        ]
    },
    {
        "id": "6bb4e19ff77f7e43",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Инициализация проекта",
        "func": "const versionDisplay = \"061120251740\";\nconst versionFlow = \"2025-11-06_1740\";\nconst versionNumber = Number(versionDisplay);\nconst configFile = \"/data/controller_iteration_params.json\";\nconst defaultSteps = [\n    { start: -1000, speed: 100, step: 100, end: 1000, pause: 0 },\n    { start: -500, speed: 150, step: 50, end: 500, pause: 100 },\n    { start: -250, speed: 200, step: 25, end: 250, pause: 100 },\n    { start: 0, speed: 250, step: 50, end: 500, pause: 200 },\n    { start: 500, speed: 300, step: -100, end: -500, pause: 0 }\n];\nconst changeLog = [\n    \"061120251343: Начальная версия. Добавлен пятишаговый контроллер итерации с управлением, чтением/записью параметров, панелью мониторинга и HTTP интерфейсом.\",\n    \"061120251400: Исправлено экранирование function-узлов и восстановлено разбиение шагов формы.\",\n    \"061120251523: Исправлены таймеры контроллера итерации, восстановлено чтение/запись параметров и VER теперь число.\",\n    \"061120251606: Формы сохраняют значения без очистки, график ограничен 10 минутами и 500 точками.\",\n    \"061120251656: Пропуск шагов со скоростью 0 не меняет ITERATION_VALUE; обновлена версия 2025-11-06_1656.\",\n    \"061120251740: Планирование шагов перенесено на стандартные узлы Delay; обновлена версия 2025-11-06_1740.\"\n];\nflow.set('version', versionFlow);\nflow.set('versionDisplay', versionDisplay);\nflow.set('configFile', configFile);\nflow.set('defaultSteps', defaultSteps);\nflow.set('changeLog', changeLog);\nglobal.set('VER', versionNumber);\nconst loadMsg = {\n    topic: 'loadParameters',\n    filename: configFile,\n    defaults: defaultSteps,\n    source: 'файл'\n};\nconst versionMsg = {\n    payload: `Текущая версия: ${versionDisplay}`\n};\nconst changeMsg = {\n    payload: changeLog\n};\nreturn [loadMsg, versionMsg, changeMsg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "f4ef779e2a6ce55a"
            ],
            [
                "7ec4d0f28f018ae0"
            ],
            [
                "d8910ecbdabf1e7a"
            ]
        ]
    },
    {
        "id": "f4ef779e2a6ce55a",
        "type": "file in",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Чтение параметров",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "x": 710,
        "y": 80,
        "wires": [
            [
                "c1aafee4ff7c32b5"
            ]
        ]
    },
    {
        "id": "c1aafee4ff7c32b5",
        "type": "json",
        "z": "e1aefb0d6fb2a4a3",
        "name": "JSON -> объект",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "5fb593bf2f494b1a"
            ]
        ]
    },
    {
        "id": "5fb593bf2f494b1a",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Применить параметры",
        "func": "const defaults = flow.get('defaultSteps') || [];\nconst source = msg.source || (msg.filename ? 'файл' : 'данные');\nlet incoming = [];\nif (msg.payload && Array.isArray(msg.payload.steps)) {\n    incoming = msg.payload.steps;\n} else if (Array.isArray(msg.payload)) {\n    incoming = msg.payload;\n}\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nconst normalizedSteps = [];\nfor (let i = 0; i < 5; i++) {\n    const def = defaults[i] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\n    const item = incoming[i] || def;\n    const normalized = {\n        start: toNumber(item.start, def.start),\n        speed: toNumber(item.speed, def.speed),\n        step: toNumber(item.step, def.step),\n        end: toNumber(item.end, def.end),\n        pause: toNumber(item.pause, def.pause)\n    };\n    normalizedSteps.push(normalized);\n    const index = i + 1;\n    global.set(`ITER_START_${index}`, normalized.start);\n    global.set(`ITER_SPEED_${index}`, normalized.speed);\n    global.set(`ITER_STEP_${index}`, normalized.step);\n    global.set(`ITER_END_${index}`, normalized.end);\n    global.set(`ITER_PAUSE_${index}`, normalized.pause);\n}\nflow.set('steps', normalizedSteps);\nflow.set('lastLoadSource', source);\nconst initialStep = normalizedSteps[0] || { start: 0 };\nconst initialValue = toNumber(initialStep.start, 0);\nglobal.set('ITERATION_STEP', 1);\nglobal.set('ITERATION_CONTROL', 1);\nglobal.set('ITERATION_VALUE', initialValue);\nconst controllerMsg = {\n    action: 'restart',\n    steps: normalizedSteps\n};\nconst formsMsg = {\n    payload: normalizedSteps\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры загружены (${source})`\n};\nreturn [controllerMsg, formsMsg, variablesMsg, statusMsg];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ],
            [
                "d010a3b933ea5b86"
            ],
            [
                "ea0d15c23b7efc26"
            ],
            [
                "40f5a9e8a3c33cd4"
            ]
        ]
    },
    {
        "id": "1a56309f1d9c802a",
        "type": "catch",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Ошибки работы с файлом",
        "scope": [
            "f4ef779e2a6ce55a",
            "c1aafee4ff7c32b5",
            "2d466f810e16d908"
        ],
        "uncaught": false,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "48e95d6c73e6a8db"
            ]
        ]
    },
    {
        "id": "48e95d6c73e6a8db",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Использовать значения по умолчанию",
        "func": "if (msg.error && msg.error.message) {\n    node.warn(`Не удалось прочитать файл параметров: ${msg.error.message}`);\n}\nconst defaults = flow.get('defaultSteps') || [];\nmsg.payload = { steps: defaults };\nmsg.source = 'значения по умолчанию';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "5fb593bf2f494b1a"
            ]
        ]
    },
    {
        "id": "d010a3b933ea5b86",
        "type": "split",
        "z": "e1aefb0d6fb2a4a3",
        "name": "По шагам",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1460,
        "y": 120,
        "wires": [
            [
                "7b58732d1fe0096a"
            ]
        ]
    },
    {
        "id": "7b58732d1fe0096a",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Подготовка для форм",
        "func": "const index = (msg.parts && Number(msg.parts.index)) || 0;\nconst stepNumber = index + 1;\nconst step = msg.payload || {};\nmsg.step = stepNumber;\nmsg.topic = `step${stepNumber}`;\nmsg.payload = {\n    start: step.start,\n    speed: step.speed,\n    step: step.step,\n    end: step.end,\n    pause: step.pause\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "8f928bd15046d730"
            ]
        ]
    },
    {
        "id": "8f928bd15046d730",
        "type": "switch",
        "z": "e1aefb0d6fb2a4a3",
        "name": "К формам",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1910,
        "y": 120,
        "wires": [
            [
                "e9bdfc07f8040398"
            ],
            [
                "9403f7bd2d923f71"
            ],
            [
                "8b967a3d16579c35"
            ],
            [
                "a01e0b10cbf2d3a8"
            ],
            [
                "3d1fb9b727b79a0c"
            ]
        ]
    },
    {
        "id": "e9bdfc07f8040398",
        "type": "ui_form",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Шаг 1",
        "label": "Шаг 1",
        "group": "1d4f8b34e9b2a123",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step1",
        "className": "",
        "x": 2160,
        "y": 40,
        "wires": [
            [
                "64f7806605aa0f1c"
            ]
        ]
    },
    {
        "id": "9403f7bd2d923f71",
        "type": "ui_form",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Шаг 2",
        "label": "Шаг 2",
        "group": "a5c2bf128e940f3a",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step2",
        "className": "",
        "x": 2160,
        "y": 100,
        "wires": [
            [
                "64f7806605aa0f1c"
            ]
        ]
    },
    {
        "id": "8b967a3d16579c35",
        "type": "ui_form",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Шаг 3",
        "label": "Шаг 3",
        "group": "84df0b3a72d3c9aa",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step3",
        "className": "",
        "x": 2160,
        "y": 160,
        "wires": [
            [
                "64f7806605aa0f1c"
            ]
        ]
    },
    {
        "id": "a01e0b10cbf2d3a8",
        "type": "ui_form",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Шаг 4",
        "label": "Шаг 4",
        "group": "f7b3c712db9a2e4c",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step4",
        "className": "",
        "x": 2160,
        "y": 220,
        "wires": [
            [
                "64f7806605aa0f1c"
            ]
        ]
    },
    {
        "id": "3d1fb9b727b79a0c",
        "type": "ui_form",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Шаг 5",
        "label": "Шаг 5",
        "group": "b3e3ed472ab1cc55",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step5",
        "className": "",
        "x": 2160,
        "y": 280,
        "wires": [
            [
                "64f7806605aa0f1c"
            ]
        ]
    },
    {
        "id": "64f7806605aa0f1c",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Сохранить изменения шага",
        "func": "const topic = msg.topic || '';\nconst match = topic.match(/step(\\d+)/);\nif (!match) {\n    return null;\n}\nconst index = Number(match[1]) - 1;\nif (index < 0) {\n    return null;\n}\nconst currentSteps = flow.get('steps');\nconst baseSteps = Array.isArray(currentSteps) ? [...currentSteps] : [...(flow.get('defaultSteps') || [])];\nconst current = baseSteps[index] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nconst updated = {\n    start: toNumber(msg.payload.start, current.start),\n    speed: toNumber(msg.payload.speed, current.speed),\n    step: toNumber(msg.payload.step, current.step),\n    end: toNumber(msg.payload.end, current.end),\n    pause: toNumber(msg.payload.pause, current.pause)\n};\nbaseSteps[index] = updated;\nflow.set('steps', baseSteps);\nconst stepNo = index + 1;\nglobal.set(`ITER_START_${stepNo}`, updated.start);\nglobal.set(`ITER_SPEED_${stepNo}`, updated.speed);\nglobal.set(`ITER_STEP_${stepNo}`, updated.step);\nglobal.set(`ITER_END_${stepNo}`, updated.end);\nglobal.set(`ITER_PAUSE_${stepNo}`, updated.pause);\nconst controllerMsg = {\n    action: 'updateParameters',\n    steps: baseSteps,\n    updatedStep: stepNo\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры шага ${stepNo} обновлены через панель`\n};\nconst formsMsg = {\n    payload: baseSteps,\n    source: 'панель'\n};\nreturn [controllerMsg, variablesMsg, statusMsg, formsMsg];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2430,
        "y": 160,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ],
            [
                "ea0d15c23b7efc26"
            ],
            [
                "40f5a9e8a3c33cd4"
            ],
            [
                "d010a3b933ea5b86"
            ]
        ]
    },
    {
        "id": "e08c2f4a04e1bd7d",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Контроллер итерации",
        "func": "const flowSteps = flow.get('steps') || [];\nlet state = context.get('state') || {};\nif (Array.isArray(msg.steps) && msg.steps.length) {\n    state.steps = msg.steps;\n}\nif (!Array.isArray(state.steps) || !state.steps.length) {\n    state.steps = Array.isArray(flowSteps) ? flowSteps : [];\n}\nif (!state.currentStep || state.currentStep < 1) {\n    state.currentStep = 1;\n}\nif (state.steps.length && state.currentStep > state.steps.length) {\n    state.currentStep = 1;\n}\ndelete state.timer;\ndelete state.pauseTimer;\nfunction getStepConfig(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return null;\n    }\n    const index = Math.max(0, Math.min(stepNumber - 1, state.steps.length - 1));\n    return state.steps[index];\n}\nfunction setCurrentStep(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        state.currentStep = stepNumber;\n    } else {\n        let step = stepNumber;\n        if (step < 1) {\n            step = 1;\n        }\n        if (step > state.steps.length) {\n            step = 1;\n        }\n        state.currentStep = step;\n    }\n    global.set('ITERATION_STEP', state.currentStep);\n}\nfunction setValue(value) {\n    state.value = value;\n    global.set('ITERATION_VALUE', value);\n}\nfunction invalidateTickToken() {\n    state.tickToken = null;\n    state.tickSeq = (state.tickSeq || 0) + 1;\n}\nfunction invalidatePauseToken() {\n    state.pauseToken = null;\n    state.pauseSeq = (state.pauseSeq || 0) + 1;\n}\nfunction nextTickToken() {\n    const seq = (state.tickSeq || 0) + 1;\n    state.tickSeq = seq;\n    state.tickToken = seq;\n    return seq;\n}\nfunction nextPauseToken() {\n    const seq = (state.pauseSeq || 0) + 1;\n    state.pauseSeq = seq;\n    state.pauseToken = seq;\n    return seq;\n}\nfunction clearMainTimer() {\n    invalidateTickToken();\n}\nfunction clearPauseTimer() {\n    invalidatePauseToken();\n}\nfunction clearAllTimers() {\n    clearMainTimer();\n    clearPauseTimer();\n}\nfunction broadcast(reason, includeValue = true) {\n    const controlState = global.get('ITERATION_CONTROL');\n    const out1 = includeValue ? {\n        payload: state.value,\n        step: state.currentStep,\n        topic: `Шаг ${state.currentStep}`,\n        reason,\n        ts: Date.now()\n    } : null;\n    const out2 = {\n        topic: 'state',\n        reason,\n        control: controlState,\n        step: state.currentStep,\n        value: state.value,\n        ts: Date.now()\n    };\n    node.send([out1, out2, null, null]);\n}\nfunction scheduleNextTick(delayOverride) {\n    clearMainTimer();\n    if (state.control !== 1) {\n        return;\n    }\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n    const speed = Number(cfg.speed) || 0;\n    const stepValue = Number(cfg.step) || 0;\n    if (speed <= 0 || stepValue === 0) {\n        finishStep('skip');\n        return;\n    }\n    const baseDelay = delayOverride != null ? Number(delayOverride) : Number(cfg.speed);\n    const safeDelay = Number.isFinite(baseDelay) && baseDelay > 0 ? baseDelay : 0;\n    const token = nextTickToken();\n    const tickMsg = {\n        action: 'tickTimer',\n        step: state.currentStep,\n        token,\n        delay: safeDelay,\n        ts: Date.now()\n    };\n    node.send([null, null, tickMsg, null]);\n}\nfunction schedulePause(pauseValue, resumeReason) {\n    clearPauseTimer();\n    if (state.control !== 1) {\n        return;\n    }\n    const safeDelay = Number.isFinite(pauseValue) && pauseValue > 0 ? pauseValue : 0;\n    const token = nextPauseToken();\n    const pauseMsg = {\n        action: 'pauseTimer',\n        step: state.currentStep,\n        token,\n        delay: safeDelay,\n        ts: Date.now(),\n        resumeReason: resumeReason || (safeDelay > 0 ? 'pauseComplete' : 'nextStep')\n    };\n    node.send([null, null, null, pauseMsg]);\n}\nfunction finishStep(reason) {\n    clearMainTimer();\n    clearPauseTimer();\n    if (state.control !== 1) {\n        return;\n    }\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n    if (reason) {\n        broadcast(reason, false);\n    }\n    const pause = Number(cfg.pause) || 0;\n    schedulePause(pause, pause > 0 ? 'pauseComplete' : 'nextStep');\n}\nfunction advanceStep(reason) {\n    clearMainTimer();\n    clearPauseTimer();\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return;\n    }\n    let nextStep = state.currentStep ? state.currentStep + 1 : 1;\n    if (nextStep > state.steps.length) {\n        nextStep = 1;\n    }\n    setCurrentStep(nextStep);\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n    const speed = Number(cfg.speed) || 0;\n    const stepValue = Number(cfg.step) || 0;\n    if (speed <= 0 || stepValue === 0) {\n        finishStep('skip');\n        return;\n    }\n    const startValue = Number(cfg.start);\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n    broadcast(reason || 'stepStart');\n    if (state.control !== 1) {\n        return;\n    }\n    scheduleNextTick();\n}\nif (!Number.isFinite(state.value)) {\n    const cfg = getStepConfig(state.currentStep);\n    const startValue = cfg ? Number(cfg.start) : 0;\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n}\nconst action = msg.action || msg.topic || '';\nswitch (action) {\n    case 'tickTimer':\n        if (!msg || msg.token == null) {\n            break;\n        }\n        if (state.tickToken == null || msg.token !== state.tickToken) {\n            break;\n        }\n        if (state.control !== 1) {\n            state.tickToken = null;\n            break;\n        }\n        state.tickToken = null;\n        const cfgTick = getStepConfig(state.currentStep);\n        if (!cfgTick) {\n            break;\n        }\n        const increment = Number(cfgTick.step) || 0;\n        if (increment === 0) {\n            finishStep('skip');\n            break;\n        }\n        let nextValue = state.value + increment;\n        if (increment > 0 && nextValue > cfgTick.end) {\n            nextValue = cfgTick.end;\n        }\n        if (increment < 0 && nextValue < cfgTick.end) {\n            nextValue = cfgTick.end;\n        }\n        setValue(nextValue);\n        broadcast('tick');\n        if ((increment > 0 && nextValue >= cfgTick.end) || (increment < 0 && nextValue <= cfgTick.end)) {\n            finishStep('completed');\n        } else {\n            scheduleNextTick();\n        }\n        break;\n    case 'pauseTimer':\n        if (!msg || msg.token == null) {\n            break;\n        }\n        if (state.pauseToken == null || msg.token !== state.pauseToken) {\n            break;\n        }\n        state.pauseToken = null;\n        if (state.control !== 1) {\n            break;\n        }\n        advanceStep(msg.resumeReason || 'nextStep');\n        break;\n    case 'restart':\n        clearAllTimers();\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n        }\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n        setCurrentStep(1);\n        const firstCfg = getStepConfig(state.currentStep);\n        let skipFirst = false;\n        if (firstCfg) {\n            const speed = Number(firstCfg.speed) || 0;\n            const stepValue = Number(firstCfg.step) || 0;\n            if (speed <= 0 || stepValue === 0) {\n                skipFirst = true;\n            } else {\n                const startValue = Number(firstCfg.start);\n                setValue(Number.isFinite(startValue) ? startValue : 0);\n            }\n        }\n        global.set('ITERATION_CONTROL', 2);\n        state.control = 2;\n        broadcast('restart');\n        global.set('ITERATION_CONTROL', 1);\n        state.control = 1;\n        broadcast('run', false);\n        if (firstCfg) {\n            if (skipFirst) {\n                finishStep('skip');\n            } else {\n                scheduleNextTick();\n            }\n        }\n        break;\n    case 'start':\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n        if (state.control === 1) {\n            if (!state.tickToken && !state.pauseToken) {\n                scheduleNextTick();\n            }\n            broadcast('resume', false);\n            break;\n        }\n        state.control = 1;\n        global.set('ITERATION_CONTROL', 1);\n        clearPauseTimer();\n        broadcast('resume', false);\n        scheduleNextTick();\n        break;\n    case 'stop':\n        clearAllTimers();\n        state.control = 0;\n        global.set('ITERATION_CONTROL', 0);\n        broadcast('stop', false);\n        break;\n    case 'updateParameters':\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n        }\n        const currentCfg = getStepConfig(state.currentStep);\n        if (currentCfg) {\n            const startVal = Number(currentCfg.start);\n            const endVal = Number(currentCfg.end);\n            if (Number.isFinite(startVal) && Number.isFinite(endVal)) {\n                const min = Math.min(startVal, endVal);\n                const max = Math.max(startVal, endVal);\n                if (!Number.isFinite(state.value) || state.value < min || state.value > max) {\n                    setValue(startVal);\n                    broadcast('parameters');\n                } else {\n                    broadcast('parameters', false);\n                }\n            } else {\n                broadcast('parameters', false);\n            }\n        } else {\n            broadcast('parameters', false);\n        }\n        if (state.control === 1) {\n            scheduleNextTick();\n        }\n        break;\n    default:\n        if (state.control === 1 && !state.tickToken && !state.pauseToken) {\n            scheduleNextTick();\n        }\n        break;\n}\ncontext.set('state', state);\nreturn null;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 20,
        "wires": [
            [
                "53d86127cd20b3af"
            ],
            [
                "ea0d15c23b7efc26",
                "f7b3b90ce553d92f"
            ],
            [
                "dd9f21a3e87fbb53"
            ],
            [
                "c91d8c3453f3a14a"
            ]
        ]
    },
    {
        "id": "53d86127cd20b3af",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Отображение значения",
        "func": "const value = Number(msg.payload);\nconst step = msg.step || global.get('ITERATION_STEP');\nconst chartMsg = {\n    payload: value,\n    topic: 'Итерация'\n};\nconst valueMsg = {\n    payload: value\n};\nconst stepMsg = {\n    payload: step\n};\nreturn [chartMsg, valueMsg, stepMsg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 20,
        "wires": [
            [
                "c6d0f2732fc4cb3f"
            ],
            [
                "a3d1361073aa51d0"
            ],
            [
                "a8ef6da5914e9c2a"
            ]
        ]
    },
    {
        "id": "c6d0f2732fc4cb3f",
        "type": "ui_chart",
        "z": "e1aefb0d6fb2a4a3",
        "name": "График итерации",
        "group": "bf01c69ab8f7e5cd",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "График итерации",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "500",
        "removeOlderUnit": "600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2040,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "a3d1361073aa51d0",
        "type": "ui_text",
        "z": "e1aefb0d6fb2a4a3",
        "group": "6f6d1d13c83d9c31",
        "name": "Текущее значение",
        "order": 2,
        "width": "6",
        "height": "1",
        "label": "Текущее значение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2040,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ef6da5914e9c2a",
        "type": "ui_text",
        "z": "e1aefb0d6fb2a4a3",
        "group": "6f6d1d13c83d9c31",
        "name": "Активный шаг",
        "order": 3,
        "width": "6",
        "height": "1",
        "label": "Активный шаг",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7ec4d0f28f018ae0",
        "type": "ui_text",
        "z": "e1aefb0d6fb2a4a3",
        "group": "fa9b12c4a61eab67",
        "name": "Версия проекта",
        "order": 1,
        "width": "12",
        "height": "1",
        "label": "Version",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 750,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d8910ecbdabf1e7a",
        "type": "ui_template",
        "z": "e1aefb0d6fb2a4a3",
        "group": "3e8b01d31bc4f432",
        "name": "История версий",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">История версий</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"margin-bottom:4px;\">\n    {{$index + 1}}. {{item}}\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ea0d15c23b7efc26",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Сформировать список переменных",
        "func": "const data = [];\nconst versionDisplay = flow.get('versionDisplay') || '';\nconst versionCode = flow.get('version') || '';\ndata.push({ name: 'VER', value: global.get('VER') });\ndata.push({ name: 'flow.version', value: versionCode });\ndata.push({ name: 'versionDisplay', value: versionDisplay });\ndata.push({ name: 'ITERATION_CONTROL', value: global.get('ITERATION_CONTROL') });\ndata.push({ name: 'ITERATION_STEP', value: global.get('ITERATION_STEP') });\ndata.push({ name: 'ITERATION_VALUE', value: global.get('ITERATION_VALUE') });\nfor (let i = 1; i <= 5; i++) {\n    data.push({ name: `ITER_START_${i}`, value: global.get(`ITER_START_${i}`) });\n    data.push({ name: `ITER_SPEED_${i}`, value: global.get(`ITER_SPEED_${i}`) });\n    data.push({ name: `ITER_STEP_${i}`, value: global.get(`ITER_STEP_${i}`) });\n    data.push({ name: `ITER_END_${i}`, value: global.get(`ITER_END_${i}`) });\n    data.push({ name: `ITER_PAUSE_${i}`, value: global.get(`ITER_PAUSE_${i}`) });\n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "b0d44d2c3625f111"
            ]
        ]
    },
    {
        "id": "b0d44d2c3625f111",
        "type": "ui_template",
        "z": "e1aefb0d6fb2a4a3",
        "group": "5d2d0d5ecb20a567",
        "name": "Переменные",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">Текущие переменные</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"display:flex; justify-content:space-between; border-bottom:1px solid #ccc; padding:2px 0;\">\n    <span style=\"font-weight:500;\">{{item.name}}</span>\n    <span>{{item.value}}</span>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f7b3b90ce553d92f",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Статус контроллера",
        "func": "const reason = msg.reason || '';\nif (reason === 'tick') {\n    return null;\n}\nlet text = '';\nswitch (reason) {\n    case 'restart':\n        text = 'Контроллер перезапущен';\n        break;\n    case 'run':\n    case 'resume':\n        text = 'Контроллер запущен';\n        break;\n    case 'stop':\n        text = 'Контроллер остановлен';\n        break;\n    case 'parameters':\n        text = 'Параметры обновлены';\n        break;\n    case 'pauseComplete':\n        text = 'Пауза завершена';\n        break;\n    case 'nextStep':\n    case 'stepStart':\n        text = `Начат шаг ${msg.step}`;\n        break;\n    default:\n        text = `Состояние обновлено (${reason || 'без причины'})`;\n}\ntext += ` (управление=${msg.control})`;\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 280,
        "wires": [
            [
                "40f5a9e8a3c33cd4"
            ]
        ]
    },
    {
        "id": "40f5a9e8a3c33cd4",
        "type": "ui_text",
        "z": "e1aefb0d6fb2a4a3",
        "group": "6f6d1d13c83d9c31",
        "name": "Статус операций",
        "order": 4,
        "width": "12",
        "height": "1",
        "label": "Статус",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2000,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8cbb2de6c2276b7e",
        "type": "ui_button",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Старт",
        "group": "6f6d1d13c83d9c31",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Старт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "ad5b9d54157b92ce"
            ]
        ]
    },
    {
        "id": "ad5b9d54157b92ce",
        "type": "change",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Команда старт",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ]
        ]
    },
    {
        "id": "cf0a74fd4034eab1",
        "type": "ui_button",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Пауза",
        "group": "6f6d1d13c83d9c31",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Пауза",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "90f832c548d5b7da"
            ]
        ]
    },
    {
        "id": "90f832c548d5b7da",
        "type": "change",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Команда стоп",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ]
        ]
    },
    {
        "id": "9b9a9f3fd8661c1f",
        "type": "ui_button",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Рестарт",
        "group": "6f6d1d13c83d9c31",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Рестарт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "57f9620dc9a3d91c"
            ]
        ]
    },
    {
        "id": "57f9620dc9a3d91c",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Команда рестарт",
        "func": "msg.action = 'restart';\nconst steps = flow.get('steps');\nif (Array.isArray(steps)) {\n    msg.steps = steps;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ]
        ]
    },
    {
        "id": "0b3c7ad4fcb98c66",
        "type": "ui_button",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Загрузить из файла",
        "group": "6f6d1d13c83d9c31",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Загрузить из файла",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "44f4dd55b0461dc4"
            ]
        ]
    },
    {
        "id": "44f4dd55b0461dc4",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Чтение из файла",
        "func": "const filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst requestMsg = {\n    filename,\n    source: 'файл',\n    topic: 'loadParameters'\n};\nconst statusMsg = {\n    payload: 'Загрузка параметров из файла...'\n};\nreturn [requestMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "f4ef779e2a6ce55a"
            ],
            [
                "40f5a9e8a3c33cd4"
            ]
        ]
    },
    {
        "id": "26bc12fb3da587f4",
        "type": "ui_button",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Сохранить в файл",
        "group": "6f6d1d13c83d9c31",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Сохранить в файл",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "1a31e7185bb16a2d"
            ]
        ]
    },
    {
        "id": "1a31e7185bb16a2d",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Подготовить запись",
        "func": "const steps = flow.get('steps') || flow.get('defaultSteps') || [];\nconst filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst saveMsg = {\n    filename,\n    payload: { steps }\n};\nconst statusMsg = {\n    payload: 'Сохранение параметров в файл...'\n};\nreturn [saveMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 520,
        "wires": [
            [
                "f6b510f8c6df775b"
            ],
            [
                "40f5a9e8a3c33cd4"
            ]
        ]
    },
    {
        "id": "f6b510f8c6df775b",
        "type": "json",
        "z": "e1aefb0d6fb2a4a3",
        "name": "JSON -> текст",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 900,
        "y": 520,
        "wires": [
            [
                "2d466f810e16d908"
            ]
        ]
    },
    {
        "id": "2d466f810e16d908",
        "type": "file",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Запись параметров",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "c5f923dfb5c66e56"
            ]
        ]
    },
    {
        "id": "c5f923dfb5c66e56",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Сообщить о сохранении",
        "func": "msg.payload = 'Параметры сохранены в файл';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 520,
        "wires": [
            [
                "40f5a9e8a3c33cd4"
            ]
        ]
    },
    {
        "id": "a7a4a1f43fa8e9f6",
        "type": "http in",
        "z": "e1aefb0d6fb2a4a3",
        "name": "API состояние",
        "url": "/iteration/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "a6b2ac1e32213ba2"
            ]
        ]
    },
    {
        "id": "a6b2ac1e32213ba2",
        "type": "function",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Подготовить ответ",
        "func": "const response = {\n    version: flow.get('version'),\n    versionDisplay: flow.get('versionDisplay'),\n    control: global.get('ITERATION_CONTROL'),\n    step: global.get('ITERATION_STEP'),\n    value: global.get('ITERATION_VALUE'),\n    steps: []\n};\nfor (let i = 1; i <= 5; i++) {\n    response.steps.push({\n        index: i,\n        start: global.get(`ITER_START_${i}`),\n        speed: global.get(`ITER_SPEED_${i}`),\n        step: global.get(`ITER_STEP_${i}`),\n        end: global.get(`ITER_END_${i}`),\n        pause: global.get(`ITER_PAUSE_${i}`)\n    });\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "3acaa5c9a6c4f4a2"
            ]
        ]
    },
    {
        "id": "3acaa5c9a6c4f4a2",
        "type": "http response",
        "z": "e1aefb0d6fb2a4a3",
        "name": "HTTP ответ",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8d5ac7eb8764bd1e",
        "type": "change",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Обновить версию в контексте",
        "rules": [
            {
                "t": "set",
                "p": "version",
                "pt": "flow",
                "to": "2025-11-06_1740",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "6bb4e19ff77f7e43"
            ]
        ]
    },
    {
        "id": "dd9f21a3e87fbb53",
        "type": "delay",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Задержка шага",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "0",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1740,
        "y": 20,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ]
        ]
    },
    {
        "id": "c91d8c3453f3a14a",
        "type": "delay",
        "z": "e1aefb0d6fb2a4a3",
        "name": "Задержка паузы",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "0",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1740,
        "y": 60,
        "wires": [
            [
                "e08c2f4a04e1bd7d"
            ]
        ]
    }
]
