flows_controller-iteration_ver_2025-11-10_101120252256.json
[
    {
        "id": "f54f1d203647689a",
        "type": "tab",
        "label": "Контроллер итерации",
        "disabled": false,
        "info": "Версия: 2025-11-10_2256 (101120252256)",
        "env": []
    },
    {
        "id": "c1a3dcd1bb6d2abc",
        "type": "ui_tab",
        "name": "Контроллер итерации",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa9b12c4a61eab67",
        "type": "ui_group",
        "name": "Версия",
        "tab": "b2e4d5c6f7a8091e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3e8b01d31bc4f432",
        "type": "ui_group",
        "name": "Изменения",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6f6d1d13c83d9c31",
        "type": "ui_group",
        "name": "Управление",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1d4f8b34e9b2a123",
        "type": "ui_group",
        "name": "Шаг 1",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a5c2bf128e940f3a",
        "type": "ui_group",
        "name": "Шаг 2",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "84df0b3a72d3c9aa",
        "type": "ui_group",
        "name": "Шаг 3",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f7b3c712db9a2e4c",
        "type": "ui_group",
        "name": "Шаг 4",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b3e3ed472ab1cc55",
        "type": "ui_group",
        "name": "Шаг 5",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5d2d0d5ecb20a567",
        "type": "ui_group",
        "name": "Значения",
        "tab": "d4c198f7b8ad2c5e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "ui_group",
        "name": "График",
        "tab": "c1a3dcd1bb6d2abc",
        "order": 10,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c8e9f2a1b3d4e5f6",
        "type": "ui_group",
        "name": "История версий",
        "tab": "b2e4d5c6f7a8091e",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f2c1a7d9b4e56a01",
        "type": "ui_group",
        "name": "Заметки",
        "tab": "a7f5d2310bc4e98f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d4c198f7b8ad2c5e",
        "type": "ui_tab",
        "name": "Переменные",
        "icon": "table_chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7f5d2310bc4e98f",
        "type": "ui_tab",
        "name": "Заметки",
        "icon": "event_note",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2e4d5c6f7a8091e",
        "type": "ui_tab",
        "name": "История версий",
        "icon": "history",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c908241177f8961",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "db570711433c39a6",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bea66fc9da936c42",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2a737a0c5024704e",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "19669274cf57df06",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6ccf3f0c78435ea5",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1936b1f7320c2601",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7e1aeec0cd8b17d4",
        "type": "ui_base",
        "name": "Dashboard",
        "theme": {
            "sidebar": {
                "state": "closed"
            },
            "header": {
                "state": "visible"
            },
            "page": {
                "state": "visible"
            }
        },
        "site": {
            "name": "Контроллер итерации",
            "hideNavbar": false,
            "allowSwipe": true,
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dd674293b3127467",
        "type": "inject",
        "z": "f54f1d203647689a",
        "name": "Старт проекта",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "init",
        "payload": "",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "7905e63d9602ec9c"
            ]
        ]
    },
    {
        "id": "e24791b289d8adde",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Инициализация проекта",
        "func": "const versionDisplay = \"101120252256\";\nconst versionCode = '2025-11-10_2256';\nconst versionNumber = Number(versionDisplay);\nconst configFile = \"/data/controller_iteration_params.json\";\nconst trendExportDir = \"/data/trends\";\nconst notesFile = \"/data/iteration_notes.json\";\nconst emptyExportSnapshot = { labels: [], value: [], step: [] };\nconst defaultSteps = [\n    { start: -1000, speed: 100, step: 100, end: 1000, pause: 0 },\n    { start: -500, speed: 150, step: 50, end: 500, pause: 100 },\n    { start: -250, speed: 200, step: 25, end: 250, pause: 100 },\n    { start: 0, speed: 250, step: 50, end: 500, pause: 200 },\n    { start: 500, speed: 300, step: 100, end: -500, pause: 0 }\n];\nconst changeLog = [\n    \"061120251343: Начальная версия. Добавлен пятишаговый контроллер итерации с управлением, чтением/записью параметров, панелью мониторинга и HTTP интерфейсом.\",\n    \"061120251400: Исправлено экранирование function-узлов и восстановлено разбиение шагов формы.\",\n    \"061120251523: Исправлены таймеры контроллера итерации, восстановлено чтение/запись параметров и VER теперь число.\",\n    \"061120251606: Формы сохраняют значения без очистки, график ограничен 10 минутами и 500 точками.\",\n    \"061120251656: Пропуск шагов со скоростью 0 не меняет ITERATION_VALUE; обновлена версия 2025-11-06_1656.\",\n    \"061120251854: Исправлены race conditions в таймерах, синхронизация состояния, логика пропуска шагов, finishStep при pause=0, валидация параметров и оптимизация производительности.\",\n    \"061120251923: Исправлена логика паузы при пропуске шага (пауза не выполняется если шаг пропущен), добавлен номер шага на график, история версий перенесена в конец дашборда.\",\n    \"061120252015: Шаг итерации теперь всегда положительный, направление определяется автоматически по начальному и конечному значениям. Добавлен тренд ITERATION_STEP на график итерации.\",\n    \"061120252036: Добавлены русские описания для всех переменных в секции 'Значения' на дашборде.\",\n    \"061120252139: Добавлены три графика итерации с разными масштабами времени: 30 секунд, 5 минут и 1 час. Тренды отключены по умолчанию при загрузке проекта с возможностью выборочного включения через легенду.\",\n    \"061120252244: Оставлен один график на 5 минут с количеством точек 500.\",\n    \"061120252305: Исправлены критические проблемы стабильности: race conditions в таймерах (добавлена защита флагом processing), исправлена логика пропуска шагов (значение ITERATION_VALUE не меняется при skip), убрана компенсация задержек (оставлен простой setTimeout), добавлена обработка ошибок записи файла, улучшена синхронизация состояния контроллера.\",\n    \"081120251732: Обновлены версия проекта и имя файла, синхронизирован flow.version.\",\n    \"081120251908: Исправлены версия/имя файла, добавлены линии без маркеров, миллисекунды на оси времени и кнопка рядом с графиком.\",\n    \"081120251945: Гарантирована выгрузка тренда при пропуске последнего шага; синхронизированы версия и имя файла.\",\n    \"081120252018: Добавлен экспорт данных тренда в файл по кнопке после завершения цикла.\",\n    \"081120252047: Исправлена конфигурация узла записи тренда, обеспечена запись файла экспорта.\",\n    \"091120250057: Добавлен столбец времени (мс) в экспорт тренда и убрана версия из имени файла экспорта.\",\n    \"091120250925: Добавлены глобальные переменные времени цикла и шагов итерации, отображение времени шагов на панели.\",\n    \"091120251048: Добавлены расчётные длительности шагов и цикла, фактические значения сохраняются до нового измерения.\",\n    \"091120251205: График итерации отображает фактические метки времени, учитывая реальные паузы между шагами.\",\n    \"091120251436: Исправлена структура файла и гарантирован автозапуск итерации при загрузке проекта.\",\n    \"091120251523: Добавлен теоретический график итерации, оба графика показывают время от 0 мс (относительное время от начала цикла).\",\n    \"091120251532: Исправлен график фактической итерации - временная шкала всегда начинается с нуля (первая точка всегда имеет время 0 мс).\",\n    \"091120251734: Обновлено имя файла на версию 091120251734.\",\n    \"091120251747: Временная шкала графиков в миллисекундах, теоретический график обновляется при рестарте.\",\n    \"091120252204: Исправлена функция экспорта тренда (убран некорректный Date.parse), исправлено количество outputs в функции сохранения шага (4→5), добавлены пояснения в названия графиков.\",\n    \"091120252022: Изменена интерполяция графиков с linear на step-after для отображения реальной ступенчатой картины итерации.\",\n    \"091120252300: Унифицированы настройки обоих графиков - установлена интерполяция step и формат времени mm:ss для одинакового отображения.\",\n    \"101120251042: Убрано дублирование конечной точки на теоретическом графике.\",\n    \"101120251143: Добавлена панель заметок на дашборде с сохранением и загрузкой записей из файла.\",\n    \"101120251228: Вынесены переменные, версия и заметки на отдельные вкладки, заметки показывают текущую версию.\",\n    \"101120251339: Добавлены отдельные вкладки «История версий» и «Заметки», запись заметок ведётся с новой строкой.\",\n    \"101120251456: Включено сохранение данных на вкладках и синхронизирована версия контекста.\",\n    \"101120251511: Добавлен узел ui_base для корректной работы дашборда, исправлена структура проекта.\",\n    \"101120251732: Увеличен буфер тренда с 2000 до 20000 точек для более детальной записи итераций.\",\n    \"101120251745: Поле 'Новая заметка' теперь активно сразу при загрузке проекта (добавлена инициализация формы).\",\n    \"101120252034: Исправлена блокировка поля ввода заметок - отключена прямая инициализация формы, textarea с resetAfterSubmit работает корректно.\",\n    \"101120252042: Исправлена недоступность поля ввода заметок - подключен 5-й выход узла инициализации к форме заметок для корректной инициализации при загрузке проекта.\",\n    \"101120252151: Удалена пустая вкладка Flow 3 и обновлена версия проекта.\",\n    \"101120252256: Синхронизированы версии контекста, вкладок и история изменений.\",\n];\n\nfunction ensureNumber(key, fallback = 0) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, fallback);\n    }\n}\n\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\n\nfunction updatePlanEstimates(steps) {\n    let cyclePlan = 0;\n    steps.forEach((cfg, index) => {\n        const duration = calculateStepDuration(cfg);\n        global.set(`ITER_STEP_TIME_PLAN_${index + 1}`, duration);\n        if (duration > 0) {\n            cyclePlan += duration;\n            if (index < steps.length - 1) {\n                const pause = Number(cfg?.pause) || 0;\n                cyclePlan += Math.max(0, pause);\n            }\n        }\n    });\n    global.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\n}\n\nflow.set('version', versionCode);\nflow.set('versionDisplay', versionDisplay);\nflow.set('configFile', configFile);\nflow.set('defaultSteps', defaultSteps);\nflow.set('changeLog', changeLog);\nflow.set('trendExportDir', trendExportDir);\nflow.set('trendExportData', emptyExportSnapshot);\nflow.set('trendExportReady', false);\nflow.set('notesFile', notesFile);\nflow.set('notes', []);\n\nfor (let i = 1; i <= 5; i += 1) {\n    ensureNumber(`ITER_STEP_TIME_${i}`, 0);\n}\nensureNumber('ITERATION_CYCLE_TIME', 0);\nupdatePlanEstimates(defaultSteps);\n\nglobal.set('VER', versionNumber);\n\nconst loadMsg = {\n    topic: 'loadParameters',\n    filename: configFile,\n    defaults: defaultSteps,\n    source: 'файл'\n};\nconst versionMsg = {\n    payload: `Текущая версия: ${versionCode} (${versionDisplay})`\n};\nconst changeMsg = {\n    payload: changeLog\n};\nconst notesMsg = {\n    topic: 'loadNotes',\n    filename: notesFile,\n    source: 'файл'\n};\nconst formInitMsg = {\n    payload: { text: \"\" },\n    topic: 'initForm'\n};\n\nreturn [loadMsg, versionMsg, changeMsg, notesMsg, formInitMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "e72302b070f518d4"
            ],
            [
                "05899cc8d6a8cbcd",
                "63091136ad236005"
            ],
            [
                "5f553961657eb15b"
            ],
            [
                "a2d941e6dddf0a5b"
            ],
            [
                "1464d2bc6eeea534"
            ]
        ]
    },
    {
        "id": "e72302b070f518d4",
        "type": "file in",
        "z": "f54f1d203647689a",
        "name": "Чтение параметров",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "x": 710,
        "y": 80,
        "wires": [
            [
                "b4195a81aaded117"
            ]
        ]
    },
    {
        "id": "b4195a81aaded117",
        "type": "json",
        "z": "f54f1d203647689a",
        "name": "JSON -> объект",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "9b0c1536527f86ee"
            ]
        ]
    },
    {
        "id": "9b0c1536527f86ee",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Применить параметры",
        "func": "const defaults = flow.get('defaultSteps') || [];\nconst source = msg.source || (msg.filename ? \"файл\" : \"данные\");\nlet incoming = [];\nif (msg.payload && Array.isArray(msg.payload.steps)) {\n    incoming = msg.payload.steps;\n} else if (Array.isArray(msg.payload)) {\n    incoming = msg.payload;\n}\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nfunction validateStep(step, index) {\n    const speed = toNumber(step.speed, 100);\n    const stepValue = Math.abs(toNumber(step.step, 1));\n    const start = toNumber(step.start, 0);\n    const end = toNumber(step.end, 0);\n    const pause = toNumber(step.pause, 0);\n    if (speed < 0) {\n        node.warn(`Шаг ${index + 1}: скорость не может быть отрицательной, установлено 0`);\n    }\n    if (pause < 0) {\n        node.warn(`Шаг ${index + 1}: пауза не может быть отрицательной, установлено 0`);\n    }\n    if (stepValue <= 0) {\n        node.warn(`Шаг ${index + 1}: шаг должен быть положительным, установлено 1`);\n    }\n    return {\n        start: start,\n        speed: Math.max(0, speed),\n        step: Math.max(1, stepValue),\n        end: end,\n        pause: Math.max(0, pause)\n    };\n}\nfunction ensureActual(key) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, 0);\n    }\n}\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\nconst normalizedSteps = [];\nlet cyclePlan = 0;\nfor (let i = 0; i < 5; i++) {\n    const def = defaults[i] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\n    const item = incoming[i] || def;\n    const normalized = validateStep(item, i);\n    normalizedSteps.push(normalized);\n    const index = i + 1;\n    global.set(`ITER_START_${index}`, normalized.start);\n    global.set(`ITER_SPEED_${index}`, normalized.speed);\n    global.set(`ITER_STEP_${index}`, normalized.step);\n    global.set(`ITER_END_${index}`, normalized.end);\n    global.set(`ITER_PAUSE_${index}`, normalized.pause);\n    const planDuration = calculateStepDuration(normalized);\n    global.set(`ITER_STEP_TIME_PLAN_${index}`, planDuration);\n    if (planDuration > 0) {\n        cyclePlan += planDuration;\n        if (i < 4) {\n            cyclePlan += Math.max(0, Number(normalized.pause) || 0);\n        }\n    }\n    ensureActual(`ITER_STEP_TIME_${index}`);\n}\nglobal.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\nensureActual('ITERATION_CYCLE_TIME');\nflow.set('steps', normalizedSteps);\nflow.set('lastLoadSource', source);\nconst initialStep = normalizedSteps[0] || { start: 0 };\nconst initialValue = toNumber(initialStep.start, 0);\nglobal.set('ITERATION_STEP', 1);\nglobal.set('ITERATION_CONTROL', 1);\nglobal.set('ITERATION_VALUE', initialValue);\nconst controllerMsg = {\n    action: 'restart',\n    steps: normalizedSteps\n};\nconst formsMsg = {\n    payload: normalizedSteps\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры загружены (${source})`\n};\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [controllerMsg, formsMsg, variablesMsg, statusMsg, theoreticalMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "34a155020768fae5"
            ],
            [
                "e72000c158bf1c84"
            ],
            [
                "1702a0ccda5a6baa"
            ],
            [
                "2623d0b89e74d4f5"
            ],
            [
                "83da5abea5e596a6"
            ]
        ]
    },
    {
        "id": "f3f092a59836a3cb",
        "type": "catch",
        "z": "f54f1d203647689a",
        "name": "Ошибки работы с файлом",
        "scope": [
            "e72302b070f518d4",
            "b4195a81aaded117",
            "0feff211387eeb45",
            "7748ba12c17da4a2",
            "2299ee6dd2bbde1c"
        ],
        "uncaught": false,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "3eba495c3bfbdffd"
            ]
        ]
    },
    {
        "id": "3eba495c3bfbdffd",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Обработка ошибки файла",
        "func": "if (msg.error && msg.error.message) {\n    const errorMsg = msg.error.message;\n    const topic = msg.topic;\n    const filename = msg.filename;\n\n    node.warn(`Ошибка работы с файлом: ${errorMsg}`);\n\n    if (topic === 'loadNotes') {\n        const statusMsg = {\n            payload: filename && errorMsg.includes('ENOENT')\n                ? 'Файл заметок не найден, создан пустой список'\n                : `Ошибка загрузки заметок: ${errorMsg}`\n        };\n        const notesMsg = {\n            payload: [],\n            topic: 'notesUpdate',\n            statusText: statusMsg.payload\n        };\n        flow.set('notes', []);\n        return [null, statusMsg, notesMsg];\n    }\n\n    if (topic === 'saveNotes') {\n        const statusMsg = {\n            payload: `Ошибка сохранения заметок: ${errorMsg}`\n        };\n        return [null, statusMsg, null];\n    }\n\n    if (filename && errorMsg.includes('ENOENT')) {\n        node.warn('Файл параметров не найден, используем значения по умолчанию');\n        const defaults = flow.get('defaultSteps') || [];\n        msg.payload = { steps: defaults };\n        msg.source = 'значения по умолчанию';\n        return [msg, null, null];\n    }\n\n    if (filename) {\n        const statusMsg = {\n            payload: `Ошибка работы с файлом: ${errorMsg}`\n        };\n        return [null, statusMsg, null];\n    }\n}\n\nconst defaults = flow.get('defaultSteps') || [];\nmsg.payload = { steps: defaults };\nmsg.source = 'значения по умолчанию';\nreturn [msg, null, null];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "9b0c1536527f86ee"
            ],
            [
                "2623d0b89e74d4f5"
            ],
            [
                "09af12285f7057a7"
            ]
        ]
    },
    {
        "id": "e72000c158bf1c84",
        "type": "split",
        "z": "f54f1d203647689a",
        "name": "По шагам",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1460,
        "y": 120,
        "wires": [
            [
                "c776e27d80cb25d2"
            ]
        ]
    },
    {
        "id": "c776e27d80cb25d2",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Подготовка для форм",
        "func": "const index = (msg.parts && Number(msg.parts.index)) || 0;\nconst stepNumber = index + 1;\nconst step = msg.payload || {};\nmsg.step = stepNumber;\nmsg.topic = `step${stepNumber}`;\nmsg.payload = {\n    start: step.start,\n    speed: step.speed,\n    step: step.step,\n    end: step.end,\n    pause: step.pause\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "dd6e1a7c6d01fab0"
            ]
        ]
    },
    {
        "id": "dd6e1a7c6d01fab0",
        "type": "switch",
        "z": "f54f1d203647689a",
        "name": "К формам",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1910,
        "y": 120,
        "wires": [
            [
                "20c35ae14debe154"
            ],
            [
                "ba3847b096cf6aeb"
            ],
            [
                "dd7229602a7e5109"
            ],
            [
                "ebfdbaeb0ba80cdb"
            ],
            [
                "7e48ddc2b936b658"
            ]
        ]
    },
    {
        "id": "20c35ae14debe154",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Шаг 1",
        "label": "Шаг 1",
        "group": "1d4f8b34e9b2a123",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step1",
        "className": "",
        "x": 2160,
        "y": 40,
        "wires": [
            [
                "7501bbda3580b3c3"
            ]
        ]
    },
    {
        "id": "ba3847b096cf6aeb",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Шаг 2",
        "label": "Шаг 2",
        "group": "a5c2bf128e940f3a",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step2",
        "className": "",
        "x": 2160,
        "y": 100,
        "wires": [
            [
                "7501bbda3580b3c3"
            ]
        ]
    },
    {
        "id": "dd7229602a7e5109",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Шаг 3",
        "label": "Шаг 3",
        "group": "84df0b3a72d3c9aa",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step3",
        "className": "",
        "x": 2160,
        "y": 160,
        "wires": [
            [
                "7501bbda3580b3c3"
            ]
        ]
    },
    {
        "id": "ebfdbaeb0ba80cdb",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Шаг 4",
        "label": "Шаг 4",
        "group": "f7b3c712db9a2e4c",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step4",
        "className": "",
        "x": 2160,
        "y": 220,
        "wires": [
            [
                "7501bbda3580b3c3"
            ]
        ]
    },
    {
        "id": "7e48ddc2b936b658",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Шаг 5",
        "label": "Шаг 5",
        "group": "b3e3ed472ab1cc55",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Начальное значение",
                "value": "start",
                "type": "number",
                "required": true
            },
            {
                "label": "Скорость (мс)",
                "value": "speed",
                "type": "number",
                "required": true
            },
            {
                "label": "Шаг",
                "value": "step",
                "type": "number",
                "required": true
            },
            {
                "label": "Конечное значение",
                "value": "end",
                "type": "number",
                "required": true
            },
            {
                "label": "Пауза после шага (мс)",
                "value": "pause",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "start": "",
            "speed": "",
            "step": "",
            "end": "",
            "pause": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Отмена",
        "topic": "step5",
        "className": "",
        "x": 2160,
        "y": 280,
        "wires": [
            [
                "7501bbda3580b3c3"
            ]
        ]
    },
    {
        "id": "7501bbda3580b3c3",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Сохранить изменения шага",
        "func": "const topic = msg.topic || \"\";\nconst match = topic.match(/step([0-9]+)/);\nif (!match) {\n    return null;\n}\nconst index = Number(match[1]) - 1;\nif (index < 0) {\n    return null;\n}\nconst currentSteps = flow.get('steps');\nconst baseSteps = Array.isArray(currentSteps) ? [...currentSteps] : [...(flow.get('defaultSteps') || [])];\nconst current = baseSteps[index] || { start: 0, speed: 100, step: 1, end: 0, pause: 0 };\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\nfunction validateStep(step, index) {\n    const speed = toNumber(step.speed, current.speed);\n    const stepValue = toNumber(step.step, current.step);\n    const start = toNumber(step.start, current.start);\n    const end = toNumber(step.end, current.end);\n    const pause = toNumber(step.pause, current.pause);\n    if (speed < 0) {\n        node.warn(`Шаг ${index + 1}: скорость не может быть отрицательной, установлено 0`);\n    }\n    if (pause < 0) {\n        node.warn(`Шаг ${index + 1}: пауза не может быть отрицательной, установлено 0`);\n    }\n    return {\n        start: start,\n        speed: Math.max(0, speed),\n        step: stepValue,\n        end: end,\n        pause: Math.max(0, pause)\n    };\n}\nfunction ensureActual(key) {\n    const numeric = Number(global.get(key));\n    if (!Number.isFinite(numeric)) {\n        global.set(key, 0);\n    }\n}\nfunction calculateStepDuration(cfg) {\n    const speed = Number(cfg?.speed) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    if (speed <= 0 || stepValue <= 0) {\n        return 0;\n    }\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const distance = Math.abs(end - start);\n    const iterations = distance === 0 ? 1 : Math.ceil(distance / stepValue);\n    return Math.max(0, Math.round(iterations * speed));\n}\nconst updated = validateStep(msg.payload, index);\nbaseSteps[index] = updated;\nflow.set('steps', baseSteps);\nconst stepNo = index + 1;\nglobal.set(`ITER_START_${stepNo}`, updated.start);\nglobal.set(`ITER_SPEED_${stepNo}`, updated.speed);\nglobal.set(`ITER_STEP_${stepNo}`, updated.step);\nglobal.set(`ITER_END_${stepNo}`, updated.end);\nglobal.set(`ITER_PAUSE_${stepNo}`, updated.pause);\nensureActual(`ITER_STEP_TIME_${stepNo}`);\nlet cyclePlan = 0;\nfor (let i = 0; i < baseSteps.length; i++) {\n    const cfg = baseSteps[i];\n    const duration = calculateStepDuration(cfg);\n    global.set(`ITER_STEP_TIME_PLAN_${i + 1}`, duration);\n    if (duration > 0) {\n        cyclePlan += duration;\n        if (i < baseSteps.length - 1) {\n            const pause = Number(cfg?.pause) || 0;\n            cyclePlan += Math.max(0, pause);\n        }\n    }\n}\nglobal.set('ITERATION_CYCLE_TIME_PLAN', Math.max(0, Math.round(cyclePlan)));\nensureActual('ITERATION_CYCLE_TIME');\nconst controllerMsg = {\n    action: 'updateParameters',\n    steps: baseSteps,\n    updatedStep: stepNo\n};\nconst variablesMsg = {\n    topic: 'variables'\n};\nconst statusMsg = {\n    payload: `Параметры шага ${stepNo} обновлены через панель`\n};\nconst formsMsg = {\n    payload: baseSteps,\n    source: 'панель'\n};\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [controllerMsg, variablesMsg, statusMsg, formsMsg, theoreticalMsg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2430,
        "y": 160,
        "wires": [
            [
                "34a155020768fae5"
            ],
            [
                "1702a0ccda5a6baa"
            ],
            [
                "2623d0b89e74d4f5"
            ],
            [
                "e72000c158bf1c84"
            ],
            [
                "83da5abea5e596a6"
            ]
        ]
    },
    {
        "id": "34a155020768fae5",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Контроллер итерации",
        "func": "// === ИНИЦИАЛИЗАЦИЯ СОСТОЯНИЯ ===\nlet state = context.get('state') || {};\n\n// Загрузка шагов из flow context при необходимости\nif (!state.steps || !Array.isArray(state.steps) || state.steps.length === 0) {\n    const flowSteps = flow.get('steps') || [];\n    state.steps = Array.isArray(flowSteps) && flowSteps.length > 0 ? flowSteps : [];\n}\n\n// Обновление шагов из сообщения\nif (Array.isArray(msg.steps) && msg.steps.length) {\n    state.steps = msg.steps;\n}\n\n// Инициализация номера шага\nif (!state.currentStep || state.currentStep < 1) {\n    state.currentStep = 1;\n}\nif (state.steps.length && state.currentStep > state.steps.length) {\n    state.currentStep = 1;\n}\n\n// Инициализация состояния управления\nif (state.control === undefined) {\n    state.control = global.get('ITERATION_CONTROL') || 0;\n}\n\nif (typeof state.skipChain !== 'number') {\n    state.skipChain = 0;\n}\n\nif (typeof state.flushPending !== 'boolean') {\n    state.flushPending = false;\n}\n\nif (!Number.isFinite(state.cycleStartedAt)) {\n    state.cycleStartedAt = 0;\n}\n\nif (!Number.isFinite(state.stepStartedAt)) {\n    state.stepStartedAt = 0;\n}\n\n// === ВСПОМОГАТЕЛЬНЫЕ ФУНКЦИИ ===\n\nfunction getStepConfig(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return null;\n    }\n    const index = Math.max(0, Math.min(stepNumber - 1, state.steps.length - 1));\n    return state.steps[index];\n}\n\nfunction setCurrentStep(stepNumber) {\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        state.currentStep = stepNumber;\n    } else {\n        let step = stepNumber;\n        if (step < 1) {\n            step = 1;\n        }\n        if (step > state.steps.length) {\n            step = 1;\n        }\n        state.currentStep = step;\n    }\n    global.set('ITERATION_STEP', state.currentStep);\n}\n\nfunction setValue(value) {\n    state.value = value;\n    global.set('ITERATION_VALUE', value);\n}\n\nfunction setControl(controlValue) {\n    state.control = controlValue;\n    global.set('ITERATION_CONTROL', controlValue);\n}\n\nfunction isLastStep() {\n    return Array.isArray(state.steps) && state.steps.length > 0 && state.currentStep === state.steps.length;\n}\n\nfunction clearMainTimer() {\n    if (state.timer) {\n        clearTimeout(state.timer);\n        state.timer = null;\n    }\n}\n\nfunction clearPauseTimer() {\n    if (state.pauseTimer) {\n        clearTimeout(state.pauseTimer);\n        state.pauseTimer = null;\n    }\n}\n\nfunction clearAllTimers() {\n    clearMainTimer();\n    clearPauseTimer();\n    state.processing = false;\n}\n\nfunction markCycleStart() {\n    state.cycleStartedAt = Date.now();\n}\n\nfunction updateStepTime(stepNumber, duration) {\n    const numericStep = Number(stepNumber);\n    if (!Number.isFinite(numericStep) || numericStep < 1) {\n        return;\n    }\n    const numericDuration = Number(duration);\n    const safeDuration = Number.isFinite(numericDuration) ? Math.max(0, Math.round(numericDuration)) : 0;\n    global.set(`ITER_STEP_TIME_${numericStep}`, safeDuration);\n}\n\nfunction broadcast(reason, includeValue = true) {\n    const out1 = includeValue ? {\n        payload: state.value,\n        step: state.currentStep,\n        topic: `Шаг ${state.currentStep}`,\n        reason,\n        ts: Date.now()\n    } : null;\n    const out2 = {\n        topic: 'state',\n        reason,\n        control: state.control,\n        step: state.currentStep,\n        value: state.value,\n        ts: Date.now()\n    };\n    node.send([out1, out2]);\n}\n\nfunction shouldSkipStep(cfg) {\n    if (!cfg) return true;\n    const speed = Number(cfg.speed) || 0;\n    const stepValue = Number(cfg.step) || 0;\n    return speed <= 0 || stepValue === 0;\n}\n\n// === ЛОГИКА ЗАВЕРШЕНИЯ ШАГА ===\n\nfunction finishStep(reason) {\n    clearAllTimers();\n\n    // Проверка состояния контроллера\n    if (state.control !== 1) {\n        return;\n    }\n\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    const now = Date.now();\n    let duration = 0;\n    if (Number.isFinite(state.stepStartedAt) && state.stepStartedAt > 0) {\n        duration = Math.max(0, now - state.stepStartedAt);\n    }\n    if (reason === 'skip') {\n        duration = 0;\n    }\n    updateStepTime(state.currentStep, duration);\n    state.stepStartedAt = 0;\n\n    if (reason) {\n        broadcast(reason, false);\n    }\n\n    // Если цикл заканчивается на последнем шаге (в том числе при пропуске), ждём подтверждение вывода графика\n    if (isLastStep() && (reason === 'completed' || reason === 'skip')) {\n        const cycleDuration = (Number.isFinite(state.cycleStartedAt) && state.cycleStartedAt > 0)\n            ? Math.max(0, now - state.cycleStartedAt)\n            : 0;\n        global.set('ITERATION_CYCLE_TIME', Math.round(cycleDuration));\n        state.cycleStartedAt = 0;\n        state.flushPending = true;\n        broadcast('cycleComplete');\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #3: Если шаг пропущен, не делаем паузу\n    if (reason === 'skip') {\n        advanceStep('nextStep');\n        return;\n    }\n\n    const pause = Number(cfg.pause) || 0;\n    if (pause > 0) {\n        state.pauseTimer = setTimeout(() => {\n            state.pauseTimer = null;\n            // Повторная проверка состояния перед переходом\n            if (state.control !== 1) {\n                return;\n            }\n            broadcast('pauseHold');\n            advanceStep('pauseComplete');\n        }, pause);\n    } else {\n        // ИСПРАВЛЕНИЕ: Если паузы нет, сразу переходим к следующему шагу\n        advanceStep('nextStep');\n    }\n}\n\n// === ЛОГИКА ПЕРЕХОДА К СЛЕДУЮЩЕМУ ШАГУ ===\n\nfunction advanceStep(reason) {\n    clearAllTimers();\n\n    if (state.flushPending) {\n        return;\n    }\n\n    if (!Array.isArray(state.steps) || !state.steps.length) {\n        return;\n    }\n\n    // Вычисление следующего шага\n    let nextStep = state.currentStep ? state.currentStep + 1 : 1;\n    if (nextStep > state.steps.length) {\n        nextStep = 1;\n    }\n\n    setCurrentStep(nextStep);\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #6: Проверка на пропуск ДО установки значения\n    if (shouldSkipStep(cfg)) {\n        state.skipChain = (typeof state.skipChain === 'number' ? state.skipChain : 0) + 1;\n        updateStepTime(state.currentStep, 0);\n        // При пропуске шага значение НЕ меняется\n        broadcast('skip', false);\n\n        if (state.skipChain >= state.steps.length) {\n            setControl(0);\n            broadcast('skipLimit', false);\n            state.skipChain = 0;\n            return;\n        }\n\n        finishStep('skip');\n        return;\n    }\n\n    state.skipChain = 0;\n\n    if (state.currentStep === 1) {\n        markCycleStart();\n    }\n\n    // Установка начального значения только если шаг НЕ пропускается\n    const startValue = Number(cfg.start);\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n    state.stepStartedAt = Date.now();\n    broadcast(reason || 'stepStart');\n\n    // Проверка состояния перед запуском таймера\n    if (state.control !== 1) {\n        return;\n    }\n\n    scheduleNextTick();\n}\n\n// === ЛОГИКА ПЛАНИРОВАНИЯ СЛЕДУЮЩЕГО ТИКА ===\n\nfunction scheduleNextTick(delayOverride) {\n    // ИСПРАВЛЕНИЕ #4: Защита от race conditions\n    if (state.processing) {\n        return;\n    }\n\n    if (state.flushPending) {\n        return;\n    }\n\n    clearMainTimer();\n\n    // ИСПРАВЛЕНИЕ #5: Проверка состояния контроллера\n    if (state.control !== 1) {\n        return;\n    }\n\n    const cfg = getStepConfig(state.currentStep);\n    if (!cfg) {\n        return;\n    }\n\n    if (shouldSkipStep(cfg)) {\n        finishStep('skip');\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #7: Убрана компенсация задержек, простой setTimeout\n    const delay = delayOverride != null ? delayOverride : (Number(cfg.speed) || 0);\n    if (delay <= 0) {\n        return;\n    }\n\n    // ИСПРАВЛЕНИЕ #4: Установка флага обработки\n    state.processing = true;\n\n    state.timer = setTimeout(() => {\n        state.timer = null;\n        // ИСПРАВЛЕНИЕ #4: Сброс флага обработки\n        state.processing = false;\n\n        // ИСПРАВЛЕНИЕ #5: Проверка состояния после таймера\n        if (state.control !== 1) {\n            return;\n        }\n\n        const cfgInner = getStepConfig(state.currentStep);\n        if (!cfgInner) {\n            return;\n        }\n\n        const stepValue = Math.abs(Number(cfgInner.step) || 0);\n        if (stepValue === 0) {\n            finishStep('skip');\n            return;\n        }\n\n        const startValue = Number(cfgInner.start);\n        const endValue = Number(cfgInner.end);\n        const direction = endValue >= startValue ? 1 : -1;\n        const increment = stepValue * direction;\n\n        let nextValue = state.value + increment;\n\n        // Ограничение по конечному значению\n        if (direction > 0) {\n            if (nextValue > endValue) {\n                nextValue = endValue;\n            }\n        } else {\n            if (nextValue < endValue) {\n                nextValue = endValue;\n            }\n        }\n\n        setValue(nextValue);\n        broadcast('tick');\n\n        // Проверка достижения конечного значения\n        const reachedEnd = (direction > 0 && nextValue >= endValue) || (direction < 0 && nextValue <= endValue);\n        if (reachedEnd) {\n            finishStep('completed');\n        } else {\n            scheduleNextTick();\n        }\n    }, delay);\n}\n\n// === ИНИЦИАЛИЗАЦИЯ ЗНАЧЕНИЯ ПРИ ПЕРВОМ ЗАПУСКЕ ===\n\nif (!Number.isFinite(state.value)) {\n    const cfg = getStepConfig(state.currentStep);\n    const startValue = cfg ? Number(cfg.start) : 0;\n    setValue(Number.isFinite(startValue) ? startValue : 0);\n}\n\n// === ОБРАБОТКА КОМАНД ===\n\nconst action = msg.action || msg.topic || '';\n\nswitch (action) {\n    case 'restart':\n        clearAllTimers();\n        state.flushPending = false;\n\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n        }\n\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n\n        setCurrentStep(1);\n        const firstCfg = getStepConfig(state.currentStep);\n\n        if (firstCfg) {\n            markCycleStart();\n            if (shouldSkipStep(firstCfg)) {\n                // Не устанавливаем значение при пропуске\n                setControl(2);\n                broadcast('restart');\n                setControl(1);\n                broadcast('run', false);\n                finishStep('skip');\n            } else {\n                const startValue = Number(firstCfg.start);\n                setValue(Number.isFinite(startValue) ? startValue : 0);\n                state.stepStartedAt = Date.now();\n                setControl(2);\n                broadcast('restart');\n                setControl(1);\n                broadcast('run', false);\n                scheduleNextTick();\n            }\n        }\n        break;\n\n    case 'start':\n        if (!Array.isArray(state.steps) || !state.steps.length) {\n            break;\n        }\n\n        state.flushPending = false;\n\n        if (state.control === 1) {\n            // Уже запущен, просто возобновляем если нужно\n            if (!state.timer && !state.pauseTimer && !state.processing) {\n                scheduleNextTick();\n            }\n            broadcast('resume', false);\n            break;\n        }\n\n        setControl(1);\n        if (!Number.isFinite(state.cycleStartedAt) || state.cycleStartedAt <= 0) {\n            markCycleStart();\n        }\n        clearPauseTimer();\n        broadcast('resume', false);\n        scheduleNextTick();\n        break;\n\n    case 'stop':\n        clearAllTimers();\n        state.flushPending = false;\n        setControl(0);\n        broadcast('stop', false);\n        break;\n\n    case 'updateParameters':\n        if (Array.isArray(msg.steps) && msg.steps.length) {\n            state.steps = msg.steps;\n        }\n\n        const currentCfg = getStepConfig(state.currentStep);\n        if (currentCfg) {\n            const startVal = Number(currentCfg.start);\n            const endVal = Number(currentCfg.end);\n\n            if (Number.isFinite(startVal) && Number.isFinite(endVal)) {\n                const min = Math.min(startVal, endVal);\n                const max = Math.max(startVal, endVal);\n\n                if (!Number.isFinite(state.value) || state.value < min || state.value > max) {\n                    setValue(startVal);\n                    broadcast('parameters');\n                } else {\n                    broadcast('parameters', false);\n                }\n            } else {\n                broadcast('parameters', false);\n            }\n        } else {\n            broadcast('parameters', false);\n        }\n\n        if (state.control === 1 && !state.processing) {\n            scheduleNextTick();\n        }\n        break;\n\n    case 'flushResume':\n        if (state.flushPending) {\n            state.flushPending = false;\n            if (state.control === 1) {\n                advanceStep('cycleResume');\n            }\n        }\n        break;\n\n    default:\n        if (state.control === 1 && !state.timer && !state.pauseTimer && !state.processing) {\n            scheduleNextTick();\n        }\n        break;\n}\n\n// Сохранение состояния\ncontext.set('state', state);\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 20,
        "wires": [
            [
                "5f3800685d4465d4"
            ],
            [
                "1702a0ccda5a6baa",
                "1b382f17154eaa22"
            ]
        ]
    },
    {
        "id": "5f3800685d4465d4",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Отображение значения",
        "func": "const reason = msg.reason || '';\nconst command = msg.command || '';\nconst outputs = [null, null, null, null, null, null];\nconst MAX_BUFFER_SIZE = 20000;\nconst EXPORT_KEY = 'trendExportData';\nconst EXPORT_READY_KEY = 'trendExportReady';\n\nfunction ensureBuffer() {\n    const current = flow.get('trendBuffer');\n    if (current && typeof current === 'object') {\n        const labels = Array.isArray(current.labels) ? current.labels : [];\n        const value = Array.isArray(current.value) ? current.value : [];\n        const step = Array.isArray(current.step) ? current.step : [];\n        return { labels, value, step };\n    }\n    return { labels: [], value: [], step: [] };\n}\n\nfunction formatTimestamp(ts) {\n    const numeric = Number(ts);\n    if (Number.isFinite(numeric)) {\n        try {\n            return new Date(numeric).toISOString();\n        } catch (err) {\n            // ignore\n        }\n    }\n    return new Date().toISOString();\n}\n\nfunction getCycleStartTime() {\n    const stored = flow.get('cycleStartTime');\n    return Number.isFinite(Number(stored)) ? Number(stored) : null;\n}\n\nfunction setCycleStartTime(ts) {\n    if (Number.isFinite(Number(ts))) {\n        flow.set('cycleStartTime', Number(ts));\n    }\n}\n\nfunction appendPoint(buffer, value, step, ts) {\n    if (!Number.isFinite(value) || !Number.isFinite(step)) {\n        return;\n    }\n\n    while (buffer.labels.length >= MAX_BUFFER_SIZE) {\n        buffer.labels.shift();\n        buffer.value.shift();\n        buffer.step.shift();\n    }\n\n    // Временная шкала всегда начинается с нуля\n    // Если буфер пуст, это первая точка - время = 0\n    // Если буфер не пуст, вычисляем время относительно первой точки\n    let relativeTime = 0;\n    if (buffer.labels.length === 0) {\n        // Первая точка всегда имеет время 0\n        relativeTime = 0;\n        // Сохраняем timestamp первой точки для последующих вычислений\n        if (Number.isFinite(Number(ts))) {\n            setCycleStartTime(Number(ts));\n        }\n    } else {\n        // Вычисляем время относительно первой точки\n        const cycleStart = getCycleStartTime();\n        if (cycleStart !== null && Number.isFinite(Number(ts))) {\n            relativeTime = Math.max(0, Number(ts) - cycleStart);\n        } else {\n            // Если cycleStart не установлен, используем последнее время + минимальный шаг\n            const lastTime = buffer.labels.length > 0 ? Number(buffer.labels[buffer.labels.length - 1]) : 0;\n            relativeTime = lastTime + 1; // Минимальный шаг 1 мс\n        }\n    }\n    \n    // Используем относительное время как timestamp (в миллисекундах от 0)\n    buffer.labels.push(relativeTime);\n    buffer.value.push(value);\n    buffer.step.push(step);\n}\n\nfunction cloneBuffer(buffer) {\n    return {\n        labels: buffer.labels.slice(),\n        value: buffer.value.slice(),\n        step: buffer.step.slice()\n    };\n}\n\nfunction toTimestamp(value) {\n    if (value instanceof Date) {\n        return value.getTime();\n    }\n    const parsed = Date.parse(value);\n    if (Number.isFinite(parsed)) {\n        return parsed;\n    }\n    const numeric = Number(value);\n    if (Number.isFinite(numeric)) {\n        return numeric;\n    }\n    return NaN;\n}\n\nfunction createSeriesPoints(labels, seriesValues) {\n    const points = [];\n    const length = Math.min(labels.length, seriesValues.length);\n    for (let i = 0; i < length; i += 1) {\n        // labels уже содержат относительное время в миллисекундах\n        const x = Number(labels[i]);\n        const y = Number(seriesValues[i]);\n        if (Number.isFinite(x) && Number.isFinite(y)) {\n            points.push({ x, y });\n        }\n    }\n    return points;\n}\n\nfunction buildChartMessages(buffer, options = {}) {\n    const { forceClear = false } = options;\n    const messages = [];\n\n    if (forceClear) {\n        messages.push({ ui_control: { clear: true } });\n    }\n\n    const valueSeries = createSeriesPoints(buffer.labels, buffer.value);\n    const stepSeries = createSeriesPoints(buffer.labels, buffer.step);\n\n    if (valueSeries.length || stepSeries.length) {\n        messages.push({\n            payload: [\n                {\n                    series: ['ITERATION_VALUE', 'ITERATION_STEP'],\n                    data: [valueSeries, stepSeries],\n                    labels: []\n                }\n            ],\n            topic: 'ITERATION_BUFFER'\n        });\n    }\n\n    return messages;\n}\n\n\nfunction resetBuffer(buffer) {\n    buffer.labels = [];\n    buffer.value = [];\n    buffer.step = [];\n}\n\nfunction storeExportSnapshot(snapshot) {\n    flow.set(EXPORT_KEY, snapshot);\n    flow.set(EXPORT_READY_KEY, snapshot.labels.length > 0);\n}\n\nfunction getExportSnapshot() {\n    const data = flow.get(EXPORT_KEY);\n    if (data && typeof data === 'object') {\n        const labels = Array.isArray(data.labels) ? data.labels : [];\n        const value = Array.isArray(data.value) ? data.value : [];\n        const step = Array.isArray(data.step) ? data.step : [];\n        return { labels, value, step };\n    }\n    return { labels: [], value: [], step: [] };\n}\n\nfunction clearExportSnapshot() {\n    flow.set(EXPORT_KEY, { labels: [], value: [], step: [] });\n    flow.set(EXPORT_READY_KEY, false);\n}\n\nconst buffer = ensureBuffer();\nconst numericValue = Number(msg.payload);\nconst stepCandidate = Number(msg.step);\nconst stepValue = Number.isFinite(stepCandidate) ? stepCandidate : Number(global.get('ITERATION_STEP'));\nconst timestamp = Number.isFinite(Number(msg.ts)) ? Number(msg.ts) : Date.now();\n\nif (reason === 'tick') {\n    appendPoint(buffer, numericValue, stepValue, timestamp);\n}\n\nif (reason === 'restart' || reason === 'stop') {\n    resetBuffer(buffer);\n    clearExportSnapshot();\n    if (reason === 'restart') {\n        setCycleStartTime(timestamp);\n    } else if (reason === 'stop') {\n        flow.set('cycleStartTime', null);\n    }\n    outputs[0] = [{ ui_control: { clear: true } }];\n    node.status({ fill: 'grey', shape: 'dot', text: 'Буфер очищен' });\n}\n\nconst startTriggers = ['restart', 'nextStep', 'pauseComplete', 'pauseHold', 'cycleResume'];\nif (startTriggers.includes(reason)) {\n    if (reason === 'restart' || (reason === 'nextStep' && stepValue === 1)) {\n        setCycleStartTime(timestamp);\n    }\n    appendPoint(buffer, numericValue, stepValue, timestamp);\n}\n\nif (reason && Number.isFinite(numericValue)) {\n    outputs[2] = { payload: numericValue };\n}\n\nif (reason && Number.isFinite(stepValue)) {\n    outputs[3] = { payload: stepValue };\n}\n\nif (command === 'manualFlush') {\n    const snapshot = cloneBuffer(buffer);\n    if (snapshot.labels.length) {\n        outputs[0] = buildChartMessages(snapshot, { forceClear: true });\n        node.status({ fill: 'blue', shape: 'ring', text: `Ручная отрисовка (${snapshot.labels.length})` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Буфер пуст' });\n    }\n}\n\nif (reason === 'cycleComplete') {\n    const snapshot = cloneBuffer(buffer);\n    const chartMessages = buildChartMessages(snapshot, { forceClear: true });\n    outputs[0] = chartMessages.length ? chartMessages : [{ ui_control: { clear: true } }];\n    storeExportSnapshot(snapshot);\n    if (snapshot.labels.length) {\n        node.status({ fill: 'blue', shape: 'dot', text: `Готово к экспорту (${snapshot.labels.length})` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n    outputs[4] = {\n        action: 'flushResume',\n        topic: 'flushResume',\n        reason: 'cycleComplete',\n        ts: Date.now()\n    };\n    resetBuffer(buffer);\n}\n\nif (command === 'exportTrend') {\n    const ready = flow.get(EXPORT_READY_KEY);\n    const snapshot = getExportSnapshot();\n    if (ready && snapshot.labels.length) {\n        outputs[5] = {\n            topic: 'trendExport',\n            payload: snapshot,\n            ts: Date.now()\n        };\n        clearExportSnapshot();\n        node.status({ fill: 'green', shape: 'dot', text: `Экспортировано ${snapshot.labels.length}` });\n    } else {\n        node.status({ fill: 'yellow', shape: 'ring', text: 'Нет данных для экспорта' });\n    }\n}\n\nflow.set('trendBuffer', buffer);\nreturn outputs;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 20,
        "wires": [
            [
                "a263c87c617ff42b"
            ],
            [
                "a263c87c617ff42b"
            ],
            [
                "dabb7a03b90985b8"
            ],
            [
                "c96ff7c5bfbde34f"
            ],
            [
                "34a155020768fae5"
            ],
            [
                "7ecadbb8ea68dd6a"
            ]
        ]
    },
    {
        "id": "83da5abea5e596a6",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Вычисление теоретической траектории",
        "func": "// Вычисление теоретической траектории на основе параметров шагов\nconst topic = msg.topic || '';\nif (topic !== 'updateTheoretical') {\n    return null;\n}\n\nconst steps = flow.get('steps') || flow.get('defaultSteps') || [];\nif (!Array.isArray(steps) || steps.length === 0) {\n    return [{ ui_control: { clear: true } }];\n}\n\nconst valuePoints = [];\nconst stepPoints = [];\nlet currentTime = 0;\n\nfor (let i = 0; i < steps.length; i++) {\n    const cfg = steps[i];\n    const stepNumber = i + 1;\n    const start = Number(cfg?.start) || 0;\n    const end = Number(cfg?.end) || 0;\n    const stepValue = Math.abs(Number(cfg?.step) || 0);\n    const speed = Number(cfg?.speed) || 0;\n    const pause = Number(cfg?.pause) || 0;\n\n    // Пропуск шага если скорость = 0 или шаг = 0\n    if (speed <= 0 || stepValue <= 0) {\n        // Пропущенный шаг - значение не меняется, время не тратится\n        continue;\n    }\n\n    // Начальная точка шага\n    valuePoints.push({ x: currentTime, y: start });\n    stepPoints.push({ x: currentTime, y: stepNumber });\n\n    // Вычисление направления\n    const direction = end >= start ? 1 : -1;\n    const increment = stepValue * direction;\n\n    // Вычисление всех промежуточных точек\n    let currentValue = start;\n    let tickTime = currentTime;\n\n    while (true) {\n        const nextValue = currentValue + increment;\n        const reachedEnd = (direction > 0 && nextValue >= end) || (direction < 0 && nextValue <= end);\n\n        tickTime += speed;\n        const outputValue = reachedEnd ? end : nextValue;\n\n        valuePoints.push({ x: tickTime, y: outputValue });\n        stepPoints.push({ x: tickTime, y: stepNumber });\n\n        currentValue = outputValue;\n\n        if (reachedEnd) {\n            currentTime = tickTime;\n            break;\n        }\n    }\n\n    // Добавление паузы после шага (кроме последнего)\n    if (pause > 0 && i < steps.length - 1) {\n        currentTime += pause;\n        // Точка в конце паузы (значение не меняется)\n        valuePoints.push({ x: currentTime, y: end });\n        stepPoints.push({ x: currentTime, y: stepNumber });\n    }\n}\n\nif (valuePoints.length === 0 || stepPoints.length === 0) {\n    return [{ ui_control: { clear: true } }];\n}\n\nreturn [\n    { ui_control: { clear: true } },\n    {\n        payload: [\n            {\n                series: ['ITERATION_VALUE_THEORETICAL', 'ITERATION_STEP_THEORETICAL'],\n                data: [valuePoints, stepPoints],\n                labels: []\n            }\n        ],\n        topic: 'THEORETICAL_CHART'\n    }\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 100,
        "wires": [
            [
                "f8bb8053d6fcd275"
            ],
            [
                "f8bb8053d6fcd275"
            ]
        ]
    },
    {
        "id": "a263c87c617ff42b",
        "type": "ui_chart",
        "z": "f54f1d203647689a",
        "name": "График фактической итерации",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "График итерации (фактический, время в мин:с от начала цикла)",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "step",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2040,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f8bb8053d6fcd275",
        "type": "ui_chart",
        "z": "f54f1d203647689a",
        "name": "График теоретической итерации",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 4,
        "width": "12",
        "height": "6",
        "label": "График итерации (теоретический, время в мин:с от начала цикла)",
        "chartType": "line",
        "legend": "true",
        "xformat": "mm:ss",
        "interpolate": "step",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dabb7a03b90985b8",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "6f6d1d13c83d9c31",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Текущее значение",
        "label": "Текущее значение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2040,
        "y": 60,
        "wires": []
    },
    {
        "id": "c96ff7c5bfbde34f",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "6f6d1d13c83d9c31",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Активный шаг",
        "label": "Активный шаг",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2040,
        "y": 100,
        "wires": []
    },
    {
        "id": "05899cc8d6a8cbcd",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "fa9b12c4a61eab67",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Версия проекта",
        "label": "Версия",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "5f553961657eb15b",
        "type": "ui_template",
        "z": "f54f1d203647689a",
        "group": "c8e9f2a1b3d4e5f6",
        "name": "История версий",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">История версий</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"margin-bottom:4px;\">\n    {{$index + 1}}. {{item}}\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1702a0ccda5a6baa",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Сформировать список переменных",
        "func": "if (msg.reason === \"tick\") {\n    return null;\n}\nconst dataList = [];\nconst versionDisplay = flow.get('versionDisplay') || \"\";\nconst versionCode = flow.get('version') || \"\";\nconst descriptions = {\n    'VER': 'Версия проекта (число)',\n    'flow.version': 'Версия проекта (строка)',\n    'versionDisplay': 'Отображаемая версия',\n    'ITERATION_CONTROL': 'Управление (0-стоп, 1-старт, 2-рестарт)',\n    'ITERATION_STEP': 'Номер текущего шага',\n    'ITERATION_VALUE': 'Текущее значение итерации',\n    'ITERATION_CYCLE_TIME': 'Время полного цикла (мс)',\n    'ITERATION_CYCLE_TIME_PLAN': 'Расчётное время полного цикла (мс)'\n};\ndataList.push({ name: \"VER\", value: global.get('VER'), description: descriptions['VER'] });\ndataList.push({ name: \"flow.version\", value: versionCode, description: descriptions['flow.version'] });\ndataList.push({ name: \"versionDisplay\", value: versionDisplay, description: descriptions['versionDisplay'] });\ndataList.push({ name: \"ITERATION_CONTROL\", value: global.get('ITERATION_CONTROL'), description: descriptions['ITERATION_CONTROL'] });\ndataList.push({ name: \"ITERATION_STEP\", value: global.get('ITERATION_STEP'), description: descriptions['ITERATION_STEP'] });\ndataList.push({ name: \"ITERATION_VALUE\", value: global.get('ITERATION_VALUE'), description: descriptions['ITERATION_VALUE'] });\nconst cycleRaw = global.get('ITERATION_CYCLE_TIME');\nconst cycleNumeric = Number(cycleRaw);\ndataList.push({ name: \"ITERATION_CYCLE_TIME\", value: Number.isFinite(cycleNumeric) ? Math.max(0, Math.round(cycleNumeric)) : 0, description: descriptions['ITERATION_CYCLE_TIME'] });\nconst cyclePlanRaw = global.get('ITERATION_CYCLE_TIME_PLAN');\nconst cyclePlanNumeric = Number(cyclePlanRaw);\ndataList.push({ name: \"ITERATION_CYCLE_TIME_PLAN\", value: Number.isFinite(cyclePlanNumeric) ? Math.max(0, Math.round(cyclePlanNumeric)) : 0, description: descriptions['ITERATION_CYCLE_TIME_PLAN'] });\nconst stepMessages = [];\nfor (let i = 1; i <= 5; i++) {\n    const start = global.get(`ITER_START_${i}`);\n    const speed = global.get(`ITER_SPEED_${i}`);\n    const step = global.get(`ITER_STEP_${i}`);\n    const end = global.get(`ITER_END_${i}`);\n    const pause = global.get(`ITER_PAUSE_${i}`);\n    const stepTimeRaw = global.get(`ITER_STEP_TIME_${i}`);\n    const planTimeRaw = global.get(`ITER_STEP_TIME_PLAN_${i}`);\n    const stepTimeNumeric = Number(stepTimeRaw);\n    const planTimeNumeric = Number(planTimeRaw);\n    const actualValue = Number.isFinite(stepTimeNumeric) ? Math.max(0, Math.round(stepTimeNumeric)) : 0;\n    const planValue = Number.isFinite(planTimeNumeric) ? Math.max(0, Math.round(planTimeNumeric)) : 0;\n    dataList.push({ name: `ITER_START_${i}`, value: start, description: `Начальное значение шага ${i}` });\n    dataList.push({ name: `ITER_SPEED_${i}`, value: speed, description: `Скорость шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_${i}`, value: step, description: `Шаг изменения шага ${i}` });\n    dataList.push({ name: `ITER_END_${i}`, value: end, description: `Конечное значение шага ${i}` });\n    dataList.push({ name: `ITER_PAUSE_${i}`, value: pause, description: `Пауза после шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_TIME_${i}`, value: actualValue, description: `Длительность шага ${i} (мс)` });\n    dataList.push({ name: `ITER_STEP_TIME_PLAN_${i}`, value: planValue, description: `Расчётная длительность шага ${i} (мс)` });\n    stepMessages.push({\n        step: i,\n        payload: actualValue,\n        plan: planValue,\n        topic: `stepTime${i}`\n    });\n}\nmsg.payload = dataList;\nreturn [msg, stepMessages];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "c88ccdaa62f4af11"
            ],
            [
                "8d3f10f171c6bb6f"
            ]
        ]
    },
    {
        "id": "c88ccdaa62f4af11",
        "type": "ui_template",
        "z": "f54f1d203647689a",
        "group": "5d2d0d5ecb20a567",
        "name": "Переменные",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "<div layout=\"column\" class=\"nr-dashboard-template\">\n  <div style=\"font-weight:bold; margin-bottom:6px;\">Текущие переменные</div>\n  <div ng-repeat=\"item in msg.payload track by $index\" style=\"display:flex; justify-content:space-between; border-bottom:1px solid #ccc; padding:2px 0;\">\n    <span style=\"font-weight:500;\">{{item.name}} <span style=\"font-weight:normal; color:#666; font-size:0.9em;\">({{item.description}})</span></span>\n    <span>{{item.value}}</span>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1b382f17154eaa22",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Статус контроллера",
        "func": "const reason = msg.reason || '';\nif (reason === 'tick') {\n    return null;\n}\nlet text = '';\nswitch (reason) {\n    case 'restart':\n        text = 'Контроллер перезапущен';\n        break;\n    case 'run':\n    case 'resume':\n        text = 'Контроллер запущен';\n        break;\n    case 'stop':\n        text = 'Контроллер остановлен';\n        break;\n    case 'parameters':\n        text = 'Параметры обновлены';\n        break;\n    case 'pauseComplete':\n        text = 'Пауза завершена';\n        break;\n    case 'nextStep':\n    case 'stepStart':\n        text = `Начат шаг ${msg.step}`;\n        break;\n    case 'skip':\n        text = `Шаг ${msg.step} пропущен (скорость=0 или шаг=0)`;\n        break;\n    default:\n        text = `Состояние обновлено (${reason || 'без причины'})`;\n}\ntext += ` (управление=${msg.control})`;\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 280,
        "wires": [
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "2623d0b89e74d4f5",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "6f6d1d13c83d9c31",
        "order": 4,
        "width": "12",
        "height": "1",
        "name": "Статус операций",
        "label": "Статус",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2000,
        "y": 340,
        "wires": []
    },
    {
        "id": "a5d68076869f3806",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Старт",
        "group": "6f6d1d13c83d9c31",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Старт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "2c7e09a35ca54bdd"
            ]
        ]
    },
    {
        "id": "2c7e09a35ca54bdd",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "Команда старт",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "34a155020768fae5"
            ]
        ]
    },
    {
        "id": "c061ab13ecc679d8",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Пауза",
        "group": "6f6d1d13c83d9c31",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Пауза",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "9849e13095dbb6db"
            ]
        ]
    },
    {
        "id": "9849e13095dbb6db",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "Команда стоп",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "34a155020768fae5"
            ]
        ]
    },
    {
        "id": "f6d374086c0c879a",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Рестарт",
        "group": "6f6d1d13c83d9c31",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Рестарт",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "b897c8b42d3e7df4"
            ]
        ]
    },
    {
        "id": "b897c8b42d3e7df4",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Команда рестарт",
        "func": "msg.action = 'restart';\nconst steps = flow.get('steps');\nif (Array.isArray(steps)) {\n    msg.steps = steps;\n}\nconst theoreticalMsg = {\n    topic: 'updateTheoretical'\n};\nreturn [msg, theoreticalMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "34a155020768fae5"
            ],
            [
                "83da5abea5e596a6"
            ]
        ]
    },
    {
        "id": "c176b4f253112f43",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Загрузить из файла",
        "group": "6f6d1d13c83d9c31",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Загрузить из файла",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "f15ab276cb5b3643"
            ]
        ]
    },
    {
        "id": "f15ab276cb5b3643",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Чтение из файла",
        "func": "const filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst requestMsg = {\n    filename,\n    source: 'файл',\n    topic: 'loadParameters'\n};\nconst statusMsg = {\n    payload: 'Загрузка параметров из файла...'\n};\nreturn [requestMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "e72302b070f518d4"
            ],
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "4906d282d02483db",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Сохранить в файл",
        "group": "6f6d1d13c83d9c31",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Сохранить в файл",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "21c9e41bb921a01e"
            ]
        ]
    },
    {
        "id": "21c9e41bb921a01e",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Подготовить запись",
        "func": "const steps = flow.get('steps') || flow.get('defaultSteps') || [];\nconst filename = flow.get('configFile');\nif (!filename) {\n    node.warn('Файл конфигурации не задан');\n    return [null, { payload: 'Файл конфигурации не задан' }];\n}\nconst saveMsg = {\n    filename,\n    payload: { steps }\n};\nconst statusMsg = {\n    payload: 'Сохранение параметров в файл...'\n};\nreturn [saveMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 520,
        "wires": [
            [
                "c8553f65795d5e1a"
            ],
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "c8553f65795d5e1a",
        "type": "json",
        "z": "f54f1d203647689a",
        "name": "JSON -> текст",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 900,
        "y": 520,
        "wires": [
            [
                "0feff211387eeb45"
            ]
        ]
    },
    {
        "id": "0feff211387eeb45",
        "type": "file",
        "z": "f54f1d203647689a",
        "name": "Запись параметров",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "a1727f80c643baec"
            ]
        ]
    },
    {
        "id": "a1727f80c643baec",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Сообщить о сохранении",
        "func": "msg.payload = 'Параметры сохранены в файл';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 520,
        "wires": [
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "492e6f94e405ae5b",
        "type": "http in",
        "z": "f54f1d203647689a",
        "name": "API состояние",
        "url": "/iteration/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "73f7895cc5515d82"
            ]
        ]
    },
    {
        "id": "73f7895cc5515d82",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Подготовить ответ",
        "func": "const response = {\n    version: flow.get('version'),\n    versionDisplay: flow.get('versionDisplay'),\n    control: global.get('ITERATION_CONTROL'),\n    step: global.get('ITERATION_STEP'),\n    value: global.get('ITERATION_VALUE'),\n    steps: []\n};\nfor (let i = 1; i <= 5; i++) {\n    response.steps.push({\n        index: i,\n        start: global.get(`ITER_START_${i}`),\n        speed: global.get(`ITER_SPEED_${i}`),\n        step: global.get(`ITER_STEP_${i}`),\n        end: global.get(`ITER_END_${i}`),\n        pause: global.get(`ITER_PAUSE_${i}`)\n    });\n}\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "bdcd6e6984639b4b"
            ]
        ]
    },
    {
        "id": "bdcd6e6984639b4b",
        "type": "http response",
        "z": "f54f1d203647689a",
        "name": "HTTP ответ",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "7905e63d9602ec9c",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "Обновить версию в контексте",
        "rules": [
            {
                "t": "set",
                "p": "version",
                "pt": "flow",
                "to": "2025-11-10_2256",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "e24791b289d8adde"
            ]
        ]
    },
    {
        "id": "cd5f311bfc4f3bdb",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Вывести тренд",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Вывести тренд",
        "tooltip": "Разовая отрисовка данных из буфера",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1800,
        "y": 60,
        "wires": [
            [
                "74e799617c12b3f6"
            ]
        ]
    },
    {
        "id": "74e799617c12b3f6",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "Команда ручного вывода",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "manualFlush",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "5f3800685d4465d4"
            ]
        ]
    },
    {
        "id": "ccc80f92f4e49ded",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Экспорт тренда",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Экспорт тренда",
        "tooltip": "Разовая выгрузка завершенного цикла в файл",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1800,
        "y": 100,
        "wires": [
            [
                "12ea589731667b29"
            ]
        ]
    },
    {
        "id": "12ea589731667b29",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "Команда экспорта тренда",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "exportTrend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "5f3800685d4465d4"
            ]
        ]
    },
    {
        "id": "7ecadbb8ea68dd6a",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Подготовить экспорт тренда",
        "func": "const snapshot = msg.payload || {};\nconst labels = Array.isArray(snapshot.labels) ? snapshot.labels : [];\nconst values = Array.isArray(snapshot.value) ? snapshot.value : [];\nconst steps = Array.isArray(snapshot.step) ? snapshot.step : [];\nconst length = Math.min(labels.length, values.length, steps.length);\n\nif (!length) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'Пустой набор данных' });\n    return null;\n}\n\n// labels уже содержат миллисекунды от начала цикла (0, 114, 216...)\nconst lines = ['elapsed_ms;value;step'];\nfor (let i = 0; i < length; i += 1) {\n    const elapsed = Number(labels[i]) || 0;\n    lines.push(`${elapsed};${values[i]};${steps[i]}`);\n}\n\nconst dirCandidate = flow.get('trendExportDir') || '/data';\nconst safeDir = String(dirCandidate).trim() || '/data';\nconst stamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `${safeDir}/trend_${stamp}.csv`;\n\nmsg.payload = lines.join('\\n');\nmsg.filename = filename;\nmsg.topic = 'trendExportFile';\nnode.status({ fill: 'green', shape: 'dot', text: `Файл готов (${length})` });\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 220,
        "wires": [
            [
                "7ce6e29a68509fdc"
            ]
        ]
    },
    {
        "id": "7ce6e29a68509fdc",
        "type": "file",
        "z": "f54f1d203647689a",
        "name": "Записать тренд в файл",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2340,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8d3f10f171c6bb6f",
        "type": "switch",
        "z": "f54f1d203647689a",
        "name": "К таймерам шагов",
        "property": "step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1990,
        "y": 160,
        "wires": [
            [
                "e2d36019567a5088",
                "aa202b25489fc9b2"
            ],
            [
                "adc9837fb872df99",
                "b559bd53444fe97b"
            ],
            [
                "dd1e3e51f55206eb",
                "3fc18371c45aa96b"
            ],
            [
                "1e77d5fc91c0689b",
                "56670d90e44e3eaf"
            ],
            [
                "7da7841fbfa49a13",
                "18300968db27b506"
            ]
        ]
    },
    {
        "id": "e2d36019567a5088",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "1d4f8b34e9b2a123",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 1",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2160,
        "y": 80,
        "wires": []
    },
    {
        "id": "adc9837fb872df99",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "a5c2bf128e940f3a",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 2",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2160,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd1e3e51f55206eb",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "84df0b3a72d3c9aa",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 3",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2160,
        "y": 200,
        "wires": []
    },
    {
        "id": "1e77d5fc91c0689b",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "f7b3c712db9a2e4c",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 4",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2160,
        "y": 260,
        "wires": []
    },
    {
        "id": "7da7841fbfa49a13",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "b3e3ed472ab1cc55",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Факт время шага 5",
        "label": "Фактическое время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2160,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa202b25489fc9b2",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "План время шага 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 120,
        "wires": [
            [
                "3e698ad8ca228c44"
            ]
        ]
    },
    {
        "id": "3e698ad8ca228c44",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "1d4f8b34e9b2a123",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 1",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2330,
        "y": 120,
        "wires": []
    },
    {
        "id": "b559bd53444fe97b",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "План время шага 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 180,
        "wires": [
            [
                "ae4a7c55e4959060"
            ]
        ]
    },
    {
        "id": "ae4a7c55e4959060",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "a5c2bf128e940f3a",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 2",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2330,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fc18371c45aa96b",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "План время шага 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 240,
        "wires": [
            [
                "e2a8e510195ef51d"
            ]
        ]
    },
    {
        "id": "e2a8e510195ef51d",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "84df0b3a72d3c9aa",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 3",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2330,
        "y": 240,
        "wires": []
    },
    {
        "id": "56670d90e44e3eaf",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "План время шага 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 300,
        "wires": [
            [
                "3b1c2bec137491aa"
            ]
        ]
    },
    {
        "id": "3b1c2bec137491aa",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "f7b3c712db9a2e4c",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 4",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2330,
        "y": 300,
        "wires": []
    },
    {
        "id": "18300968db27b506",
        "type": "change",
        "z": "f54f1d203647689a",
        "name": "План время шага 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plan",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 360,
        "wires": [
            [
                "2cc9b5a373e6b8b0"
            ]
        ]
    },
    {
        "id": "2cc9b5a373e6b8b0",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "b3e3ed472ab1cc55",
        "order": 3,
        "width": "12",
        "height": "1",
        "name": "План время шага 5",
        "label": "Расчётное время (мс)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 2330,
        "y": 360,
        "wires": []
    },
    {
        "id": "611059a8dcf7f438",
        "type": "ui_button",
        "z": "f54f1d203647689a",
        "name": "Обновить заметки",
        "group": "f2c1a7d9b4e56a01",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Обновить список",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "manualReload",
        "topicType": "str",
        "x": 1880,
        "y": 640,
        "wires": [
            [
                "a2d941e6dddf0a5b"
            ]
        ]
    },
    {
        "id": "1464d2bc6eeea534",
        "type": "ui_form",
        "z": "f54f1d203647689a",
        "name": "Новая заметка",
        "label": "Новая заметка",
        "group": "f2c1a7d9b4e56a01",
        "order": 1,
        "width": "12",
        "height": "0",
        "options": [
            {
                "label": "Текст заметки",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": 5
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "Сохранить",
        "cancel": "Очистить",
        "topic": "addNote",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 1870,
        "y": 700,
        "wires": [
            [
                "3b7b3a5ba761d3ae"
            ]
        ]
    },
    {
        "id": "3b7b3a5ba761d3ae",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Подготовить заметку",
        "func": "const form = msg.payload || {};\nconst rawText = (form.text ?? '').toString().trim();\nif (!rawText) {\n    node.warn('Пустая заметка не сохранена');\n    return null;\n}\n\nconst now = new Date();\nconst timestamp = now.getTime();\nconst displayTime = now.toLocaleString('ru-RU', { hour12: false });\n\nconst versionCode = flow.get('version');\nconst versionDisplay = flow.get('versionDisplay');\nconst versionSource = [versionCode, versionDisplay].find((value) =>\n    typeof value === 'string' && value.trim()\n);\n\nconst note = {\n    id: `note_${timestamp}`,\n    text: rawText,\n    createdAt: timestamp,\n    createdIso: now.toISOString(),\n    displayTime\n};\n\nif (versionSource) {\n    note.version = versionSource.trim();\n}\n\nmsg.note = note;\nmsg.payload = note;\nmsg.topic = 'preparedNote';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 700,
        "wires": [
            [
                "4df88a19194baca8"
            ]
        ]
    },
    {
        "id": "4df88a19194baca8",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Сохранить заметку",
        "func": "const note = msg.note || msg.payload;\nif (!note || typeof note.text !== 'string') {\n    return null;\n}\n\nconst notesFile = flow.get('notesFile');\nif (!notesFile) {\n    node.warn('Файл заметок не настроен');\n    return [null, null];\n}\n\nconst current = flow.get('notes');\nconst notes = Array.isArray(current) ? [...current] : [];\nnotes.unshift(note);\nflow.set('notes', notes);\n\nconst updateMsg = {\n    payload: notes,\n    note,\n    noteCount: notes.length,\n    statusText: `Заметка сохранена (всего ${notes.length})`,\n    topic: 'notesUpdate'\n};\n\nconst fileMsg = {\n    payload: notes,\n    filename: notesFile,\n    topic: 'saveNotes',\n    noteCount: notes.length,\n    statusText: `Заметки сохранены (${notes.length})`\n};\n\nreturn [updateMsg, fileMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2390,
        "y": 700,
        "wires": [
            [
                "09af12285f7057a7"
            ],
            [
                "3a8d5c017db781b2"
            ]
        ]
    },
    {
        "id": "3a8d5c017db781b2",
        "type": "json",
        "z": "f54f1d203647689a",
        "name": "Заметки -> текст",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 2650,
        "y": 740,
        "wires": [
            [
                "2299ee6dd2bbde1c"
            ]
        ]
    },
    {
        "id": "2299ee6dd2bbde1c",
        "type": "file",
        "z": "f54f1d203647689a",
        "name": "Запись заметок",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2860,
        "y": 740,
        "wires": [
            [
                "649dede88d1b6d2e"
            ]
        ]
    },
    {
        "id": "649dede88d1b6d2e",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Сообщить о заметках",
        "func": "const statusText = msg.statusText || `Заметки сохранены (${msg.noteCount ?? 0})`;\nmsg.payload = statusText;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 740,
        "wires": [
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "a2d941e6dddf0a5b",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Загрузить заметки",
        "func": "const notesFile = flow.get('notesFile');\nif (!notesFile) {\n    node.warn('Файл заметок не задан');\n    return [null, { payload: 'Файл заметок не задан' }];\n}\n\nconst statusText = msg.topic === 'manualReload' ? 'Обновление заметок...' : 'Загрузка заметок...';\n\nconst requestMsg = {\n    filename: notesFile,\n    topic: 'loadNotes',\n    source: 'файл'\n};\n\nconst statusMsg = {\n    payload: statusText\n};\n\nreturn [requestMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 640,
        "wires": [
            [
                "7748ba12c17da4a2"
            ],
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "7748ba12c17da4a2",
        "type": "file in",
        "z": "f54f1d203647689a",
        "name": "Чтение заметок",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "utf8",
        "x": 2390,
        "y": 640,
        "wires": [
            [
                "86ec6621f00a4d88"
            ]
        ]
    },
    {
        "id": "86ec6621f00a4d88",
        "type": "json",
        "z": "f54f1d203647689a",
        "name": "Заметки JSON -> объект",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2620,
        "y": 640,
        "wires": [
            [
                "09af12285f7057a7"
            ]
        ]
    },
    {
        "id": "09af12285f7057a7",
        "type": "function",
        "z": "f54f1d203647689a",
        "name": "Применить заметки",
        "func": "const raw = msg.payload;\nconst list = Array.isArray(raw) ? raw : [];\nconst versionDefault = [flow.get('version'), flow.get('versionDisplay')].find((value) =>\n    typeof value === 'string' && value.trim()\n);\n\nconst normalized = list\n    .filter((item) => typeof item?.text === 'string' && item.text.trim() !== '')\n    .map((item) => {\n        const createdAt = Number(item.createdAt) || Date.parse(item.createdIso || '') || Date.now();\n        const text = item.text.toString();\n        const displayTime = typeof item.displayTime === 'string' && item.displayTime.trim()\n            ? item.displayTime\n            : new Date(createdAt).toLocaleString('ru-RU', { hour12: false });\n        const id = typeof item.id === 'string' && item.id.trim() ? item.id : `note_${createdAt}`;\n        const versionRaw = [item.version, item.versionCode, item.versionDisplay]\n            .find((value) => typeof value === 'string' && value.trim());\n        const version = (versionRaw || versionDefault);\n\n        const note = {\n            id,\n            text,\n            createdAt,\n            createdIso: item.createdIso || new Date(createdAt).toISOString(),\n            displayTime\n        };\n\n        if (version) {\n            note.version = version.trim();\n        }\n\n        return note;\n    })\n    .sort((a, b) => b.createdAt - a.createdAt);\n\nflow.set('notes', normalized);\n\nconst statusText = msg.statusText\n    || (msg.topic === 'loadNotes'\n        ? `Заметки загружены (${normalized.length})`\n        : `Заметки обновлены (${normalized.length})`);\n\nconst uiMsg = {\n    payload: normalized,\n    topic: 'notesDisplay'\n};\n\nconst statusMsg = statusText ? { payload: statusText, noteCount: normalized.length } : null;\n\nmsg.payload = normalized;\nmsg.noteCount = normalized.length;\n\nreturn [uiMsg, statusMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2860,
        "y": 640,
        "wires": [
            [
                "26c79a2eaaa77ac7"
            ],
            [
                "2623d0b89e74d4f5"
            ]
        ]
    },
    {
        "id": "26c79a2eaaa77ac7",
        "type": "ui_template",
        "z": "f54f1d203647689a",
        "group": "f2c1a7d9b4e56a01",
        "name": "Список заметок",
        "order": 3,
        "width": "12",
        "height": "0",
        "format": "<div class=\"notes-wrapper\">\n  <div class=\"notes-empty\" ng-if=\"!(msg.payload && msg.payload.length)\">Заметок пока нет.</div>\n  <div class=\"note-entry\" ng-repeat=\"note in msg.payload track by note.id\">\n    <div class=\"note-meta\">\n      <span class=\"note-time\">{{note.displayTime}}</span>\n      <span class=\"note-version\" ng-if=\"note.version\">Версия: {{note.version}}</span>\n    </div>\n    <div class=\"note-text\">{{note.text}}</div>\n  </div>\n</div>\n<style>\n  .notes-wrapper {\n    display: flex;\n    flex-direction: column;\n    gap: 8px;\n  }\n  .note-entry {\n    padding: 8px 10px;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    background: #f9f9f9;\n    word-break: break-word;\n  }\n  .note-meta {\n    font-size: 13px;\n    color: #555;\n    display: flex;\n    flex-wrap: wrap;\n    gap: 12px;\n    margin-bottom: 4px;\n  }\n  .note-time {\n    font-weight: 500;\n  }\n  .note-version {\n    font-weight: 500;\n  }\n  .note-text {\n    white-space: pre-wrap;\n    font-size: 15px;\n  }\n  .notes-empty {\n    font-style: italic;\n    color: #777;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 3120,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "63091136ad236005",
        "type": "ui_text",
        "z": "f54f1d203647689a",
        "group": "3e8b01d31bc4f432",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Версия (главная вкладка)",
        "label": "Версия",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "x": 760,
        "y": 80,
        "wires": []
    }
]